[2019-02-21 01:59] domesticmouse commented on #221
This is a feature request for the API. Please submit [here](https://developers.google.com/maps/support/#issue_tracker).

[2019-02-21 01:59] #221 closed

[2019-02-22 01:19] ricsantos commented on #23
Unfortunately `use_modular_headers!` isn't a solution that will work for everyone (eg me!).

@domesticmouse I noticed that `GoogleMaps` for iOS [now targets iOS 9.0](https://github.com/CocoaPods/Specs/blob/master/Specs/a/d/d/GoogleMaps/3.0.0/GoogleMaps.podspec.json#L14) - does this mean it can now be built as a framework?

[2019-02-22 01:26] rene-dohan commented on #23
yes I had issues with modular headers too... copied sources back to my codebase... its ok for now not ideal but ok...

[2019-02-22 11:40] iKorich commented on #215
I have got same crash

helped that - https://bluearoma.tistory.com/15

need remove

[_mapView addObserver:self
               forKeyPath:kGMUCameraKeyPath
                  options:NSKeyValueObservingOptionNew
                  context:nil];

[_mapView removeObserver:self forKeyPath:kGMUCameraKeyPath];

from init/dealloc and add it on viewDidAppear and remove on viewDidDisappear in VC that contain

[2019-03-02 19:14] SSAbraham opened #222 "Conflict with Firebase"
Hello

As soon as I add "pod 'Google-Maps-iOS-Utils'" to my Podfile, I start getting "'FirebaseAuthInterop/FIRAuthInterop.h' file not found".

Has anyone else seen this?

Thanks
Sam

[2019-03-04 03:34] SSAbraham commented on #222
So I learned a little something.  I ran 'pod try Google-Maps-iOS-Utils' and ran the sample 2.  Everything ran fine until I realized that the target iOS env that the sample project uses is 7.0.  As soon as you upgrade ie change SwiftDemoApp->General->Deployment Info->Deployment Target to 12.1, everything starts to act crazy.  The sample is still using Swift 3 which is deprecated.

[2019-03-04 06:26] iKorich commented on #181
that helped for me - Issue #215

[2019-03-08 01:35] SSAbraham commented on #222
Any love on this?

[2019-03-11 11:42] malavagile commented on #48
Hello @mountainvat,

I did use iconView for cluster and marker but it uses huge memory and CPU.

In Icon view, I am loading images of the user for cluster and marker. Since I am adding images, I have to keep the trackViewChanges property true otherwise it's not reflecting the image downloaded from the server on the map. If I keep turn on the property It takes a huge amount of CPU.

Can you help me

[2019-03-11 13:34] craiggrummitt opened #223 "Fix 'Setup' instructions for Swift"
The readme says:

The [setup](https://developers.google.com/maps/documentation/ios-sdk/utility/setup) section of this guide gives instructions to install with Cocoapods.

The pod for this framework is currently incompatible with Swift, which requires use_frameworks!

Alternative instructions should be provided in the Google Developers site for Swift projects. This problem was noted in [this issue]

[2019-03-12 06:48] malavagile opened #224 "High CPU and Memory usage with trackViewChanges property."
Hello @mountainvat,

I did use iconView for cluster and marker but it uses huge memory and CPU.

In Icon view, I am loading images of the user for cluster and marker. Since I am loading images from the server asynchronously, I have to keep the trackViewChanges property true otherwise it's not reflecting the image downloaded from the server on the map. If I keep turn on the property It takes a huge

[2019-03-13 00:36] mountainvat commented on #48
Using iconView with tracksViewChanges enabled is very expensive since the view needs to be rendered continuously into a bitmap. If your image does not change can you try to download it first and use the normal .icon property?

[2019-03-13 20:20] #215 closed

[2019-03-16 01:45] SSAbraham commented on #222
Is this project supported at all?

[2019-03-18 13:10] malavagile commented on #48
But what if I have many user's data coming from API so first I need to download the image of each of them and then add markers on the map?

Is there any other way to do it?

[2019-04-08 18:19] ivitoria commented on #224
Hi malagavile,

I used to have the same performance problem. What I do now is set trackViewChanges to false until I receive the image of the server. Then, set trackViewChanges to true, change the image and set it to false again. That solves the performance problem.

[2019-04-12 14:34] apouche opened #226 "Animation layout glitch when change GMSMapView frame"
Hi,

There is weird  animation glitch on the `GMSMapView` when updating the frame. The frame is properly updated but after the layout pass is finished, the map seems to relayout again its camera animating again the changes.

I've attached a GIF so that you can see what I mean:

![map-sdk-glitch](https://user-images.githubusercontent.com/528492/56045038-b657ac80-5d40-11e9-81ad-578cc12d5709.gif)

As

[2019-04-12 14:40] fotiDim opened #227 "mapViewSnapshotReady not being called after setDelegate"
After setting the delegate: `clusterManager.setDelegate(self, mapDelegate: self)` the `func mapViewSnapshotReady(_ mapView: GMSMapView)` delegate method of `GMSMapViewDelegate` stops getting called. Weirdly enough the rest of the delegate methods like `mapViewDidFinishTileRendering` keep getting called.

[2019-04-15 01:57] v-ken commented on #140
Started to get this error when updated from Xcode 10.1 to 10.2

[2019-04-15 06:34] waydevin commented on #140
Same here. Had to rollback to the previous verison of GoogleMaps to keep it works.

[2019-04-23 14:07] ArtemBoboshko commented on #216
https://github.com/googlemaps/google-maps-ios-utils/pull/228

[2019-05-08 19:08] Kevin-Xiaoran commented on #213
The default value of renderer.minimumClusterSize is "4". Just reset this value to "2" will simply fix your issue.

[2019-05-10 20:37] Manu-NGL commented on #140
I am getting the same error after I updated from XCode 10.1 to 10.2.....?....Any workarounds for this....?
<img width="1028" alt="Screenshot 2019-05-11 at 2 06 50 AM" src="https://user-images.githubusercontent.com/15637617/57555271-76143a00-7391-11e9-99ee-88160c826e4d.png">

[2019-05-10 20:37] Manu-NGL commented on #140
are you able to solve this.....?

[2019-05-15 07:51] wiktoriatomzik commented on #211
Yeah, I feel like this step by step is not specific enough either. I'd be very thankful for a more detailed guide. For a person that's coming from a JavaScript background to XCode/Swift environment (I'm developing an app with React Native now and I need an integration) this is kinda not enough. I think adding paths where things should be placed (with screenshots preferably) would be really great.

[2019-05-25 07:28] prachiFam commented on #205
Hi I also need the same thing. Could you explain this further

[2019-05-25 12:13] prachiFam commented on #205
I was able to detect click using below code:

you can call this function when mapview is tapped ie. inside below method.
 func mapView(_ mapView: GMSMapView, didTapAt coordinate: CLLocationCoordinate2D)

 func regionIsSelected(coordinates : CLLocationCoordinate2D) throws {
        let path = Bundle.main.path(forResource: "dld_areas", ofType: "json")
        let url = URL(fileURLWithPath: path!)

[2019-06-06 08:56] nightroadcosplay opened #230 "Map viewAngle"
How to set viewAngle to higher degrees?

It is like this:
![IMG_0135](https://user-images.githubusercontent.com/17549655/59020063-e3f93780-8851-11e9-8f3c-7486e9dc5d6d.PNG)

But I wanted to be like this:
![IMG_0136](https://user-images.githubusercontent.com/17549655/59020073-e8bdeb80-8851-11e9-9c9d-742fe586fdd3.PNG)

[2019-06-19 22:54] chocolatesoup commented on #63
In case anyone is looking for the swift version of the renderer:
[code]
`MapClusterItem` is your class (in examples the name is `POIItem`) and `colorAccent` is a `UIColor` of your choice.

[2019-06-22 09:06] bimaldave13 opened #231 "No known instance method for selector 'mapView:didTapPOIWithPlaceID:name:location:'"
HI ,

Thanks for great contribution.
I am trying to merge clustering in my project and during that i am facing error.
Earlier it works fine with swift 3 but when i try to convert it to swift 5 it gives compilation error.

Error :
No known instance method for selector 'mapView:didTapPOIWithPlaceID:name:location:'

Please have look.

thanks

[2019-06-24 11:33] nathjyo opened #232 "Fatal error when loading kml, at let url = URL"
returns fatal error here when loading kml file , any ideas what I'm doing wrong. Thanks

![Screen Shot 2019-06-24 at 9 32 36 pm](https://user-images.githubusercontent.com/37133338/60015766-9db42d00-96c7-11e9-8213-ab47103e5765.png)

[2019-06-26 07:41] nathjyo commented on #232
Any ideas guys this error is doing my head in, swift in a view controller, thanks

[2019-06-27 16:45] chadbrochill317 commented on #212
Hello,
I am also having this problem!

[2019-07-03 02:59] BenjaminCreem commented on #216
Unfortunately I don't think your change fixes the problem. I've put the change into my code, and I still have issues with styling placemarks.

[2019-07-03 08:52] NikKovIos commented on #226
Same here

[2019-07-03 13:58] nathjyo commented on #212
I am also

[2019-07-08 12:02] konstantin-gorbunov commented on #200
any updates related to that issue?

[2019-07-16 12:42] StellarKuldeep opened #234 "How to hide the default red pin while using clustering"
I had load customView in marker iconView and it works fine as display in below screen but I'm unable to hide the GoogleMap default red pin.

![IMG_0039](https://user-images.githubusercontent.com/38131385/61432763-043b0c80-a94f-11e9-97d2-45cbe8909234.PNG)

To hide the GoogleMap default red pin, I have tried this `marker.icon = nil` but it doesn't work.

Please tell me how can I hide this?

[2019-07-18 06:22] #234 closed

[2019-07-27 10:34] StellarKuldeep opened #235 "After updating GMUClusterItem, updated GMUClusterItem is gone from map & come again when zoomOut the map."
I have load multiple pins in `GoogleMap` with clustering and below is my code.

[code]

I want to update the users latitude & longitude inside clusterManagerItems.

I tried the below line to change location data inside `func renderer(_ renderer: GMUClusterRenderer, willRenderMarker marker: GMSMarker){}` but app crashing with this error : **'All items should be mapped to a distance'**

`markerData.

[2019-07-31 07:02] PradnyaAC commented on #122
the render method is not being called anyone please let me know why this is happening

[2019-08-05 13:56] umerasif opened #236 "CRASH gmscore::vector::GMSMarkupPolygonInstance::CreateEntities"
I have not been able to reproduce this crash myself ever but occasionally I see (on crashlytics) user getting this. I feel the frequency of crashing has increased with GoogleMaps version 3.3.0. I am getting this crash for iOS 12 and above.

[code]

[2019-08-09 10:20] matthewdovey commented on #39
I can no longer see the steps for manual installation. Seems to only provide steps for CocoaPods.

[2019-08-17 10:42] delphiy opened #237 "Add a bridging header file with #import "GMUMarkerClustering.h" (note the relative path)."
Hi,
How I do this step

Add a bridging header file with #import "GMUMarkerClustering.h" (note the relative path).

[2019-09-04 05:21] sneps85 commented on #23
Any updates on this?

[2019-09-06 07:53] ivulyov90 commented on #236
I see the same issue with 3.3.0

[2019-09-08 08:38] zarko-via commented on #236
Crash seems to be in very far from earth zoom levels + drawing polygons.

[2019-09-11 14:56] umerasif commented on #236
I have temporarily reverted to version 3.1.0 which is relatively better than this version, as far as the crashes are concerned.

[2019-09-12 03:24] minhmera commented on #135
Hi guys,
 Is there any way to access properties ? i want to change style for each feature with some specific condition

[2019-09-18 14:37] SerhanAksut commented on #226
Could you solve the issue ? @NikKovIos

[2019-09-18 14:40] NikKovIos commented on #226
@SerhanAksut nope

[2019-09-18 20:26] SerhanAksut commented on #226
I've been trying to find a good solution for the issue. If I can find it, I will let you know 👍 @NikKovIos

[2019-09-19 09:46] SerhanAksut commented on #226
Hi everyone,

I have found some solutions to solve the issue. You can find the solution options below;

1) You can take snapshot of mapView before animating and set snapshot `contentMode` property as `center`, then add snapshot as a subView of mapView. When animation starts it will compress snapshot visually. However, you should remove snapshot when the map re-appears. (I' ve choosed this solution

[2019-09-19 14:47] NikKovIos commented on #226
Thank you, ill try if need this in future!

[2019-09-26 21:01] VictorAugustoDn commented on #237
I needed too

[2019-09-30 18:18] jpoehnelt commented on #237
Please direct any further discussion and challenges to https://github.com/googlemaps/google-maps-ios-utils/issues/86.

[2019-09-30 18:18] #237 closed

[2019-10-03 09:03] umair-citrusbits opened #243 "myLocation marker is disappearing on iOS 13.1"
I am using GoogIeMap pod in my app. I have been facing an issue with the mylocation marker disappearing and the only fix is to Reset the location & Privacy in the iPhone settings app.

**Environment details**
OS version: iOS 13.1
GoogleMaps version: 3.1.0
Xcode version: 10.1

**Steps to reproduce**
1. Launch app
2. Select permission "Allow while using"
3. myLocation marker is visible
4. Quit and L

[2019-10-04 06:30] sonxurxo commented on #209
Anyone here who can review this?

[2019-10-07 16:07] jpoehnelt commented on #243
Can you report this here instead: https://developers.google.com/maps/documentation/ios-sdk/support?

[2019-10-07 16:07] #243 closed

[2019-10-12 06:16] zyonnetworks commented on #39
I am getting Undefined Symbol's errors. I following the instructions here https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md. Please help.

`Undefined symbols for architecture x86_64:
  "_OBJC_METACLASS_$_GMSSyncTileLayer", referenced from:
      _OBJC_METACLASS_$_GMUHeatmapTileLayer in GMUHeatmapTileLayer.o
  "_kGMSTileLayerNoTile", referenced from:
      -[GMUHeatmapTileLay

[2019-10-12 18:37] zyonnetworks commented on #23
Any ETA on updating to Framework?

[2019-10-14 18:26] mrsnax commented on #140
Same here GoogleMaps.h still not found :(

[2019-10-15 04:00] zyonnetworks commented on #39
Hopefully this helps someone running into this issue....

When running `pod install`, a library is created for `Google-Maps-iOS-Utils` in PODS, so when you build it will fail. Before following the manual instructions [here](https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md), first comment out the pod dependency from the react-native-google-map podspec, then the manual instru

[2019-10-17 12:05] chris-paterson commented on #199
This is something I am also interested in doing. I'm currently running into `Include of non-modular header inside framework module...`.

[2019-10-20 11:20] hamzabinamin opened #245 "Get all markers present in a cluster."
When didTap cluster function is called, it zooms the camera to one of the markers present inside the cluster but I want to show all the markers that were in that cluster and focus the camera on those markers.

I was able to achieve this in android. However in iOS the google utils sdk doesn't provide a way to get all the items present in a cluster object.

Here's the android code

[code]

What I ha

[2019-10-21 09:09] hamzabinamin commented on #245
@broady @domesticmouse @jum @markmcd Can you please help me with this?

[2019-10-21 18:07] jpoehnelt commented on #245
Hi @hamzabinamin, You should be able to iterate theough the `cluster.items` to compute the bounds and then use `GMSCameraUpdate.fitBounds`.

It makes sense to have a bounds property on the cluster to make this easier.

[2019-10-29 08:10] vikrantrajput opened #246 "Marker decluster at certain zoom level"
Hello, I am working on swift 4 with xcode 10.3. I am using google map with cocoa pods
  pod 'GoogleMaps'
Now I am using cluster functionality in my app. Now I want to de cluster the marker at zoom level 12. So how I can do it in my app. I didn't get any help full code related to my requirement.
Please suggest and help.
Thanks

[2019-11-01 15:08] Avi-Ways opened #247 "GMSMarkers disappearing when zoom"
I am adding 500 markers in google map and using clustering for them. I have used custom GMSMarkers by setting iconView property. It is nicely making clusters and cluster dissolves to create separate markers. But when I am trying to zoom more GMSMarker disappears. I am using swift language for iOS.

[I am adding a link for the exemplary project.](https://github.com/Avi-Ways/Cluster)

[2019-11-02 23:30] #227 closed

[2019-11-02 23:30] #213 closed

[2019-11-02 23:30] #211 closed

[2019-11-02 23:30] #205 closed

[2019-11-02 23:30] #230 closed

[2019-11-02 23:30] #231 closed

[2019-11-02 23:30] #232 closed

[2019-11-02 23:30] #216 closed

[2019-11-02 23:30] #212 closed

[2019-11-03 00:41] #86 closed

[2019-11-03 00:41] #208 closed

[2019-11-03 00:41] #214 closed

[2019-11-03 00:41] #217 closed

[2019-11-03 00:41] #218 closed

[2019-11-03 00:41] #219 closed

[2019-11-03 00:41] #223 closed

[2019-11-03 00:41] #222 closed

[2019-11-03 00:41] #224 closed

[2019-11-03 01:41] #188 closed

[2019-11-03 01:41] #196 closed

[2019-11-03 01:41] #198 closed

[2019-11-03 01:41] #136 closed

[2019-11-03 01:41] #203 closed

[2019-11-03 01:41] #204 closed

[2019-11-03 01:41] #207 closed

[2019-11-03 01:41] #121 closed

[2019-11-03 01:41] #127 closed

[2019-11-03 02:41] #96 closed

[2019-11-03 02:41] #151 closed

[2019-11-03 02:41] #58 closed

[2019-11-03 02:41] #182 closed

[2019-11-03 02:41] #185 closed

[2019-11-03 02:41] #187 closed

[2019-11-03 02:41] #192 closed

[2019-11-03 02:41] #193 closed

[2019-11-03 02:41] #194 closed

[2019-11-03 03:40] #47 closed

[2019-11-03 03:41] #101 closed

[2019-11-03 03:41] #112 closed

[2019-11-03 03:41] #55 closed

[2019-11-03 03:41] #118 closed

[2019-11-03 03:41] #62 closed

[2019-11-03 03:41] #120 closed

[2019-11-03 03:41] #119 closed

[2019-11-03 03:41] #124 closed

[2019-11-05 13:11] #200 closed

[2019-11-06 13:43] abrarEpazz opened #248 "Draggable Polygon"
Hi!, Why polygon has not Draggable feature in iOS and android Google maps? this Is only in javascript. please implement this feature in mobile apps as well.

[2019-11-07 19:50] jpoehnelt commented on #248
Please submit a feature request here: https://issuetracker.google.com/issues?q=componentid:188833%20status:open

[2019-11-07 19:50] #248 closed

[2019-11-08 09:21] Rohit-jft commented on #234
Hi @StellarKuldeep, I appreciate it if you suggest the best possible way to resolve this. We are stuck in this.

[2019-11-18 17:19] vdugnist commented on #226
I fix it with removing animations from GMSMapView layer after changing map view frame.
Here is code for animation removing:
[code]

Usage:
[code]

[2019-11-22 10:36] AbhishekChourasia16690 opened #249 "Error building code using Carthage"
Hello Team,

I'm getting below error while using carthage to build google maps SDK.

Skipped building google-maps-ios-utils due to the error:
Dependency "google-maps-ios-utils" has no shared framework schemes for any of the platforms: iOS

Could you please let me know why I'm getting this error?

And how do I build the framework in my project.

Thanks and Regards,
Abhishek.

[2019-11-26 07:02] #235 closed

[2019-11-28 07:57] #122 closed

[2019-12-02 12:34] markymc opened #250 "Crash in"
#### Environment details

Looks like the Objective C sample crashes when you tap a cluster, at least on iOS simulator with Xcode 11.1.

#### Steps to reproduce

  1. Run the app
  2. Tap on one of the clusters (e.g. 1000+)

#### Code example

Objective C sample from this repo.

#### Stack trace
[code]

[2019-12-04 13:45] aha-swipe commented on #23
This issue is open since 2016. We now have iOS 13, iOS 7 is long gone and history but this has still not been solved.

I must ask, is this lib abandonware or still maintained by Google?

[2019-12-04 13:48] tarikstafford commented on #23
using this fork for now -- https://github.com/aterite/google-maps-ios-utils.git

[2019-12-11 09:40] zarko-via commented on #236
Still happens in latest 3.6.0, thanks.

[2019-12-17 11:29] g012 commented on #227
This is a pretty troublesome issue. It should remain open.

[2019-12-20 05:07] arriolac commented on #249
Carthage is not officially supported by this library yet as Carthage only supports dynamic frameworks (see: https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework). Related to #99.

[2019-12-20 05:16] arriolac commented on #236
Are you able to provide steps to consistently reproduce this?

[2019-12-21 00:14] #209 closed

[2019-12-21 01:31] arriolac commented on #140
Is this still an issue for folks?

[2019-12-25 12:55] zarko-via commented on #236
@arriolac yes, polygons are drawn. One should zoom out multiple times (pinch in), while getting close to the most far away from the ground zoom level, the crash happens consistently.

[2020-01-09 07:23] yuoppp commented on #39
@zyonnetworks
react-native-maps podspec already has `Google-Maps-iOS-Utils` dependency. In my case, when I comment out the `Google-Maps-iOS-Utils` in my Podfile, `Google-Maps-iOS-Utils` still installs and xcode uses the files from pods.

How did you solve that?

[2020-01-11 00:57] arriolac commented on #250
Thanks for reporting—just verified that a crash occurs. Could use some help with patching a fix for this.

[2020-01-13 17:13] arriolac commented on #140
Closing this issue. Please reopen and specify repro steps if it still occurs.

[2020-01-13 17:13] #140 closed

[2020-01-13 20:28] arriolac commented on #199
There's an answer on Stackoverflow related to this issue: https://stackoverflow.com/a/28552525 @bussalleu2 @chris-paterson. Does this help?

[2020-01-13 22:58] #250 closed

[2020-01-14 19:22] arriolac commented on #245
@hamzabinamin here's how it would look like in Obj-C:

[code]

[2020-01-14 19:22] #245 closed

[2020-01-14 22:23] arriolac commented on #246
You should be able to prevent marker clustering once a certain zoom level is passed by using the `maximumClusterZoom` property on the **GMUDefaultClusterRenderer** object. Can you confirm that this is what you need @vikrantrajput?

[2020-01-15 17:19] arriolac commented on #226
@apouche the issue you are seeing is an issue related to `google-maps-sdk-ios`, not `google-maps-ios-utils`.

If the solutions proposed in this thread does not resolve your issue, we recommend looking at Stack Overflow under the [google-maps-sdk-ios](http://stackoverflow.com/questions/tagged/google-maps-sdk-ios) tag. Or alternatively, filing a bug through our [Issue Tracker](https://issuetracker.g

[2020-01-15 17:19] #226 closed

[2020-01-15 18:22] arriolac commented on #236
Based on the stacktrace you shared, it appears that this issue is related to the `google-maps-sdk-ios` library, not `google-maps-ios-utils`. We recommend looking at Stack Overflow under the [google-maps-sdk-ios](http://stackoverflow.com/questions/tagged/google-maps-sdk-ios) tag, or alternatively, by searching through or filing an issue on Google's [Issue Tracker](https://issuetracker.google.com/is

[2020-01-15 18:22] #236 closed

[2020-01-15 21:00] arriolac commented on #135
@juvs you should be able to access the properties of a feature, it requires some type checking though since `geoJsonParser.features` is of type `[GMUGeometryContainer]` and not `[GMUFeature]`.

i.e.
[code]

[2020-01-15 21:04] arriolac commented on #135
Closing. Please reopen if this does not resolve your issue.

[2020-01-15 21:04] #135 closed

[2020-01-16 09:51] loghozinsky opened #257 "Use of undeclared type 'GMUClusterManager'"
#### Environment details

1. Google Maps Utils - clusters
2. iOS 11.2 - 13.3
3. Latest availability

#### Steps to reproduce

  0. Need Google Maps with Clusters

  1. Working with CocoaPods
  2. Library "Google-Maps-iOS-Utils" installs "correctly" (without "use frameworks" in Podfile)
  3. Project didn't see the GMUClusterManager or other types

#### Code example

My project:
import UIKit
import

[2020-01-16 16:33] arriolac commented on #257
You are missing an import statement in your ViewController.

[code]

[2020-01-17 06:04] developerawt opened #258 "Place autocomplete closed automatically without any log while typing"
I am using google place autocomplete UI Control (https://developers.google.com/places/ios-sdk/autocomplete#add_an_autocomplete_ui_control) and getting a problem when user starts typing in search bar it closes automatically

I am using google Places Pod (version 3.7.0) and google map Pod(version 3.7.0)
previously it is working good but when I updated both the pods then I am getting this problem
and

[2020-01-17 17:12] arriolac commented on #258
Yikes—that does seem like a bad 🐛

I'm closing this issue though because it is not related to this library. Please refer to [GMP support page](https://developers.google.com/maps/support/) for how to best receive help for this issue.

[2020-01-17 17:12] #258 closed

[2020-01-17 17:17] arriolac commented on #246
Please reopen if you find that the approach I mentioned doesn't work for your use case.

[2020-01-17 17:17] #246 closed

[2020-01-17 19:46] #257 closed

[2020-01-22 13:28] Albinzr commented on #176
@PatoSalazarNascent What work around did you find?

[2020-01-24 10:22] paymand commented on #236
OK, thanks! Reported here: https://issuetracker.google.com/issues/148238890

[2020-01-25 00:17] arriolac commented on #23
This issue is resolved in branch `3.x`. The actual fixed version `3.0.0` will be released to CocoaPods soon.

In the meantime, if you want to test this you can include the following in your `Podfile`.

[code]

[2020-01-25 00:38] arriolac commented on #247
@Avi-Ways looks like the markers were disappearing because this line was being called when the map view would be idle:

https://github.com/Avi-Ways/Cluster/blob/master/Cluster/ViewController.swift#L92

Removing that line fixes it.

[2020-01-25 00:38] #247 closed

[2020-01-28 15:01] kikettas commented on #249
Well, Carthage actually does support `static` frameworks since 0.30.1, and having support for Carthage would be pretty awesome for this library. Also, I saw that you became very active in the repo lately @arriolac, any plans on releasing a new stable version for the library?

[2020-01-28 17:36] arriolac commented on #249
@kikettas good to know about Carthage. I agree that it'd be good to add support for this.

I'm doing an audit of all the commits pushed since the last release (2.1) and am planning on pushing out a `3.0` stable release in the next day or so. Stay tuned.

[2020-01-28 18:13] kikettas commented on #249
Wow, that sounds great! Looking forward to seeing what's next!

[2020-01-28 21:36] arriolac commented on #23
🎉 [v3.0.0](https://github.com/googlemaps/google-maps-ios-utils/releases/tag/v3.0.0) has been published to CocoaPods.

e.g.

[code]

[2020-01-28 21:36] #23 closed

[2020-01-28 21:36] arriolac commented on #249
Released [v3.0.0](https://github.com/googlemaps/google-maps-ios-utils/releases/tag/v3.0.0) 🎉

[2020-01-29 07:12] kikettas commented on #249
Cool! Nice job @arriolac, our team was looking forward to this! 💯 Will the Carthage support be the next step? 😉

[2020-01-29 16:28] arriolac commented on #249
Thanks!

Adding Carthage support is definitely something on my list but it's probably not something I can get to yet right away. Contributions are always welcome 😃

[2020-02-11 18:14] nayooti commented on #199
I think this has been fixed in #183

[2020-02-11 19:02] #199 closed

[2020-02-13 04:07] arriolac opened #267 "Fix failing tests GMUGeoJSONParserTest.testParseFeature and GMUGeometryRendererTest.testRenderPolygon"
Both `GMUGeoJSONParserTest.testParseFeature` and `GMUGeometryRendererTest.testRenderPolygon` are tests that are failing in the UnitTest target. It appears that the failures are likely due to class duplication in memory. For example, I was able to verify that there exists 2 different `GMSCoordinateBounds` while checking the class hash value for two different instances of `GMSCoordinateBounds`. I do

[2020-02-13 12:49] zubair-ets opened #269 "How to change icon on cluster item or set specific cluster marker to selected?"
I have a tableView and map view on same screen.
table is showing all custom objects and from these objects I have rendered clustering and add markers via clusterManager.

Initially I can change icons from below method
- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker
// check if cluster item and then setting images ... etc...

that is good and I can show my obj

[2020-02-14 03:07] arriolac commented on #269
`GMUDefaultClusterRenderer` has a `markers` property (currently a private property but exposed for testing). See: https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/View/GMUDefaultClusterRenderer.m#L42

Does this accomplish what you need? This is perhaps something we can expose but need to assess if it makes sense to do so since it was hidden by design. Another way is t

[2020-02-14 10:29] zubair-ets commented on #269
@arriolac thanks for your response. Yes this markers `array` in `GMUDefaultClusterRenderer` helped me a lot and I have achieved my goal. Please expose it in `GMUDefaultClusterRenderer.h` file so that we can get this array directly on renderer.

Currently I am getting this as

    NSString *refMethodName = @"markers";
    SEL selector = NSSelectorFromString(refMethodName);
    if ([renderer respond

[2020-02-14 17:23] arriolac commented on #193
Relates to #269

[2020-02-18 15:06] nathjyo opened #270 "Kml files not displaying properly"
kml files not displaying properly in app

Kml files created in google earth pro, will display info in the bubble correctly and will also display correctly in google maps android.

But when using the same kml file in Xcode it displays empty bubble windows.

Is there a specific way the kml file needs to be compiled for GMS iOS

Thanks

[2020-02-18 16:30] arriolac commented on #270
Hi @nathjyo, thanks for reporting.

Would you mind sharing the KML file you generated so I can look into this more? Perhaps some screenshots would help, too.

[2020-02-26 17:37] peterent commented on #39
This link, referenced several times on this pages, does not exist:
https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md

[2020-02-26 17:40] #269 closed

[2020-02-26 17:46] arriolac commented on #39
@peterent that file was removed since this Pod should install correctly with Swift now. Are you encountering issues?

[2020-02-27 18:09] arriolac commented on #269
This is available in 3.0.1

[2020-02-28 20:53] rene-dohan opened #275 "Should not be tied to specific version of google maps like now 'GoogleMaps', '~> 3.7.0' in podspec"
But rather could use 'GoogleMaps', '~> 3.7' so Google Maps can be updated without changes to this library.

[2020-03-02 09:12] Mina-M-Malak opened #276 "How can I get GMSPath from GMUKMLParser so I can use this function GMSGeometryContainsLocation ?"
I am trying to use GMSGeometryContainsLocation to check if this coordinates inside the polygon that I got from GMUKMLParser but this function require GMSPath so How. can I get it ?!

[2020-03-02 18:42] arriolac commented on #276
@Mina-M-Malak you should be able to inspect the property `parser.placemarks` after invoking the `parse` method on a `GMUKMLParser`. Assuming one of the parsed properties is an instance of `GMUPolygon`, you can then get the paths via `polygon.path`.

[2020-03-02 20:38] #275 closed

[2020-03-02 22:41] arriolac commented on #275
This will be fixed in version 3.0.2. I plan on releasing that later this week.

Thanks for reporting!

[2020-03-03 10:02] ginesdeka opened #278 "KML file isn't renderer correctly."
Hi,

I am rendering a file using GMUKMLParser and GMUGeometryRenderer and the place marks icons and route style aren't render correctly. I have attached the file. In Android works fine.

Thanks

[VALENCIA.kml.zip](https://github.com/googlemaps/google-maps-ios-utils/files/4280627/VALENCIA.kml.zip)

[2020-03-03 12:41] mahesh-khokhar opened #279 "Google watermark not changed"
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Google Maps Platform [support resources page](https://developers.google.

[2020-03-03 17:49] arriolac commented on #279
HI @mahesh-khokhar, can you clarify what this issue is about?

[2020-03-05 06:31] mahesh-khokhar commented on #279
![GOOGLE_MAPS_SCREENSHOT17_1](https://user-images.githubusercontent.com/45679405/75954149-6fc8ee80-5ecc-11ea-82c9-4f364985c030.png)

I need this

[2020-03-05 06:33] mahesh-khokhar commented on #279
How can something like that be accomplished?
![QXEg4m](https://user-images.githubusercontent.com/45679405/75954258-ba4a6b00-5ecc-11ea-9830-b3c43735552d.jpg)

[2020-03-05 12:52] mallikarjuna0308 commented on #135
Hi arriolac, I tried the above you provided. But it throws an error "Use of undeclared type 'GMUFeature' ". Could you suggest some other way to access properties?

[2020-03-05 13:06] mallikarjuna0308 opened #280 "How to use GMSGeometryContainsLocation for GeoJsonParser"
I have drawn some polygons on the google map using geojson. Now whenever the user long presses on the map, I want to check whether the long press was in the polygon or not. But unable to convert GMUFeature to GMSPath to use in GMSGeometryContainsLocation. Could anybody suggest me how to do this?

[2020-03-05 16:44] arriolac commented on #279
Unfortunately that is not something the utilities library handles. I suggest checking on [Stack Overflow](http://stackoverflow.com/questions/tagged/google-maps) to get a better response for what you are trying to accomplish.

[2020-03-05 16:44] #279 closed

[2020-03-05 16:52] arriolac commented on #135
@mallikarjuna0308 can you share a code snippet? The code I shared above runs just fine assuming the right import statements are in place.

[2020-03-05 17:06] arriolac commented on #280
@mallikarjuna0308 you can access the `geometry` object of the `GMUFeature` and get the path that way. Note that you will have to check the type of the `GMUGeometry` to ensure it contains a `GMSPath`.

e.g.

[code]

[2020-03-06 05:56] mallikarjuna0308 commented on #135
Thank you @arriolac for your response. I did not import anything, when I'm trying to import Google-Maps-iOS-Utils, it is throwing an error. Since I did not import any thing, I might be facing error while using your code. Could you please let me know what and where to import the library? If I still face the issue, I would share the code with you.
Note: I have used cocoapods to integrate Google-Maps

[2020-03-06 17:11] arriolac commented on #135
You need to do the following at the top of your `.swift` files:
[code]

or at the top of your `.m` files for Obj-C:
[code]

You can refer to our samples directory to see how it's used: https://github.com/googlemaps/google-maps-ios-utils/tree/master/samples

[2020-03-06 18:05] arriolac commented on #143
I just tested our sample here and was able to see a heatmap rendered: https://github.com/googlemaps/google-maps-ios-utils/blob/master/samples/SwiftDemoApp/SwiftDemoApp/HeatmapViewController.swift

@RishabhTayal can you share more details and/or a code snippet?

[2020-03-06 18:06] RishabhTayal commented on #143
Update: The heatmaps were actually showing. They were too small to see. Everything is good.

[2020-03-06 18:06] #143 closed

[2020-03-06 18:07] RishabhTayal commented on #143
Thanks for follow up.

[2020-03-06 22:40] arriolac commented on #278
Thanks for reporting. I haven't had a chance yet to look into this, but I plan on doing so. In the meantime, contributions are certainly welcome.

[2020-03-06 22:41] arriolac commented on #270
Closing this in favor of tracking this issue in #278.

[2020-03-06 22:41] #270 closed

[2020-03-06 23:41] #276 closed

[2020-03-06 23:42] #280 closed

[2020-03-07 10:08] LucaJeevanjee commented on #16
This worked for me. Thank You. I've been trying to fix for ages

[2020-03-10 07:19] mallikarjuna0308 commented on #135
Hi @arriolac, sorry for the late reply. I tried to import GoogleMapsUtils as you mentioned above, but it's throwing an error " No such module 'GoogleMapsUtils' ". I have gone through the link you provided above too but still the error still persists. Could you please help me in this regard?

[2020-03-10 13:07] LucaJeevanjee opened #284 "Heatmap rendering crashes iOS when adding custom HeatmapGradient"
Using a branch of flutter_google_maps with an implemented heatmap layer

I am running on iOS 13.3 iPhone XS emulator and on iPad Pro

I am currently able to display a heatmap in my app using this however when I add the `gradient` parameter, it seems to cause the app to crash when it tries to render the heatmap

The error I am getting is this:

`*** First throw call stack:
(
	0   CoreFoundation

[2020-03-10 15:47] arriolac commented on #284
Hi @LucaJeevanjee, can you fill out the questions in the above issue template? This'll help us debug the issue so we can address it. Thanks!

[2020-03-10 17:52] arriolac opened #285 "KML should display correct color style for a given placemark"
Expected:
The polyline should be #ff0000ff (red).

Actual:
It's blue/purple
![Simulator Screen Shot - iPhone 8 - 2020-03-10 at 10 47 17](https://user-images.githubusercontent.com/463186/76343264-16423480-62bd-11ea-9c51-7301bca57b8a.png)

KML File:
[valencia.kml.zip](https://github.com/googlemaps/google-maps-ios-utils/files/4313947/valencia.kml.zip)

Relates to #278

[2020-03-10 17:55] arriolac opened #286 "Marker description from KML is cut off"
**Expected**
The marker info should display the full description as specified in the KML file and also images should be fetched where needed.

**Actual**
![Simulator Screen Shot - iPhone 8 - 2020-03-10 at 10 47 17](https://user-images.githubusercontent.com/463186/76343648-a5e7e300-62bd-11ea-9e60-b18acd08cf42.png)

Relates to #278

[2020-03-10 17:57] arriolac commented on #278
To match what's displayed on Android, I've filed #285 and #286 @ginesdeka Take a look and see if those are the issues that you meant. Note that the marker on Android is also the default one (red pin).

[2020-03-11 07:38] mallikarjuna0308 commented on #135
Hi @arriolac, my problem got resolved. I used cocoapods to integrate this library and also added in library in Bridging-Header.h file as suggested in this link: https://developers.google.com/maps/documentation/ios-sdk/utility/kml-geojson
After commenting in header file, everything started working fine. Thanks a lot for your support @arriolac.

[2020-03-11 15:17] arriolac commented on #135
@mallikarjuna0308 glad you were able to get that working. Curious what version of this library are you using?

[2020-03-12 05:12] mallikarjuna0308 commented on #135
@arriolac I'm using 'Google-Maps-iOS-Utils', '~> 3.0.2'

[2020-03-12 16:13] LucaJeevanjee commented on #284
I edited the issue to answer the questions

[2020-03-25 16:50] #285 closed

[2020-03-29 09:01] MujtabaFR commented on #39
@peterent here is the new link ..
[https://github.com/googlemaps/google-maps-ios-utils/blob/b721e95a500d0c9a4fd93738e83fc86c2a57ac89/Swift.md](https://github.com/googlemaps/google-maps-ios-utils/blob/b721e95a500d0c9a4fd93738e83fc86c2a57ac89/Swift.md)

[2020-03-30 15:55] arriolac commented on #39
Just to clarify, the old `Swift.md` instructions should no longer apply. If you have a Swift app, you can use this library directly through CocoaPods and no longer have to copy all the files.

[2020-04-06 00:09] malomartin opened #289 "Customize cluster distance points in GMUNonHierarchicalDistanceBasedAlgorithm"
Thanks for stopping by to let us know something could be better!

---
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Go

[2020-04-06 02:41] kushalpal17 opened #290 "App crash"
pod version GoogleMaps (3.8.0)

https://stackoverflow.com/questions/52182577/ios-google-maps-sdk-crashing?rq=1

[2020-04-06 17:24] arriolac commented on #289
Agreed that customizing this would be good. Feel free to submit a PR for this.

[2020-04-06 17:27] arriolac commented on #290
Hi @kushalpal17, sorry that you are seeing a crash in your app. Since it's not related to this library (iOS utils), the open issue in https://issuetracker.google.com/113978690 would be the best place to receive support.

[2020-04-06 17:27] #290 closed

[2020-04-06 19:08] malomartin commented on #289
Already tried. I can't push on the repo 🤷‍♂

[2020-04-08 16:59] #289 closed

[2020-04-08 17:27] arriolac commented on #289
This is available on [3.1.0](https://github.com/googlemaps/google-maps-ios-utils/releases/tag/v3.1.0).

[2020-04-09 16:09] arriolac opened #292 "[Build]: Upload GoogleMapsUtils.xcframework as an artifact on a new release"
**Is your feature request related to a problem? Please describe.**
Users should be able to download the `.framework` on a new release.

 **Describe the solution you'd like**
Update the `release.yml` github action workflow so that this is done automatically on a new release.

 **Describe alternatives you've considered**
Manually doing it.

 **Additional context**
In the Discord channel, fawaz reque

[2020-04-09 16:23] arriolac commented on #284
HI @LucaJeevanjee, I have not been able to reproduce your bug. On the `SwiftDemoApp` project I tested similar parameters as yours. See 2a8057f.

Curious how you are using the library? The code snippet you shared is not Swift nor Objective-C. If you can give me more info on how you are integrating the library that might help. The stacktrace you shared implies missing symbols.

[2020-04-09 16:27] arriolac opened #293 "[Build]: Add publish.yml workflow"
**Is your feature request related to a problem? Please describe.**
Create a `publish.yml` workflow so that a new tag pushes to CocoaPods.

 **Describe alternatives you've considered**
Using Travis

 **Additional context**
Since commit 9fffbde, semantic release was added.

[2020-04-10 09:23] LucaJeevanjee commented on #284
I am using `flutter` with a custom branch of `google-maps-flutter` which has the heatmap feature. The heatmap seems to be working on android and ios without a `gradient` parameter.

[2020-04-10 13:26] fawazbabu commented on #292
Hi Arriolac,

Could you please release a nuget beta version of this fix for the Xamarin.iOS

[2020-04-10 21:11] arriolac commented on #292
@fawazbabu Xamarin and nuget is not a distribution mechanism we officially support. It looks like the version(s) there were uploaded by community contributors several years ago. You are more than welcome to use the `.framework` here: https://github.com/googlemaps/google-maps-ios-utils/releases/tag/v3.1.0 directly.

[2020-04-16 00:41] arriolac commented on #284
Interesting! The Flutter version of this library is not something we maintain in this GitHub org.

Are you referring to this package https://pub.dev/packages/google_maps_flutter_heatmap ? If so, perhaps filing an issue in the repo linked there would allow you to receive better support.

[2020-04-16 12:57] WatchmanDoor opened #294 "This application is modifying the autolayout engine from a background thread"
#### Environment details
Google Maps ios utils
iPhone SE iOS 13.4
Library version 3.1.1

#### Description
I have an iOS app that use Google Maps to show a map with different clusters. The crashes after show map an load some markers with this message:

"This application is modifying the autolayout engine from a background thread after the engine was accessed from the main thread. This can lead to e

[2020-04-20 17:54] arriolac commented on #294
It's not clear from the stack trace that you shared that the exception is caused by one of the clustering classes. Can you confirm that this is the case?

[2020-04-22 11:51] WatchmanDoor commented on #294
I'm not saying that it's an error from a clustering class, but the error triggers once I load some markers. I make sure that all my callbacks are been handle from DispatchQueue.main.async {} if needed.
I put nslog in all my functions to see if a previous call provokes the error, but also is not the case.

[2020-04-23 16:59] required-files-bot[bot] opened #295 "Required File: .github/CODEOWNERS"
The following file is missing from this repository: **.github/CODEOWNERS**

Do not edit below:
meta: [.github/CODEOWNERS]

[2020-04-24 00:11] ufoloko commented on #39
No, is not working, im having same issue too

[2020-04-24 12:15] WatchmanDoor commented on #294
After a few mails with Apple DTS they also suspect that it's an error with Google Maps Markers, but don't know where. This is one of their last mails:

[2020-04-24 17:06] arriolac commented on #294
Thanks for the update.

Can you share a code snippet of your code for how you are using `GMUClusterManager`? Following the code path for `GMUClusterManager:cluster` seems to indicate that markers are added in the same thread where `GMUClusterManager:cluster` is invoked. I'm curious if you are also seeing this error w/o using clustering in which case the exception may be coming from the Maps SDK fo

[2020-04-27 06:04] WatchmanDoor commented on #294
This methods initialize the mapView and clusterManager, and are called from viewDidLoad:

`private func initMapView() {
        DispatchQueue.main.async {
            self.mapView.isMyLocationEnabled = false
            self.mapView.setMinZoom(4, maxZoom: 20)
            self.mapView.clear()
            self.mapView.isMyLocationEnabled = true
            self.mapView.isBuildingsEnabled = false

[2020-04-27 20:52] arriolac commented on #294
Nothing immediately stands out from the code snippet you shared. Seems like that should work. I'm assuming the `DispatchQueue.main.async` calls are an attempt to mitigate the crash? (Those shouldn't be necessary assuming the invocations of those methods you shared is done on the main thread.

I meant, are you able to reproduce this crash without using `GMUClusterManager` to add markers to the map?

[2020-04-28 05:06] WatchmanDoor commented on #294
Thanks for your replay.

I tried to load the map without > GMClusterManager
but it crashes as well.

[2020-04-28 05:08] WatchmanDoor commented on #294
Yes, is to make sure that are called into the main thread, but aren't necessary as you pointed out.

Thanks for your replay.

I tried to load the map without GMClusterManager but it crashes as well.

[2020-04-28 17:50] arriolac commented on #294
Thanks. That confirms my suspicion that the crash was originating from Maps SDK. Can you file a new issue on the [Maps SDK for iOS Issue Tracker](https://issuetracker.google.com/issues/new?component=188833&template=789005)? You can link this GitHub issue to help our team resolve this bug.

[2020-04-29 05:25] WatchmanDoor commented on #294
Thanks.
I just opened and issue at Maps SDK for iOS:

[https://issuetracker.google.com/issues/155218363](https://issuetracker.google.com/issues/155218363)

[2020-04-29 16:53] #249 closed

[2020-04-29 16:55] arriolac commented on #99
This is now supported. See [Carthhage.md](https://github.com/googlemaps/google-maps-ios-utils/blob/master/Carthage.md).

[2020-04-29 18:26] kikettas commented on #249
Dope! @arriolac

[2020-04-29 18:47] arriolac opened #297 "Officially support Carthage for Maps SDK for iOS"
This is an issue to track community input and feedback on officially supporting Carthage as a dependency manager for the [Maps SDK for iOS](https://developers.google.com/maps/documentation/ios-sdk/intro) library. Note that this issue does not pertain to this utility library as [Carthage](https://github.com/googlemaps/google-maps-ios-utils/blob/master/Carthage.md) is already supported.

 **Is your

[2020-04-29 18:50] arriolac commented on #249
@kikettas lmk if you run into any issues with it. There's also a silent additional feature in there... including this library via Carthage will also pull in the Maps SDK for iOS binaries (see the [Cartfile](https://github.com/googlemaps/google-maps-ios-utils/blob/master/Cartfile#L1)). If we can get enough community excitement around this, perhaps this is something we can officially support. I file

[2020-04-30 13:49] kikettas commented on #297
This would definitely be a huge deal for our team and would make it easier and faster for us to update to the latest version. We know that the Carthage project is a kind of _[abandoned](https://github.com/Carthage/Carthage/issues/2925)_, but for us, it's way too soon to migrate to SPM (binaries are not yet supported though we can expect that for the next Xcode release in June).
So, thanks for cons

[2020-04-30 17:47] arriolac commented on #297
Ah, yeah I was looking into SPM support and was a bit disappointed to see that binaries are not yet supported. I'll be keenly waiting for that.

[2020-05-02 00:43] arriolac opened #298 "Pass GMSMarker in GMUClusterManagerDelegate methods"
**Is your feature request related to a problem? Please describe.**
When one of the methods in `GMUClusterManagerDelegate` is invoked, the corresponding `GMSMarker` object is not passed through which makes it difficult to map what the originating `GMSMarker` originated the click.

 **Describe the solution you'd like**
Provide a 3rd property in both methods. The new methods should have the following

[2020-05-04 20:00] #284 closed

[2020-05-04 23:39] amuramoto commented on #298
It appears we won't need to do this since everything falls through to `- (BOOL)mapView:(GMSMapView *)mapView didTapMarker:(GMSMarker *)marker` but we a major issue IMO is that there's no way to pass instances of `GMSMarker` to the clusterer (even though the cluster manager uses this to implement `GMUCluster` and `GMUClusterItem`.

Probably the most straightforward way to do this is to add an `addM

[2020-05-13 00:16] michael-mckenna opened #300 "Google Maps/Maps Util: Problems with GMSMarker title & Cluster Renderer"
#### Environment details

1. Specify the API at the beginning of the title (for example, "Places: ...")
2. OS type and version: iOS 13
3. Library version and other environment information Google Maps 3.8.0, Google Maps Utils 3.1.2

#### Steps to reproduce

  1. Download the binaries via Carthage `github "googlemaps/google-maps-ios-utils"       ~> 3.1.2`
  2. Create a GMSMarker
  3. Try to set the

[2020-05-13 00:27] michael-mckenna commented on #300
I was able to avoid the crash by adding a "title" property to my `POIItem` class that implements `GMUClusterItem`. UNLESS I do `marker.setValue("hi", forKey: "title")` which feels dirty.

[2020-05-13 00:32] arriolac commented on #300
Confirmed the crash. Will have a patch in a few. Thanks for reporting!

[2020-05-13 00:44] michael-mckenna commented on #300
That was quick, thanks! Also will the patch fix the issue preventing me from setting the marker title by doing “marker.title = ...”?

[2020-05-13 00:54] arriolac commented on #300
No—the upcoming patch will address the crash but it will not allow you to do that as all of the properties within `GMUClusterItem` are deliberately defined as readonly. This is much safer and it's a pretty consistent pattern across this library. If you do need to change the title after it has been added into the `GMUClusterManager`, I recommend removing it and adding it back.

[2020-05-13 01:27] michael-mckenna commented on #300
Sorry I wasn’t more explicit in my question. I am actually referring to setting the title in GMSMarker. According to the example in the docs here https://developers.google.com/maps/documentation/ios-sdk/marker I should be able to set the title.

If this is not related to the above issue, please let me know and I can instead submit a new issue on google maps repo.

[2020-05-13 01:41] arriolac commented on #300
Ah, yes you should be able to. Can you send a larger snippet so I'm able to understand the context?

[2020-05-13 01:41] #300 closed

[2020-05-13 09:56] WatchmanDoor commented on #294
So I think I found where the error came from. When I received the response from my API with the asset list, I create a MapInfoModel like this:

`private func generateMapInfo(assets: [APIAssetModel]) -> MapInfoModel {
    var markers = [ClusterMarkerItem]()
    var locations = [CLLocationCoordinate2D]()
    assets.forEach({ asset in
        if nil != asset.lat && nil != asset.lng {
            if a

[2020-05-13 17:14] michael-mckenna commented on #300
@arriolac Yep.

So let's say you are doing some basic set up with a marker.
[code]

This will fail to build as Xcode gives an error `Cannot assign to property: 'title' is immutable`.
This happens regardless of what constructor is used when instantiating a `GMSMarker`.

[2020-05-13 17:37] arriolac commented on #300
@michael-mckenna I see what you mean now. Looks like the `readonly` keyword on the `GMSMarker+ClusterItem` is what's causing that. Will have a fix shortly.

[2020-05-13 17:55] arriolac commented on #294
It looks like this same message was sent in the public issue tracker you linked. Since this particular bug is related to Maps SDK for iOS and not the Utility library, I'd prefer for updates w/ this issue to stay within that channel to keep issues here very focused on this library. Closing this.

[2020-05-13 17:55] #294 closed

[2020-05-13 21:29] arriolac commented on #300
@michael-mckenna can you confirm that 3.1.4 addresses the bug you were seeing?

[2020-05-13 22:28] michael-mckenna commented on #300
@arriolac LGTM. Thanks for the swift responses!

[2020-05-13 23:05] HuseyinVural commented on #236
the problem continues, i get crash when i drop the zoom level quickly

[2020-05-15 16:40] #295 closed

[2020-05-26 17:45] arriolac commented on #297
Carthage is officially supported starting version 3.9.0. See: https://developers.google.com/maps/documentation/ios-sdk/start#use-carthage

[2020-05-26 17:45] #297 closed

[2020-05-26 18:18] kikettas commented on #297
Great work @arriolac! 💯 👏

[2020-06-01 15:46] Gustavopcaiafa commented on #135
Hi there and sorry to reopen this, but i am facing something simmilar.

I'm trying to show the title of the area using GeoJson but somehow it just doesn't shows on the map. Im using iOS 11.0 and pod Google-Maps-iOS-Utils 3.1.4 & GoogleMaps 3.9.0

I just posted on StackOverflow with more details : [https://stackoverflow.com/questions/62135450/cannot-display-title-in-googlemaps-geojson-swift](url)

[2020-06-01 17:18] Gustavopcaiafa opened #304 "Title not showing in GeoJson feature"
Hi there.

I'm trying to show the title of the area using GeoJson but somehow it just doesn't shows on the map. Im using iOS 11.0 and pod Google-Maps-iOS-Utils 3.1.4 & GoogleMaps 3.9.0

I just posted on StackOverflow with more details : https://stackoverflow.com/questions/62135450/cannot-display-title-in-googlemaps-geojson-swift

if someone can help i'll be very gratefull. Thanks !

[2020-06-01 18:53] arriolac commented on #304
I don't see a title or label referenced in the Geo JSON file you shared in the Stackoverflow post. Where/what do you expect it to show?

[2020-06-01 18:59] Gustavopcaiafa commented on #304
Yes, you are correct, there's no tittle in the GeoJson but i am setting it manually in the geoJsonParser, looping through features, setting it in feature.style, so it should work and show the title in the area i just rendered, right?
Also, do you know exacly how it should be in the GeoJson so it would render automatically?

[2020-06-01 20:19] arriolac commented on #304
The title will only be applied in that case if the feature is of type "Point" and not of type "Polygon" (see: https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Geometry/GMUGeometryRenderer.m#L190...L196).  Polygons do not support displaying the title on the map.

You should still be able to listen to tap events on the map though and display the title that way.

[2020-06-01 20:19] #298 closed

[2020-06-02 11:26] Gustavopcaiafa commented on #304
Oh! Im farly new to this framework, I didn't know that,  sorry.

But then how can i achieve someting like this, with some kind of title showing in that area? I tought it was the title attribute. Should i use an overlay?

![image](https://user-images.githubusercontent.com/29412585/83514348-dba9fb80-a4a9-11ea-8809-0f8de5575bb1.png)

[2020-06-02 16:55] arriolac commented on #293
Done in c9b72a8

[2020-06-02 16:55] #293 closed

[2020-06-04 11:28] arunchaitanya24 opened #305 "Support for swift package manager (SPM)"
Given now Swift package manager is in Xcode, can we add SPM to Google Maps project.

[2020-06-25 11:57] andrey-lisovskiy commented on #236
Still reproduces on Google Maps SDK for iOS 3.9.0.0

[2020-06-28 19:02] just4give opened #306 "Unexpectedly found nil while implicitly unwrapping an Optional value: file"
Hi,
I was following the swift code in the sample and while running, getting above error at below line

[code]
[code]
I must be doing something silly as newbie to Swift language. Can anyone please guide me what could be wrong here?

It seems json was  read and features count displayed 6 as expected using below code.

[code]

[2020-06-28 20:03] #306 closed

[2020-06-28 20:04] just4give commented on #306
Closing as it was my code related issue.

[2020-06-29 11:09] IgorMuzyka commented on #305
@arriolac any updates?

[2020-06-30 01:05] michael-mckenna opened #307 "Carthage Build Failing"
Thanks for stopping by to let us know something could be better!

Please be sure to include as much information as possible:

#### Environment details

1. Specify the API at the beginning of the title (for example, "Places: ...")
google-maps-ios-utils
2. OS type and version
Catalina 10.15.5
3. Library version and other environment information
3.1.4
Xcode 11.5

#### Steps to reproduce

  1. Run `ca

[2020-06-30 01:10] michael-mckenna commented on #307
Maybe it has something to do with it trying to build the scheme twice? See
[code]

[2020-06-30 01:29] arriolac commented on #307
Hi @michael-mckenna, I was not able to reproduce this. I tested this with the following contents in my `Cartfile`:

[code]

I'm also using `carthage` version 0.35.0.

Can you share the contents of your `Cartfile`?

[2020-06-30 01:49] arriolac commented on #305
Currently looking into SPM support starting with this library.

[2020-06-30 02:44] michael-mckenna commented on #307
Thanks for taking a look. Here's my `Cartfile`:
[code]

I have also tried clearing Carthage cache with `rm -rf ~/Library/Caches/org.carthage.CarthageKit`

[2020-06-30 02:57] michael-mckenna commented on #307
@arriolac Just updated the post with output after running in verbose mode

[2020-06-30 04:22] arriolac commented on #307
Based on the error you shared, specifically  this line:
[code]

It seems to be referencing a CocoaPods specific generated file (i.e. `Pods-DevApp.release.xcconfig`). Are you by any chance using CocoaPods along with Carthage? I just tried running `carthage update` on the `Cartfile` you shared and was able to pull the dependencies just fine.

[2020-07-01 00:43] michael-mckenna commented on #307
No Cocoapods, and no reference to Pods in my framework search paths. I did notice these two lines in your `project.pbxproj`:

[code]

Do you see these causing any potential issue with Carthage (grasping at straws here). Interesting you were able to run it on your end, not sure what's different on mine.

[2020-07-01 01:14] michael-mckenna commented on #307
Looks like another framework had the same issue, see [this issue](https://github.com/Brightify/Cuckoo/issues/309). The solutions before a fix was released is in that thread. I tried the equivalent which turned out to be `carthage update --no-build && pushd Carthage/Checkouts/google-maps-ios-utils/GoogleMapsUtils.xcodeproj/xcshareddata/xcschemes && find . ! -name "GoogleMapsUtils.xcscheme" ! -name

[2020-07-01 17:05] arriolac commented on #307
The issue you linked should not apply here since ocmock is included in this library's `Cartfile` and is configured to work with a Carthage configuration in the `.xcodeproj` file.

Can you try replacing the iOS utils dependency in your `Cartfile` so that it explicitly points to the `master` branch? It's not clear to me why the error log you shared is pulling a file no longer in `master` so perhaps

[2020-07-01 21:24] michael-mckenna commented on #307
That didn't work either. I got fed up with trying everything and nuked my laptop, and everything works now /shrug

Thanks for working with me through this thought. Feel free to close this issue.

[2020-07-06 15:35] arriolac commented on #307
Glad you were able to resolve it!

[2020-07-06 15:35] #307 closed

[2020-07-13 11:16] vsars7 opened #311 "Is it possible to parse altitudes embedded in <Point> lng,lat,alt </Point> using the GMUKMLParser?"
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Google Maps Platform [support resources page](https://developers.google.

[2020-07-13 18:19] arriolac opened #312 "Add clang-format GitHub bot to automatically enforce code formatting"
**Is your feature request related to a problem? Please describe.**
The codebase code formatting has historically been formatted using the CLI `clang-format`. Since contributors might have Xcode specific formatting to separate projects, contributions oftentimes might send PRs that have a format different from that of this codebase. This should not block contributions and is a problem that can easil

[2020-07-13 18:24] arriolac commented on #311
Hi @vsars7, yes, GMUKMLParser will parse lat, lng and altitude into a `CLLocation` object. Are you having issues with this?

[2020-07-13 18:32] vsars7 commented on #311
Hi @arriolac appreciate the quick response, could you provide a code example? We're currently using:

let kmlParser     = GMUKMLParser(url: url)
kmlParser.parse()
let placemarks = kmlParser.placemarks
let lineString    = placemark.geometry as! GMULineString // assuming placemark.geometry.isKind(of: GMULineString.self)
for i in 0...lineString.path.count() - 1{
     let coordinate = lineString.path.

[2020-07-14 16:48] arriolac commented on #311
@vsars7 I thought you were asking about [Point](https://developers.google.com/kml/documentation/kmlreference#point) but based on the code snippet you shared it looks like you need altitude parsed for [LineString](https://developers.google.com/kml/documentation/kmlreference#linestring) which parses to a `GMSPath` that does not have altitude stored as you pointed out.

Can you confirm that `LineStri

[2020-07-14 19:53] vsars7 commented on #311
@arriolac That's right, we're currently looking to parse altitude on import of a  LineString, thanks for pointer, will mark as feature request

[2020-07-16 17:33] #267 closed

[2020-07-20 18:34] arriolac opened #315 "GMUGradient should have an initializer that accepts a pointer to an NSError to improve Swift error handling"
**Is your feature request related to a problem? Please describe.**
It is not clear that creating a new instance of `GMUGradient` may cause an `NSException` to be thrown. This API can be improved by using an `NSError` so that creating a new instance of `GMUGradient` explicitly requires using a try/catch statement.

 **Describe the solution you'd like**
Create a new initializer with the following si

[2020-07-29 03:55] arriolac commented on #292
Bumping priority as this feature should be done once SPM is supported. Relates to #305

[2020-07-30 00:04] #305 closed

[2020-07-30 13:50] hiteshborse12 opened #321 "Marker disappeared on cluster zoom "
I am working on a cluster. Showing cluster using marker GMSMapView and GMUClusterManager. Markers clusters are showing properly **but marker disappeared on map zoom.**

**Note:** Assiging custom image to marker icon:
        let marker = GMSMarker(position: position)
         **//custome marker image**
        marker.icon = icon
        clusterManager.add(marker)

#### Code example
[code]
[Project

[2020-07-30 15:57] arriolac commented on #321
I'm able to reproduce this. It appears that there is a bug when you try to add a `GMSMarker` directly. While I look into a fix, please create a class that conforms to `GMUClusterItem` as a workaround:

[code]

... and then attach a custom marker through the `GMUClusterRendererDelegate` method:

[code]

[2020-07-30 16:50] hiteshborse12 commented on #321
I did the above changes.. and it fixed the marker disappear issue. But now I am not able to see the cluster (10+). Sending you code and screenshot

class ViewController: UIViewController,GMSMapViewDelegate {
    @IBOutlet weak var mapview: GMSMapView!
    private var clusterManager: GMUClusterManager!

    override func viewDidLoad(){
        let iconGenerator = GMUDefaultClusterIconGenerator()

[2020-07-30 17:00] arriolac commented on #321
Meant to say that you also need to check the type of `marker.userData` and only change the image if it is a GMUClusterItem:

[code]

[2020-07-30 17:03] hiteshborse12 commented on #321
Oh yes make sense. All issues fixed now. Thanks for the quick help.

[2020-07-30 17:42] arriolac commented on #321
Reopening this issue because this is still a bug with the library. The code snippet you shared earlier _should_ work.

[2020-08-08 21:42] michael-mckenna opened #322 "Cannot install via SwiftPM"
Sorry, it's me again!

Please be sure to include as much information as possible:

#### Environment details

1. Catalina 10.15.5
2. Xcode 12 Beta 4
3. google-maps-ios-utils 3.2.0

#### Steps to reproduce

 In Xcode, go to Project -> Swift Packages -> Add this repo (https://github.com/googlemaps/google-maps-ios-utils) -> For rule, choose Version, Up to Next Minor, at 3.2.0

#### Stack trace
[code]

[2020-08-10 06:08] neil-degoo opened #323 "Show blocks of place in GMSAutocompletePrediction"
Hello,
I'm trying to modify our GMSAutocompletePrediction to show blocks like in screenshot below (Screenshot made from Grab app):

<img width="293" alt="Снимок экрана 2020-08-10 в 12 06 16" src="https://user-images.githubusercontent.com/36630269/89755665-047deb00-db02-11ea-9752-b9199e735657.png">

But I cannot find any info about this. Can you please help with documentation of this?

[2020-08-10 06:20] #323 closed

[2020-08-10 06:24] Ganyev opened #324 "Show blocks of place in GMSAutocompletePrediction"
Hello,
I'm trying to modify our GMSAutocompletePrediction to show blocks like in screenshot below (Screenshot made from Grab app):

<img width="293" alt="Снимок экрана 2020-08-10 в 12 06 16" src="https://user-images.githubusercontent.com/41617899/89756418-3b550080-db04-11ea-9cfc-112d89b49b2d.png">

But I cannot find any info about this. And I'm not sure if this linked with GMSAutocompletePredictio

[2020-08-10 17:33] arriolac commented on #322
Thanks for reporting this. Looks like there is an issue with the generated .xcframework.zip file in the 3.2.0 release. I'll look into fixing this, in the meantime, you can try setting the version to 3.1.4 which should work.

[2020-08-10 18:39] michael-mckenna commented on #322
@arriolac Unfortunately 3.1.4 doesn't seem to work either. I get
[code]

[2020-08-10 18:40] michael-mckenna commented on #322
![Screen Shot 2020-08-10 at 1 39 22 PM](https://user-images.githubusercontent.com/14035148/89818221-039f8600-db0f-11ea-8bb8-6ed2423e196a.png)

[2020-08-10 20:19] arriolac commented on #322
I have 3.2.1

[2020-08-10 20:21] michael-mckenna commented on #322
Thanks

[2020-08-10 20:42] arriolac commented on #322
Running into some build failures. Will keep you posted.

[2020-08-10 21:10] arriolac commented on #322
Version 3.2.1 should be available. Let me know if you run into any issues.

[2020-08-11 01:46] michael-mckenna commented on #322
LGTM!

[2020-08-11 16:48] #322 closed

[2020-08-11 20:52] arriolac commented on #324
Hi @Ganyev, unfortunately block information is not provided by the API so you will need to augment the Places API to produce a result like this.

[2020-08-11 21:18] michael-mckenna opened #326 "Project Doesn't Build With SwiftPM"
#### Environment details

OS type and version: Xcode 12 Beta 4, MacOS Catalina
Library version and other environment information: 3.2.1

#### Steps to reproduce

  1. Create a new Xcode project with Storyboard
  2. Add this dependency via SwiftPM
  3. Build (CMD+B)

#### Code example

_No Code Required_

#### Stack trace
[code]

[2020-08-11 21:19] michael-mckenna commented on #326
@arriolac I had a bunch of misc build errors I had to resolve. After resolving I tried building the project but got an issue with this library. I was able to replicate on a brand new project.

[2020-08-11 21:26] arriolac commented on #326
hmm strange. x86_64 is a supported architecture. I will take a look

[2020-08-12 01:21] Ganyev commented on #324
@arriolac thanks for answer,
Let me clarify one more time,
not Places API, nor Directions API are not provided with such entrances\blocks of building like in screenshot below? :
<img width="293" alt="Снимок экрана 2020-08-12 в 07 17 08" src="https://user-images.githubusercontent.com/41617899/89964537-44f97800-dc6c-11ea-9323-8f35e365c369.png">

[2020-08-12 18:17] arriolac commented on #278
Please see #285 and #286 instead for this issue.

[2020-08-12 18:17] #278 closed

[2020-08-12 18:18] #292 closed

[2020-08-12 18:28] arriolac commented on #326
I was able to add this library via SPM on the `SwiftDemoApp` under `samples/SwiftDemoApp`. You can check my branch `chris/fix/326`.

Are there other steps you can share so I can try to repro? I also double checked the architectures included in the `.xcframework` and confirmed that "x86_64" was included.

[2020-08-12 22:22] michael-mckenna commented on #326
I couldn't load your sample.
![Screen Shot 2020-08-12 at 5 17 47 PM](https://user-images.githubusercontent.com/14035148/90073972-d5ad7380-dcbf-11ea-8c0d-ec3212368f44.png)
even after logging in.

However, I noticed the url you're using is `git@github.com:googlemaps/google-maps-ios-utils.git` but I'm using `https://github.com/googlemaps/google-maps-ios-utils.git`.  Not sure if that will make a diffe

[2020-08-12 22:45] michael-mckenna commented on #326
Using the linked repo on another device I was able to replicate the same issue. So unlike the Carthage issue I had a while back, I don't think the issue is device based this time =P

[2020-08-13 00:12] arriolac commented on #326
Have you included the Maps SDK (either via CocoaPods or Carthage) to your project? Note that the Maps SDK does not support SPM yet.

[2020-08-13 00:16] michael-mckenna commented on #326
Awkward, no I did not lol. Makes sense. In all fairness I thought it would've been automatically pulled in, which seemed to be the case with Carthage where google maps was a transitive dependency so I didn't add a separate line for that

[2020-08-13 00:30] arriolac commented on #326
Maps SDK can definitely be packaged transitively. I choose not to go that route, but now thinking about it, that's probably a lower friction integration.

[2020-08-13 00:34] arriolac opened #329 "Package Maps SDK for iOS in .xcframework to ease SPM integration"
Comment or +1 this issue if this is something you'd like to see in the library so it can be prioritized. Also a good candidate for contributions.

 **Is your feature request related to a problem? Please describe.**
Currently, integrating this library with SPM requires that developers additionally include Maps SDK for iOS either via CocoaPods or Carthage. In other words, the Maps SDK is not package

[2020-08-13 00:36] arriolac commented on #326
@michael-mckenna I'm going to close this issue. Let's continue the discussion of packaging Maps SDK for iOS transitively in #329. Thanks for bringing this up, hopefully implementing #329 will ease some integration pains!

[2020-08-13 00:36] #326 closed

[2020-08-13 00:57] michael-mckenna commented on #329
As the confused in #326 I'm a proponent. Without it being included I have to maintain Google Maps manually or use Carthage, both of which require a lot of [extra steps](https://developers.google.com/maps/documentation/ios-sdk/start) I'd rather not mess with again. Cocoapods is not an option for my team. Additionally I think it'd be a great idea so the google-maps-ios-utils can maintain the proper

[2020-08-20 17:08] arriolac opened #332 "Fix GitHub release workflow"
#### Environment details

GitHub Actions

#### Steps to reproduce

  1. Push a commit to `master` and notice that the release GitHub workflow fails. Example run: https://github.com/googlemaps/google-maps-ios-utils/runs/1008816252

#### Code example

See `.github/workflows/release.yml`

#### Stack trace

See https://github.com/googlemaps/google-maps-ios-utils/runs/1008816252

[2020-08-20 17:42] arriolac commented on #329
@michael-mckenna curious... why is CocoaPods not an option for your team?

[2020-08-20 17:55] michael-mckenna commented on #329
Mainly two reasons. The primary is that we are transitioning to SwiftPM as it's the officially supported dependency manager. The second is that cocoapods lead to dreadfully slow incremental build times which slowed the development cycle. Switching to Carthage remediated that issue, so there's no looking back for us ;) if memory serves me correctly, we got our incremental build times down from 1m45

[2020-08-20 18:30] arriolac commented on #329
Wow, that's quite a huge difference 😅  Thanks for providing context.

[2020-08-24 18:58] arriolac commented on #329
@michael-mckenna the built XCFramework simply mirrors the architectures that are currently supported by the SDK (arm64
 & armv7 for iPhones, and i386 & x86_6 for Simulators). Adding support for Mac Catalyst, which we are evaluating and will eventually support, would be a separate step.

[2020-08-28 19:03] arriolac commented on #332
Fixed in #335

[2020-08-28 19:03] #332 closed

[2020-09-11 03:42] carloshwa commented on #321
Is there an ETA for this fix? The bug is reproducible in the project's sample app as well. Hope to avoid releasing an update to my app with a workaround if the library will be fixed soon. Well, hope to avoid releasing a workaround, period :)

[2020-09-15 08:59] fluidsonic opened #336 "License file is missing copyright owner"
Is the license actually valid without it?

https://github.com/googlemaps/google-maps-ios-utils/blob/d06e315c9d340d5a08a1a458d530cd8ce4f71049/LICENSE#L179

[2020-09-15 17:17] fluidsonic commented on #336
Nevermind. Reading the full thing helps 🙄

[2020-09-15 17:17] #336 closed

[2020-09-23 21:42] MichaelNeas commented on #321
Also experiencing this issue

[2020-10-01 06:35] hiteshborse12 commented on #321
Great. Thanks :-)

[2020-10-01 16:20] arriolac commented on #304
Still an issue

[2020-10-02 03:59] thuythuyntt commented on #321
You just set the position for the marker, so how do I set the title when I click on it?
Thanks for your support!

[2020-10-05 20:49] arriolac commented on #324
That is correct, @Ganyev. The Places API needs to be augmented with additional information from another data source to be able to produce block level information. Closing this issue.

[2020-10-05 20:49] #324 closed

[2020-10-06 08:02] vabe1337 opened #338 "Sometimes map didn't load"
Deleted

[2020-10-06 08:03] #338 closed

[2020-10-14 06:09] jdpithwa commented on #236
It is still reproducible in react-native-maps:0.27.1 and pod 'Google-Maps-iOS-Utils','~> 3.4.0'.

- Below are the crash logs for the issue.

`Incirclegmscore::vector::GMSMarkupPolygonInstance::CreateEntities(gmscore::base::reffed_ptr<gmscore::vector::Camera> const&, gmscore::renderer::EntityRenderer*, objc_object objcproto18GMSEntityResources*, gmscore::renderer::ProxySortedRenderBin<std::__1::tup

[2020-10-19 13:02] ztepsa opened #342 "SPM integration not working when archiving app for the AppStore"
`GoogleMapsUtils` framework works with SPM when building and working with the app, but the issue shows when trying to upload final app to the AppStore due to unsupported  architectures.

<img width="746" alt="error" src="https://user-images.githubusercontent.com/6736375/96452587-85034b00-1219-11eb-8095-ac13fae601c3.png">

I tested out all of the possible integration methods, and none seem to be wo

[2020-10-19 18:01] arriolac commented on #342
Thanks for flagging this issue, glad you were able to find a workaround by using the .xcframework directly. I'll need to dig into what's going on with the SPM integration in the meantime.

For the second issue you raised, is the issue quite similar to the SPM issue or does the application not compile at all? The Objective-C and Swift samples found within `./samples` use CocoaPods as a package mana

[2020-10-21 15:08] barboose commented on #321
@arriolac the problem still exists. GMSMarker disappears by changing the zoom if its position value (latitude and longitude) changes in the background and of course marker is related with the GMUClusterManager.

[2020-11-01 17:50] botfantasy opened #345 "FR: automatically maintain a desired viewing angle"
There is currently no way to maintain a desired viewing angle as the camera zooms inward, it must be programmatically set when the map becomes idle (changing it as the camera changes hinders the ability to manually zoom). However, this is not a problem when the camera zooms outward—zoom and viewing angle animate together beautifully. In Mapbox, zoom and viewing angle also animate together in both

[2020-11-04 19:07] botfantasy opened #346 "GMSMapView: adding custom styling creates ranges in the zoom where map doesn't render any labels"
#### Environment details

GoogleMaps 4.0.0 & GoogleMaps 3.10.0-beta
Xcode 12.1
any iOS version

#### Steps to reproduce

  1. Add a `GMSMapView` to a view or a view-controller per documentation instructions.
  2. Run the map and notice the map renders labels correctly (as expected). To be more specific, pick a large city like Los Angeles and zoom all the way out so its label is not rendered. Slowl

[2020-11-07 05:10] Scvairy opened #347 "SPM is not available on Xcode 12.2 RC (Swift 5.3.1)"
#### Environment details

1. Specify the API at the beginning of the title (for example, "Places: ...")
2. OS type and version: macOS 11.0.1 Beta (20B5022a)
3. Library version and other environment information: Xcode 12.2 beta 4 (12B5044c)

#### Steps to reproduce

  1. Install Xcode 12.2 Release Candidate
  2. Build project with SPM-dependency on Google Maps Utils

#### Compile Error

[code]

[2020-11-07 05:21] Scvairy commented on #347
Same with Xcode 12.1.1 RC:
`Failed to build module 'GoogleMapsUtils' from its module interface;
the compiler that produced it,
'Apple Swift version 5.3 (swiftlang-1200.0.28.1 clang-1200.0.30.1)',
may have used features that aren't supported by this compiler,
'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)'`

[2020-11-07 05:34] Scvairy commented on #347
Looks like you should change `Build Libraries for Distribution` to “Yes” in the framework’s build settings

[2020-11-09 17:27] arriolac commented on #347
The `GoogleMapsUtils.xcframework` is already built with the flag `BUILD_LIBRARIES_FOR_DISTRIBUTION ` enabled and `SKIP_INSTALL` set to false which should built the frameworks with Module Stability enabled. That said, I'm, not sure your fix in #348 will address the issue you're seeing. See: https://github.com/googlemaps/google-maps-ios-utils/blob/main/.github/workflows/release.yml#L46...L50 I'll di

[2020-11-09 19:43] luispadron commented on #329
+1 for a solution that would allow using only the officially supported dependency manager.

[2020-11-09 19:50] arriolac commented on #347
I was not able to reproduce this issue on Xcode 12.1

[2020-11-10 13:28] Scvairy commented on #347
I tried it on another mac and couldn't reproduce either.
Must be something with my environment, sorry.
And thank you. ☺️

[2020-11-11 21:24] marckrenn commented on #347
Unfortunately, we're experiencing this very issue on both 12.1. and 12.2

Apparently, the framework will only work on the _exact_ Swift version build as it was compiled on.

If you need additional infos, let me know @arriolac

[2020-11-11 21:46] marckrenn commented on #347
JFYI 3.3.0 seems to work. Haven't tested newer versions.

[2020-11-11 21:52] arriolac commented on #347
Interesting that 3.3.0 works. Nothing changed in how we generate the .xcframework between 3.3.0 and later versions. Will look into this again.

[2020-11-12 23:07] arriolac commented on #347
I'm still not able to reproduce this on Xcode 12.2 on an example project even while testing using a different Swift Language version (I tried Swift 5 and Swift 4.2 which both work). @marckrenn or @Scvairy, are either of you able to share an example project demonstrating this bug?

[2020-11-19 09:30] Scvairy commented on #329
Don't forget add arm64 for Simulators, so we can use it on new arm macs 😉

[2020-11-20 12:18] anupamchugh commented on #347
I'm facing the exact issue with another framework.

[2020-11-23 01:10] G-Steve-E opened #349 "iOS marker.userData nil after cluster/deCluster"
This is occurring in my iOS app using the “utility library for the Maps SDK for iOS.”

The app first displays the Map at a zoom level of 5 and shows individual markers.  Tapping an individual marker when they are first displayed does work correctly and marker.userData contains the “markerKey” data set when the marker was created.
If you then Zoom the Map out to display clusters and tap on a cluste

[2020-11-23 18:47] arriolac commented on #349
I think the issue is related to adding a `GMSMarker` directly to `GMUClusterManager`, this is a bug that needs to be addressed.

As a workaround, you can create a wrapper class that conforms to `GMUClusterItem`, create instances of that class, and add it directly to the `GMUClusterManager`. An earlier version of the [ClusteringViewController](https://github.com/googlemaps/google-maps-ios-utils/blo

[2020-11-23 22:13] G-Steve-E commented on #349
I made the proposed change to GMUDefaultClusterRenderer.m:

if ([marker.userData conformsToProtocol:@protocol(GMUCluster)]) {

      marker.userData = nil;

}

locally and that appears to fix the issue.

From: Chris Arriola <notifications@github.com>
Sent: Monday, November 23, 2020 11:48 AM
To: googlemaps/google-maps-ios-utils <google-maps-ios-utils@noreply.github.com>
Cc: Stephen Ellis <stephen.g

[2020-11-23 22:21] G-Steve-E commented on #349
Haven’t tried yet but does this work properly in the Android Library?  I need to update the Android version of my App as well.

Thx,

Steve

From: Recreational Technologies <stephen.g.ellis@recreationaltech.com>
Sent: Monday, November 23, 2020 3:13 PM
To: 'googlemaps/google-maps-ios-utils' <reply@reply.github.com>; 'googlemaps/google-maps-ios-utils' <google-maps-ios-utils@noreply.github.com>
Cc: '

[2020-11-23 22:36] arriolac commented on #349
Great, glad that worked out for you. I'm looking into the build errors now and should release this change soon.

This issue is specific to iOS and should not be an issue on Android.

[2020-11-23 22:38] G-Steve-E commented on #349
Thanks for the help. Let me know when the build is updated and I’ll update my cocoapod to the released version.

BTW, I posted this on stackoverflow if you want to update or I can once the fix is released.

From: Chris Arriola <notifications@github.com>
Sent: Monday, November 23, 2020 3:36 PM
To: googlemaps/google-maps-ios-utils <google-maps-ios-utils@noreply.github.com>
Cc: Stephen Ellis <stephen

[2020-11-23 23:39] #349 closed

[2020-11-24 21:33] botfantasy commented on #346
@arriolac can you at least confirm that you experience this same problem?

[2020-11-24 23:53] arriolac commented on #346
Hey @botfantasy, based on your description, it looks like this might be a bug on the Maps SDK for iOS itself, not on a feature on this Utility Library. I've looked through the list of bugs filed in our public issue tracker but no mention of this issue. I recommend reporting this [here](https://issuetracker.google.com/issues/new?component=188833&template=789005) to receive better support.

[2020-11-25 00:06] botfantasy commented on #346
Will do, thanks for the help.

[2020-11-25 00:06] #346 closed

[2020-11-26 11:16] mallikarjuna0308 opened #351 "App Crashes when using renderer.render()"
#### Environment details

1. OS Type: MacOS Catalina; version: 10.15.7
2. Xcode version: 12.1
3. GoogleMapsUtils version: 3.1.4

#### Steps to reproduce

  1. call a function in a scheduled timer
  2. the function contains the render function
  3. after calling the few times the app crashes due to memory issue.

#### Code example

[code]
I have a requirement where I need to call the render() every

[2020-12-07 16:34] RamblinWreck77 commented on #347
@anupamchugh Any resolution? Zendesk's iOS SDK is experiencing this exact issue when installing via SPM

https://github.com/zendesk/support_sdk_ios/

[2020-12-07 22:06] #345 closed

[2021-01-05 14:33] libec commented on #347
hey @arriolac I'm also facing this issue, created example Package that uses `GoogleMapsUtils` package, see https://github.com/libec/GoogleMapsUtilsPackageExample

I checked the script where XCFramework is created as you mentioned in https://github.com/googlemaps/google-maps-ios-utils/blob/main/.github/workflows/release.yml#L46...L50

I'm not sure by this `BUILD_LIBRARIES_FOR_DISTRIBUTION=YES`.

If

[2021-01-11 16:54] fnazarios opened #355 "GoogleMaps don't compile at Macbook with M1 chip"
[code]

[2021-01-12 10:23] saqib-saud commented on #355
In my case I'm using Cocoapods to integrate Google maps and I get the same error on M1 chip. This issue only happens with iOs 14 Simulators, working fine with iOs 13.

[2021-01-15 01:21] LukeDurrant commented on #342
Google and Firebase Frameworks all suffer from the same issue
see
https://github.com/firebase/firebase-ios-sdk/issues/6472

[2021-01-15 15:29] michael-mckenna commented on #342
I was able to upload by right clicking the archive and doing the following:
Show in Finder -> Right Click App -> Show Package Contents -> Products -> Applications -> Show Package Contents (again)

Then from here, delete anything Google/firebase related in Plugins and Frameworks.

[2021-01-18 19:21] mmdumi commented on #355
I subscribe to the above. My project doesn't compile on the M1 Macs because GoogleMaps is the only dependency left that hasn't adopted the new xcframework with support for arm64 for simulator.
When can we expect a working GoogleMaps release for the M1 Macs ?

[2021-01-19 19:06] arriolac commented on #355
The Maps SDK for iOS does not yet contain the architecture necessary to run on the new Arm-based Mac Simulators—we are currently working on supporting this. For now, if you are using the new Arm-based Macs, you will need to develop using a physical device. This has been noted in our [FAQ]( https://developers.google.com/maps/faq#arm-based-macs).

[2021-01-31 19:17] cltnschlosser commented on #329
This is marked as good first issue, but it’s really up to the maintainers and distributors of https://cocoapods.org/pods/GoogleMaps. There is a lot of good information on xcframeworks here: https://github.com/bielikb/xcframeworks. It’s likely a simplification of the existing process for packaging the GoogleMaps framework and wouldn’t take much effort for someone to repackage it.

It is probably po

[2021-02-01 17:43] arriolac commented on #329
I filed this issue considering that the existing Maps SDK for iOS .framework could be packaged into the Maps SDK for iOS Utility library .xcframework. However, that's not really how SPM packages work.

Rather, the steps to mark this issue fixed would be: (1) for the Maps SDK for iOS to support .xcframeworks, and (2) update Package.swift for this repo and specify Maps SDK for iOS as a dependency. (

[2021-02-01 17:47] arriolac commented on #351
HI @mallikarjuna0308, have you tried calling `clear()` before calling `render()`? Looking at the implementation of `render`, you will continually see objects rendered on top of each other for subsequent calls.

[2021-02-04 20:10] DurankGts opened #356 "Help to check why this code fail in ios"
**PLEASE READ**

If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/). This will ensure a timely response.

Discover additional support services for the Google Maps Platform, including developer communities, technical guidance, and expert support at the Google Maps Platform [support resources page](https://developers.google.

[2021-02-05 09:52] mallikarjuna0308 commented on #351
@arriolac, I tried it...and it worked. Thank you for support. :)

[2021-02-05 09:52] #351 closed

[2021-02-08 18:57] pj4533 commented on #355
Any update on this?

[2021-02-11 04:05] vince1393 commented on #355
Im having this issue as well. Any update on this? Seems to be the only blocker for getting our app running on silicon

[2021-02-12 19:15] arriolac commented on #356
Can you provide more context? Looking at the short snippet you shared that won't compile because `param` is not of type `GMSMutablePath`.

[2021-02-18 17:23] qureship786 opened #358 "iOA | Swift | Google Map SDK | How to show a marker with animation?"
I am totally new to implementing maps using Google Maps SDK for iOS (Swift). I have to implement animation for marker position change. What is the recommended way to show animation in marker's position changes ? How to keep a map zoom to a street level view ? When should one use camera position based updates to locations ? I have used below code to create animation in marker:

[code]

Here selecte

[2021-02-18 18:26] ErikOutside commented on #355
Adding another vote to advocate for a fix to this issue. We are currently blocked from developing on M1 chipsets due to this issue.

[2021-02-18 18:47] arriolac commented on #355
Hey everyone, unfortunately I can't share any timelines on when this issue will be addressed since there are a lot of moving parts to supporting an .xcframework that contains the new arm simulator architecture. This is a very high priority for us though. The only workaround at the moment is to develop on a physical device if you are using one of the new Macbooks.

[2021-02-18 18:50] pj4533 commented on #355
I appreciate that, but even if you just had an alpha branch that would compile (and just wasn't a full release), that would at least get our CI MacMini machine unblocked.

[2021-02-18 18:51] ErikOutside commented on #355
Thanks @arriolac for the transparency. Please keep us updated as you get a sense of timelines

[2021-02-18 21:14] BrentMifsud commented on #355
Would supporting SPM solve the problem?

We have had lots of issues with pods on Apple silicon.

[2021-02-19 01:05] arriolac commented on #355
That wouldn't solve the problem. Even if you manually assemble an .xcframework from the current version of the SDK using `lipo` you will still get compile errors since the arm architecture for the simulator is missing.

Once that new architecture is supported in a subsequent version of the Maps and Places SDKs though (and the only way to do so is to create an .xcframework), then it would make sens

[2021-02-24 17:32] FabrizioBrancati commented on #355
I found a similar solution for a third-party framework that we had on our app, by using the [following Bogo's guide](https://bogo.wtf/arm64-to-sim-dylibs.html) and by manually creating an XCFramework instead of using `xcodebuild`.

I don't know if it works for your framework because our third-party framework only supported iOS, but this is the guide:

Let's start with what we had:
1. Simulator fra

[2021-03-01 05:09] Zyfe3rX opened #361 "Missing entire locations on Google Maps"
Hi,

I am just trying to show a location on Google Maps. The location is =( 22.3067666,39.122844999999998) , the problem is that the entire region is almost blank in iOS but works perfectly on Android. It seems like iOS google maps is missing an entire Island on this location. I have been looking for a solution for this for a week and so far i haven't found a single solution !

I have tried stacko

[2021-03-01 05:22] #361 closed

[2021-03-02 13:29] SoufianHossam opened #362 "CRASH gmscore::renderer::ios::GLLayerRenderTarget::FrameEnd()"
I'm getting this crash randomly on Crashlytics with GoogleMaps v3.5.0, yet I can't reproduce it, it happens on the following devices (iPhone 6, 6s, 6+, 7+ and 8) with iOS 12 and 14.

#### Stack trace
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000001
gmscore::renderer::ios::GLLayerRenderTarget::FrameEnd()
[code]

[2021-03-02 17:24] arriolac commented on #362
This doesn't appear related to this library and instead an issue with the Maps SDK for iOS itself. Please report this issue [here](https://issuetracker.google.com/issues/new?component=188833&template=789005) to receive better support.

[2021-03-03 04:41] allending commented on #355
@FabrizioBrancati you should note that the steps do not work for this framework.

[2021-03-03 08:35] FabrizioBrancati commented on #355
After writing this guide I tried with the GoogleMaps framework, but it is composed by 3 frameworks:
1. GoogleMaps
2. GoogleMapsBase
3. GoogleMapsCore

The first one, works by using the above method, the other two not because they have a negative available space.
I'm looking on how to add some empty space...

[2021-03-04 11:12] allending commented on #355
@FabrizioBrancati I have run into the exact same issues. Unfortunately, I don't think this approach will work because there is simply no padding available in the header for the Base and Core frameworks.

[2021-03-09 09:03] bhavikvwteam commented on #121
I am facing same issue while using GMSMarker with same location.

[2021-03-09 10:33] Iameora opened #363 "Readme pod suggested version mismatch with cocoapod version available"
#### Steps to reproduce

  1. follow your readme file to add via cocoapods, it say "pod 'Google-Maps-iOS-Utils', '~> 3.8.0'"
  2. pod install return error since that version is not available on cocoapods https://cocoapods.org/pods/Google-Maps-iOS-Utils

Thanks in advance!

[2021-03-09 18:21] arriolac commented on #363
Thanks for reporting! Looks like an issue with the publishing workflow. Will fix.

[2021-03-09 18:23] arriolac commented on #363
3.8.0 should now be available on CocoaPods. I also created #364 to fix publishing workflow issues in the future.

[2021-03-09 18:23] #363 closed, assigned to arriolac

[2021-03-10 12:07] bhavikvwteam opened #365 "How to update cluster icon (or image) after tap on it? (iOS Swift)"
Hello, Thank you in advance. I want to update cluster icon image after tap on it. I can update anything on marker but not able to change anything in cluster. I want to change cluster image without affecting the count of cluster items. Can anyone suggest me right path to achieve that?

I am using Xcode 12.4, Swift 5, Google-Maps-iOS-Utils [3.6.0].

[2021-03-11 10:29] lluisgerard commented on #355
I just got an M1 machine and I could make it work by opening Xcode using Rosetta. It works against an iOS 14.4 simulator and Google Maps appear on the app correctly.
(Just posting it here, it wasn't clear this was the workaround for now when reading other comments).

[2021-03-11 14:44] pj4533 commented on #355
Yeah this is a workaround for general day to day work. However, our CI machine is a M1 MacMini, and I couldn't figure out how to get an Xcode bot to launch with Rosetta. Anyone have a trick for that?

[2021-03-17 08:57] MujtabaFR commented on #355
Running Xcode under **Rossetta** fixed the issue as a temporary workaround
[code]
** This will cause major decrease in speed and performance in Xcode and simulator

[2021-03-24 11:25] Yagnik13 commented on #121
The same issue facing when zooming out on the map.

[2021-03-25 05:05] Yagnik13 commented on #121
I just add zIndex to GMSMarker and it stops flickering in the map so you guys also try that solution. for more info link provided below.

https://stackoverflow.com/questions/16808563/set-a-marker-over-all-other-markers-in-google-maps-sdk-ios

[2021-03-30 01:41] chozinul commented on #362
@SoufianHossam do you manage to resolve or work around for this issue?

[2021-03-31 13:06] VidhiDifferenz opened #366 "Layer type is missing in KML parser"
I am not able to get location placemarks on the basis of layers. Currently, it's returning all the placemarks in a single array instead of grouping them into layers. It's available in Android as **KMLContainer** object type but is missing in iOS.

[2021-03-31 23:39] joeslopy opened #367 "Customizing Attributes"
Hi I'm just wondering if there is any guide or documentation to customizing some of the parameters such as the distance/grid size used for clustering or how to change the icon for clustering.

`
let iconGenerator = GMUDefaultClusterIconGenerator()
        let algorithm = GMUNonHierarchicalDistanceBasedAlgorithm()

        let renderer = GMUDefaultClusterRenderer(mapView: myMapView, clusterIconGene

[2021-04-01 05:18] Gajalakshmi94 commented on #121
Thanks

Regards,
Gajalakshmi D

[2021-04-02 18:30] googlemaps-bot opened #368 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2021-04-02 20:08] #368 closed

[2021-04-03 14:35] qureship786 opened #369 "Google Maps SDK | iOS 11+ | Marker getting hidden when zoomed"
For Google Maps SDK 3.10.0 for iOS, I am experiencing issue of marker getting hidden when map is zoomed. I would like to know that why SDK is setting a marker's map property in some cases as shown in attached screenshot.
![Screenshot 2021-04-03 at 7 31 46 PM](https://user-images.githubusercontent.com/7651317/113480988-c0868e80-94b4-11eb-8af1-00dd04932648.png)
Is it really needed to assign map prop

[2021-04-05 22:18] arriolac commented on #369
Do you have repro steps for the bug you're describing? The code you highlighted is specific for the cluster itself which is represented as a marker. So as you zoom in, the cluster marker should disappear and should expand the clustered markers individually. Issue #321 was present on an older version of the library and should have been fixed in version 3.3.1. If disappearing markers are still an is

[2021-04-05 22:19] arriolac commented on #321
@barboose can you provide a code snippet to repro that?

[2021-04-07 16:35] mthole commented on #329
Big +1 to this issue. I'd love to see GoogleMaps properly available via SPM. It's the primary blocker in moving my large app fully onto SPM now.

[2021-04-13 04:38] luispadron commented on #329
Any update on this issue? It’s a blocker for a lot of users.

[2021-04-13 17:30] arriolac commented on #329
Please see my comment here https://github.com/googlemaps/maps-sdk-for-ios-samples/issues/70#issuecomment-811231129

[2021-04-15 10:24] saqibomer commented on #196
Same issue,

[2021-04-15 10:58] saqibomer commented on #214
I am having same issue, did you mange to solve this? @darbysauter

[2021-04-30 12:30] gurjindersinghkhalsa opened #371 "HeatMap not visible when zoom in."
When I am zoom out, HeatMap is visible. As soon I started zoon in I am unable to see the color of the Heat Map.

I am using the same code
    private var gradientColors = [UIColor.green, UIColor.red]
    private var gradientStartPoints = [0.2, 1.0] as [NSNumber]

      mapView.delegate = self
      heatmapLayer = GMUHeatmapTileLayer()
      heatmapLayer.radius = 100
      heatmapLayer.opacity = 0.

[2021-05-02 16:47] karthikasdas commented on #257
Hello

Having this issue even after importing GoogleMapsUtilities. It says no such module GoogleMapsUtilities. Plz help

[2021-05-02 16:48] karthikasdas opened #372 "no such module GoogleMapsUtilities"
Hello

Having this issue even after importing GoogleMapsUtilities. It says no such module GoogleMapsUtilities. Plz help

_Originally posted by @karthikasdas in https://github.com/googlemaps/google-maps-ios-utils/issues/257#issuecomment-830837502_

[2021-05-03 15:49] arriolac commented on #372
Please provide more details about your issue (package manager, versions, etc.)

[2021-05-03 16:02] karthikasdas commented on #372
Hi I resolved it by using 3.4.1(if i remember correctly)..resolved it yesterday so don't remember the exact version..but i believe there is an issue with integrating using cocoapods without providing version number.

[2021-05-04 13:08] dragosiancu0504 opened #373 "[Clustering] iOS SwiftUI Clustering doesn't work as expected."
Hello,

I'm trying to implement clustering in **Swift UI** using GoogleMapsUtils 3.9.0.
For this purpose I've created a `UIViewRepresentable` struct that has a Binding for GMSMarkers which are passed from calling an endpoint.

The problem is that the `ClusterManager` doesn't update pins on map when `updateUIView` is called. The map remains the same it was at first load.

I tried all kinds of worka

[2021-05-04 16:52] arriolac commented on #373
Hi @dragosiancu0504, I don't see any issues with the code snippet you shared. To help pinpoint the bug, what happens if you try adding/updating the map by adding markers directly without using clustering, do you see the same issue?

[2021-05-04 16:54] arriolac commented on #372
Gotcha. Glad using 3.4.1 resolved the issue. Please reopen if you are still seeing this.

[2021-05-04 16:54] #372 closed

[2021-05-04 18:00] darbysauter commented on #214
@saqibomer Sorry for the late reply

I ended up writing my own heatmapping library that would add an overlay to the map.

[2021-05-04 18:04] dragosiancu0504 commented on #373
Hey Chris,
Thanks a lot for the quick reply.

If I change my `updateUIView` method to only add markers to the map everything works fine. The only annoying thing is that I have to always call `mapView.clear()` or else the are not removed as that datasource changes.

Here is the current workaround that works fine but there's no clustering.

[code]

So this is why my guess is there is a problem with

[2021-05-05 00:35] ebellumat commented on #355
Can anyone explain, why this error appears on Mac OS with M1 chip if the iPhone is ARM too? For me, no makes sense build works fine for one ARM device and the other don't. GooglePlaces still in ARM 32bit?

[2021-05-05 00:56] ebellumat commented on #355
Funny story: The Build Works if i choose to build on Mac.

![image](https://user-images.githubusercontent.com/26942680/117086650-8f9fb080-ad23-11eb-83d9-0facb3a335c2.png)

[2021-05-05 06:40] gurjindersinghkhalsa commented on #371
Before ZoomIn
![CropUploadTeek](https://user-images.githubusercontent.com/12212137/117104883-8b62aa00-ad9a-11eb-8adf-5ef61c778a28.jpg)

After Zoom In
![CropWrong](https://user-images.githubusercontent.com/12212137/117104898-9289b800-ad9a-11eb-8c6a-875d605fc132.jpg)

[2021-05-05 12:27] BrentMifsud commented on #355
I think this is because it's not using a simulator. Whereas the simulator on M1 is a different architecture than the simulator on an Intel mac.

[2021-05-05 12:30] ebellumat commented on #355
The build on iOS simulator and the build on the Mac, both is running on M1.

[2021-05-05 19:11] arriolac commented on #373
How about conforming to `UIViewControllerRepresentable` to wrap a view controller instead? That view controller can host the `GMSMapView` and `GMUClusterManager`. My hunch is that the issue is related to `clusterManager` being a property of  `GoogleMapsClusterView` in your code snippet

[2021-05-05 19:34] arriolac commented on #371
This is perhaps due to the radius size you have set. Based on our docs, the value is recommended to be between 10 and 50. See: https://developers.google.com/maps/documentation/ios-sdk/utility/heatmap#customize-the-heatmap

[2021-05-05 19:36] #356 closed

[2021-05-06 10:11] dragosiancu0504 commented on #373
Hey @arriolac,

Your hunch was right. Transfering the map and cluster to a view controller did the job.

Thanks a lot for the help.

[2021-05-06 13:30] gurjindersinghkhalsa commented on #371
@arriolac Thanks! for your reply. But radius has no effect on this. I have tried all values from 10-60 for radius, for opacity value 1, and colorMapSize value 256. All these have no effect when I do zoom in. The result is the same as the above ss.

[2021-05-06 15:39] arriolac commented on #373
Glad that worked!

[2021-05-06 15:39] #373 closed

[2021-05-07 23:08] LilaQ commented on #355
Please, for the love of god, is there any update to this? It shouldn't take half a year to support amd64 arch.

[2021-05-09 11:38] bogo commented on #355
I was helping @mikina set up a project depending on Google Maps today and ran `vtool` without issues on all Google Maps SDK 3.1.0 and 4.2.0 constituent frameworks. After wrapping up individual frameworks in XCFrameworks, Xcode had no issues producing a functional Simulator build that depends on the Google Maps SDK.

I used the following vtool invocation:
``` vtool -arch arm64 -set-build-version 7

[2021-05-09 21:13] mikina commented on #355
I can confirm, it works! Once again, thanks @bogo !

[2021-05-10 04:50] ebellumat commented on #355
I have a simple solution, just create a iOS 13.7 emulator on Xcode, runs fine.

[2021-05-10 18:51] bogo commented on #355
This is because iOS 13.7 simulator itself is running under Rosetta, so your Xcode cross-compiles and links an x86 build. Definitely a neat trick if you are in a pinch and your app is not using iOS 14 features!

[2021-05-10 20:44] ebellumat commented on #355
I saw this on Activity monitor, tricky, but easy haha

[2021-05-16 06:46] gurjindersinghkhalsa commented on #371
@arriolac Please help to find the solution.

[2021-05-18 02:25] ovdm commented on #355
Still not fixed Google!

[2021-05-27 22:27] LilaQ commented on #355
Interesting what Google calls "very high priority" 🙄

[2021-06-02 16:24] #315 closed

[2021-06-02 16:24] #311 closed

[2021-06-02 16:24] #312 closed

[2021-06-03 11:35] nikeshakya opened #374 "Reached the max number of texture atlases, can not allocate more."
Hello I am using Google Maps SDK to display list of places using GMSGrounOverlay as markers. Each marker has images coming from backend. While image is being downloaded, I am using a placeholder icon and then once image download has completed, the rounded image will replace placeholder.
It was working fine but now I am starting to encounter crash while loading map markers with images.
Crash occurs

[2021-06-03 13:39] SaidAlSouti commented on #329
Any update on this feature request?

[2021-06-03 16:19] arriolac commented on #347
Closing. Please let me know if anyone is still encountering this issue.

[2021-06-03 21:41] EthanTheInnovator commented on #347
What an odd coincidence. This issue hasn't been touched for months, but 5 hours after it was closed I am experiencing the same issue on Xcode 12.5.

Here is the error message: "Failed to build module 'GoogleMapsUtils' from its module interface; the compiler that produced it, 'Apple Swift version 5.3.1 (swiftlang-1200.0.41 clang-1200.0.32.8)', may have used features that aren't supported by this co

[2021-06-03 21:52] EthanTheInnovator commented on #347
I found [this similar issue](https://developer.apple.com/forums/thread/669440) which discusses using [Library Evolution in Swift](https://swift.org/blog/library-evolution/) to solve this issue. It enables the framework to be built in a way that future versions of the compiler are compatible with it.

[2021-06-03 22:01] arriolac commented on #347
PR #335 was supposed to enable library evolution support, but perhaps it is being overridden (or disabled) at some point during the build process. I'll look into this.

[2021-06-03 22:27] arriolac commented on #374
Does each marker have a unique image? If not, our docs recommend the following:

[2021-06-04 04:41] nikeshakya commented on #374
@arriolac yes most of them have unique image (profile pictures)...when they have common image, I have used same instance.
But still its crashing

[2021-06-04 04:59] nikeshakya commented on #374
@arriolac By the way, images are coming from server....how do you suggest to manage such images? I did not find any resources for these scenarios in your documentations.

[2021-06-04 18:41] EthanTheInnovator commented on #347
In SPM, I set it to Up to Next Major Version, which means it should be the latest version of the library

[2021-06-05 08:52] lazarspasic96 commented on #355
Camon Google, you can do it!

[2021-06-05 22:44] brownieboy commented on #355
Didn't work for me, sadly.  Even targeting an iPhone 11 simulator, running iOS 13.7 in XCode produces that same "building for iOS Simulator, but linking in object file built for iOS" error for GoogleMapsBase.

[2021-06-06 14:42] lazarspasic96 commented on #355
Try to run code through rosetta.

[2021-06-07 00:14] brownieboy commented on #355
And now it's all working for me, including for an iOS 14.5 simulator.

What's changed to make it work now, I'm not sure.   I'm not running XCode under Rosetta (which didn't work for me when I tried it previously).  Both Xcode and Simulator show as "Apple" in the Activity Monitor's Architecture column.

I updated a lot of dependencies on my project, and went through some updates from [the React Nat

[2021-06-07 12:51] iserbius commented on #329
+1, still waiting `. xcframework`

[2021-06-10 12:16] ZsoltMolnarrr commented on #355
Hello Google!
Our team has to heavily rely on simulator usage, hence this is a major problem for us (we also ordered several macMinis with M1). We would be happy to see this problem resolved on the near future!

[2021-06-16 08:55] federicopolesello commented on #329
+1

[2021-06-17 06:34] ZsoltMolnarrr commented on #355
Hello @arriolac ! Can we please have an update on this topic? :)

[2021-06-17 07:30] 18518251995 commented on #355
Others have the same error on M1 chip

[2021-06-17 16:45] arriolac commented on #355
I recognize that this is important to everyone on the new M1 macs, and I've voiced this several times and surfaced everyones feedback here to our engineering teams to add support for this. The internal tool we use for assembling a framework (which is quite different from Apple's out-of-the box setup, so adding arm64 support is not so straightforward as it seems) is supposed to have support for gen

[2021-06-23 13:43] jenish2311 commented on #355
Try this !!! https://github.com/firebase/firebase-ios-sdk/issues/7208#issuecomment-866845495

Might be a different thing but it works for this, so you can try it for this library also. and let me know if it does not work for this library.

[2021-06-23 14:24] DVSoftware commented on #355
@jenish2311 that's not the solution, it's only a workaround, which was already mentioned.

[2021-06-24 11:45] RyuX51 commented on #329
+1

[2021-06-28 10:16] steffenbirkis commented on #329
+1

[2021-07-01 13:43] piotrekjeremicz commented on #329
+1

[2021-07-02 08:04] ozamihir commented on #355
Maybe Google will fix this issue when M2 will launch. Else we have to check with other third-party SDKs for an immediate solution. An issue raised on 11th Jan and still no response from Google.

[2021-07-02 11:26] rxng8 opened #375 "Geometry renderer tappable"
**Is your feature request related to a problem? Please describe.**
I have been making map for ios, and my work requires tapping on the geojson layer parsed and rendered by google-maps-ios-utils.

 **Describe the solution you'd like**
My solution is setting the tappable of the rendered geometries to true, so that when I the method `didTapOverlay()` is triggered when I tap the geometries in the geoj

[2021-07-02 15:10] ovdm commented on #355
I removed the Google SDK from my app and replaced it with a few HTTP calls, the old-fashioned way.... Works great. Runs on M1 with no problems and improved app performance on the iphone as well!

[2021-07-04 12:20] gurjindersinghkhalsa opened #377 "Cluster: How to show exact Cluster count on custom icon generated using GMUDefaultClusterIconGenerator() interface?"
I have more than 150 markers to show on the map and I am using clustering with custom cluster icon which I generated using  the below code.
#### Code example
var iconGenerator: GMUDefaultClusterIconGenerator!
let image = UIImage(named: "map_Clustorpoint")!
let images: [UIImage] = [image]
iconGenerator = GMUDefaultClusterIconGenerator(buckets: [150], backgroundImages: images)

let algorithm = GMUNo

[2021-07-04 12:21] gurjindersinghkhalsa opened #378 "Cluster: How to show exact Cluster count on custom icon generated using GMUDefaultClusterIconGenerator() interface?"
I have more than 150 markers to show on the map and I am using clustering with custom cluster icon which I generated using  the below code.
#### Code example
var iconGenerator: GMUDefaultClusterIconGenerator!
let image = UIImage(named: "map_Clustorpoint")!
let images: [UIImage] = [image]
iconGenerator = GMUDefaultClusterIconGenerator(buckets: [150], backgroundImages: images)

let algorithm = GMUNo

[2021-07-04 12:47] #378 closed

[2021-07-06 14:00] leontedev commented on #355
Any update on this? 🙏

[2021-07-07 21:18] khramtsoff commented on #355
Rebuilded GoogleMaps 5.0.0 and wrapped it in xcframework:
[code]

[2021-07-08 10:56] lluisgerard commented on #355
Does that work? Couldn't Google just do this? I don't feel comfortable using someone else's compiled code. What steps did you have follow to create wrap it?

I have a big project and running it in Rosetta makes everything so painfully slow, dealing with SwiftUI previews is unbearable.

[2021-07-08 13:58] BrentMifsud commented on #355
honestly running it native won't make swiftUI previews much more bearable. A slow building project will always make the previews painful.

[2021-07-09 20:32] arriolac commented on #377
Can you clarify this a bit more? As you continue to zoom in will it always show 150+ or does the correct number eventually appear?

[2021-07-10 07:34] #377 closed

[2021-07-10 07:36] gurjindersinghkhalsa commented on #377
This has been resolved.
Thanks!

[2021-07-15 16:27] twprzybysz commented on #329
+1

[2021-07-16 12:23] mathaeus commented on #329
+1

After the release of the SPM-compatible GoogleSignIn SDK this week, the Google Maps SDK is the last one for us that does not yet support SPM. So this would be highly appreciated🤞

[2021-07-16 17:53] #375 closed

[2021-07-19 11:37] talsec-app opened #380 "Missing xcframework in 3.10.0 release"
Hey!

Is there any option to add .xcframework for 3.10.0 version?

Thanks

[2021-07-19 15:43] arriolac commented on #380
Yep, an .xcframework should be available but looks like the automated release process failed last week. Will push out an .xcframework shortly.

[2021-07-19 16:02] arriolac commented on #380
This should now be available. Please reopen if you encounter any issues. Thanks!

[2021-07-20 00:35] n3rd253 commented on #23
@arriolac i'm trying to use this and https://github.com/react-native-maps/react-native-maps in concert with https://github.com/prscX/react-native-app-tour (this is the assembly which requires `use_frameworks! :linkage => :static`.  I have manually updated the podspec in my local of react-native-maps to use GoogleMaps 3.7.0 and Google-Maps-iOS-Utils ~> 3.0.0 as you've prescribed.

I'm still experie

[2021-07-20 07:22] talsec-app commented on #380
@arriolac I have an issue with usage:

checksum of downloaded artifact of binary target 'GoogleMapsUtils' (23ac812e61eccdf1ec4cd77feb2614933ece96ade1e623dd43b8494df8d307b8) does not match checksum specified by the manifest (5d9218c7e3c67836218c2159d13a4d4e7ed1eae98be4a4c609dd89edb5c2c657)

[2021-07-20 13:47] arriolac commented on #380
Will look into

[2021-07-20 16:01] #380 closed

[2021-07-20 16:02] arriolac commented on #380
Please try with version 3.10.1 which should address the checksum issue

[2021-07-21 09:10] jacquesdev commented on #355
Thanks for the update @arriolac

[2021-07-22 21:01] iUsmanN commented on #355
Hopefully, we'll get it soon 🥇

[2021-07-22 21:20] ovdm commented on #355
No resolution in sight. On top of that I have had many other frustrating problems with building my IOS app caused by the GoogleMaps library. In the end, I replaced the Google Maps Swift library with some strait-forward URL request. Turned out to be pretty simple. Substantially reduced my app's build-time, memory usage and an added bonus is that the fees for these request seem to be 50% lower!

[2021-07-23 02:43] BrentMifsud commented on #355
Why not just use Apple maps at that point? Much nicer API to work with. Better performance.

And the results are MUCH better these days then the Apple maps of old.

[2021-07-24 14:08] iUsmanN commented on #355
Apple Maps are less customisable. I hope they introduce the JSON themes in the newer version.

[2021-07-26 06:07] zinwalin commented on #355
a iOS 13.7 simulator is just compatible with Google Maps in cocoapods way! it works.

[2021-07-26 08:06] erf commented on #355
I had some build problems with Google Maps on the iOS simulator, but i got it working when i moved to the **stable** channel.

[2021-07-27 17:29] monRo commented on #347
Any update on this? Having the same issue as @EthanTheInnovator has

[2021-07-27 17:47] arriolac commented on #347
I've had a lot of trouble to try to reproduce this last time I looked into this issue. To help with debugging / reproducing, @monRo can you share more details (i.e. your environment, stacktrace, etc.)?

[2021-07-27 18:07] monRo commented on #347
@arriolac sure I can.
Here we go:
Mac OS: 11.4
Xcode: 12.5.1
Steps to reproduce:
1. XCode -> New -> Project -> App -> Interface: Storyboard, Life Cycle: UIKit App Delegate, Language: Swift
2. Add new package dependency
3. Search by google maps utils
4. Add it to the project
5. Open ViewController.swift class
6. Add `import GoogleMapsUtils`
7. Build

At this point, I'm able to see the compiler erro

[2021-07-28 03:11] zinwalin commented on #355
try to use iOS 13.7 simulator, it works like a charm.

On Mon, Jul 26, 2021 at 4:06 PM Erlend ***@***.***> wrote:

--
Thanks,
Michael Lin

[2021-07-28 06:11] DVSoftware commented on #355
You do realize you are running Intel based simultor through rosetta, right?

[2021-07-28 06:31] erf commented on #355
I'm running my app with Google Maps just fine on an M1 with both iOS 13.7 and 14.5, when i run it on the **stable** channel, but NOT on the beta / dev.

[2021-07-29 01:54] zinwalin commented on #355
I use M1 chip

DVSoftware ***@***.***>于2021年7月28日 周三下午2:12写道：

--
-- Michael Lin Sent from mobile phone

[2021-07-29 02:11] omarzl commented on #355
iOS 14.x simulators in M1 support running in x86_64 and arm64, the issue here is when you want to use Google Maps SDK compiling with arm64, just to clarify
If you compile your app with x86_64 it will run fine in the simulator through Rosetta

[2021-07-29 09:34] lluisgerard commented on #355
A little off topic but I want to point out that this is not my experience at all when you compile with M1 at full capacity. Once the project compiled once, changing the same line and pressing RUN in Rosetta can take 3 minutes while the M1 (normal mode) takes 30 seconds. I don't know why this is happening, maybe it's something specific to my codebase and my experience.

[2021-07-29 14:12] BrentMifsud commented on #355
Oh don't get me wrong, it's definitely faster, but it's not "hot reload" fast like apple advertises.

[2021-07-29 22:57] #347 closed

[2021-07-30 00:06] arriolac commented on #347
Please try with `v3.10.3`

[2021-07-30 05:34] monRo commented on #347
@arriolac what I'm doing wrong? Now can see another error:
`Failed to build module 'GoogleMapsUtils' from its module interface; it may have been damaged or it may have triggered a bug in the Swift compiler when it was produced`

[2021-07-30 06:03] arriolac commented on #347
Did you also include GoogleMaps as a dependency? Unfortunately GoogleMaps is not available in SPM yet so you'll need to do so with one of the install options (CocoaPods, Carthage or manually).

[2021-07-30 06:26] monRo commented on #347
@arriolac my bad, sorry, forgot to add it to a new fresh project. It works. Thanks

[2021-08-02 14:57] mime29 commented on #355
Google Maps is very much needed here too :)
Sending to Google dev team a big energy beam to make M1 support a reality.

NOTE: If you can give a precise roadmap or at least a M1 support release date, please do so, that would be very helpful!

Thanks again for the hard work

[2021-08-03 16:18] arriolac commented on #355
Hey y'all, following up on my [previous update](https://github.com/googlemaps/google-maps-ios-utils/issues/355#issuecomment-863397308). I've synced up with our teams handling arm64-sim arch support for generating frameworks within Google and this feature should land in the coming weeks. Once available, we will be unblocked and can resolve this issue for everyone. I anticipate this happening someti

[2021-08-18 13:36] lanthien commented on #355
I had tried this solution from [https://www.codegrepper.com/code-examples/whatever/Building+for+iOS+Simulator%2C+but+linking+in+object+file+built+for+iOS%2C+file+%27%2FUsers%2Fmedelbayoumi%2FDesktop%2Fclone%2FRemark%2Fios%2FPods%2FGoogleMaps%2FMaps%2FFrameworks%2FGoogleMaps.framework%2FGoogleMaps%27+for+architecture+arm64](https://www.codegrepper.com/)  and its work

[2021-08-23 04:10] mime29 commented on #355
Quick question @arriolac
What is the challenge for providing an arm64-sim build of the SDK?
Does it simply mean that the code currently can't compile on Xcode 12.x.x ?

Thank you

[2021-08-23 05:31] BrentMifsud commented on #355
Basically if you use google maps, your app wont compile on simulator if you use an M1 Mac.

[2021-08-23 06:47] mime29 commented on #355
Oh yes, I know that. I just want to know the underlying reason for the missing `arm64-sim` library binary

[2021-08-23 12:29] zomein opened #383 "Associating data with GEO JSON features"
When features (overlays) are rendered on the map, there is no way to associate data with each overlay. The _userdata_ property or something should be writable before rendering the overlays on the map.  When tapping an overlay on the map devs should be able to get the feature properties for that specific overlay.

[2021-08-31 08:13] DagAgren commented on #355
@arriolac macOS 12 is rumoured to not support the EXCLUDED_ARCHS kludge. That means that development will be completely blocked once you install macOS 12 until you fix this. Please prioritise this!

[2021-09-14 09:42] abbasnaqvi200 commented on #355
I solve problem by adding "arm64" in "Excluded Architectures" for both project target and pod target.

Xcode -> Target Project -> Build Setting -> Excluded Architectures > "arm64"

Xcode -> Pod Target -> Build Setting -> Excluded Architectures > "arm64"

[2021-09-15 07:48] mime29 commented on #355
That does not really solve the issue, I think it forces the compiled to use the x86_64 lib for simulator instead of using the proper arm64-sim lib (that is not present at the moment). So it compiles, yes, but it goes through Rosetta in the end.

[2021-09-20 10:36] rockylive commented on #355
all M1 mackbooks has this issue and no fix yet? oh come on

[2021-09-24 03:54] JoGoFo- commented on #355
Has anyone been able to verify this? I need to avoid updating if so

[2021-09-28 01:01] omarzl commented on #355
It seems it has been fixed but I don't want to update to confirm it 😄

https://developer.apple.com/forums/thread/681749
https://dimillian.medium.com/xcode-is-not-working-under-rosetta-anymore-on-macos-12-on-apple-silicon-b93f64a362f7
Feedback ID: FB9130594

[2021-09-28 01:51] hamidmustafa commented on #355
This totally worked for me, iPhone Simulator 12 Pro Max!

[2021-09-28 02:11] omarzl commented on #355
That’s what we don’t want, to use Rosetta/x86_64 arch

[2021-09-28 10:41] JanosCsjernyik commented on #355
I had the same issue with 14.x, 15.x, 16.x versions of node installed with [NVM](https://github.com/nvm-sh/nvm).
Finally it works for me with M1 chip. I deleted NVM, any remaining node version. Reinstalled node with [n](https://github.com/tj/n) (node version manager). I tried to run my project with the latest 16.x node version, but it failed. Luckily it worked with v14.17.6 node. I hope this will

[2021-10-04 07:50] sidjoshi1993 commented on #355
I have added x86_64 framework in.
Build Setting-> Add Debug Architecture -> Any iOS Simulator SDK

Above solution work for me.
Closed the issue:)
Good Luck Everyone!

[2021-10-14 20:52] kvlknctk commented on #355
Is there any pr for this?

[2021-10-19 14:49] Xprofi commented on #355
This is not a solution to the problem. Yes, in this way you can decide to run on your personal mac,
but for example, we have a ci / cd mac server with an m1 processor and this solution increases the build time

[2021-10-29 18:26] yonitou commented on #355
FYI, it also doesn't work on **Intel** MacBooks when using **expo** since the default behavior of their EAS builds is to build on all possible architectures (including ARM 64).
So, a quick update on this one would be much appreciated :)

[2021-11-02 19:25] n3ir0 commented on #355
does not work for me(

[2021-11-02 19:29] vfn commented on #355
@n3ir0 please open an issue on that repo describing the problem you're facing and what error you're getting.

[2021-11-03 10:26] quentinhayot commented on #355
@vfn I think they don't have a public repo for `GooglePlaces` unfortunately.
Also, I realized yesterday that my workaround won't build for a physical device. Only on an M1 simulator. Is it the problem you're having too @n3ir0 ?

[2021-11-03 10:30] vfn commented on #355
Oh, yeah, I meant my repo, to avoid adding unrelated info to this issue.

With regards to build for device, I don't know what workaround you used, but one of the issues I found and that's what made me work on creating an XCFramework was that I needed 2 arm64 versions of the framework, one for sim and one for device, and the XCFramework allows for that to happen

[2021-11-03 10:37] quentinhayot commented on #355
@vfn this:

[2021-11-03 10:46] vfn commented on #355
I see....please open an issue on my repo with some of the logs and if possible a sample project and I can try to help you with that

[2021-11-10 21:17] drewcrawford commented on #355
I took a look at some of the unofficial solutions to this problem.  They run ok if you're just playing around, but in our (largish) testsuite I frequently hit EXC_BAD_ACCESS errors related to OpenGL.  My guess is that the GL renderer has not been debugged yet on apple silicon.

The metal renderer is worse, it fails immediately due to some mismatch between depth/stencil formats.

[2021-11-16 02:52] kemalenver commented on #329
Any updates on SPM and Apple Silicon slices?  This is also our last one that we need to update before we can go 100% SPM, and not need to run our project with Rosetta.

[2021-11-16 03:57] kemalenver commented on #355
@arriolac any ETA on this?  Looks like it was assigned and given a P1 status quite some time ago.  There's a lot of devs with M1 machines now, including my entire team who are forced to run our project with Rosetta because this last SDK that needs updating.

[2021-11-16 16:23] arriolac commented on #355
We'll be able to share an update on this soon.

[2021-11-16 23:47] iSapozhnik commented on #355
Looking forward to it @arriolac! Thanks!

[2021-11-29 10:13] yonitou commented on #355
Hey @arriolac , thanks for the update.
Don't want to rush you but it's been 13 days since your answer. Could you provide an ETA ? I'm waiting so much for this ..

Thanks,

[2021-11-30 03:14] mederic-p commented on #355
Looks like 6.0.0 was released today but I can't find the release notes yet and it seems like the issue is still present in the new version 🤔

[2021-12-01 17:12] arriolac commented on #355
Hi folks, the 6.0 version of the Maps SDK shipped with an XCFramework that contains the binaries to be able to run on an M1 simulator. Note that this is currently labeled as beta but should unblock everyone here that is on an M1 machine. See this post for more info: https://cloud.google.com/blog/products/maps-platform/announcing-version-60-maps-and-places-sdks-ios

[2021-12-01 17:12] #355 closed

[2021-12-02 10:51] couderA commented on #355
i still find myself having the same issue

ld: building for iOS Simulator, but linking in object file built for iOS, file '/Users/<user>/<main_folder>/Pods/GoogleMaps/Maps/Frameworks/GoogleMaps.framework/GoogleMaps' for architecture arm64

I've just updated to Pod Version.

I've also Clean / Delete Derived Data and I have this error on the Build for a iPhone 12 Pro Max (simulator)

[2021-12-02 10:57] mikchmie commented on #355
@couderA You need to get a XCFramework instead of a regular framework. Unfortunately for now it's available only through Carthage. Check this manual for details: https://developers.google.com/maps/documentation/places/ios-sdk/start#install-the-xcframework

[2021-12-02 14:28] johndelong commented on #355
I'm hoping this is just user error, but I'm also struggling to get GoogleMaps integrated into my project correctly after following the [manual guide here](https://developers.google.com/maps/documentation/ios-sdk/start#xcframework-manual).

From top to bottom, I followed the instructions in this guide and made a new demo app called "GoogleMapsDemoApp". After I finish the guide and go to build, I ge

[2021-12-02 15:49] oblador commented on #355
I'm using a local podspec like this:
[code]
Using this gist: https://gist.github.com/oblador/7cbd4d24b6792e0e8e55d5ef924bc1ef

[2021-12-02 19:35] mthole commented on #355
I've created an internally hosted Package.swift that uses the XCFramework bundling, similar to this gist https://gist.github.com/mthole/d9c2bd007444d51392497e164adf5e28.

This compiled beautifully, but then fails during install-to-simulator time, complains that it `Failed to load Info.plist from bundle at path {snip}/MyApp.app/Frameworks/GoogleMapsCore.framework, ultimately saying `No such file or

[2021-12-03 10:31] thehavre commented on #329
@arriolac Hi! Could you please clarify, since new 6.0.0 version of Google Maps SDK is available and #355 is closed, may we use this new XCFramework version in our local Swift Packages?

[2021-12-03 10:42] ElysiumWhale commented on #329
+1

[2021-12-03 10:45] thr1llseek3r commented on #329
+1

[2021-12-03 10:47] EastHell commented on #329
+1

[2021-12-03 11:00] Vl330 commented on #329
+1

[2021-12-03 11:19] petropavel13 commented on #329
+1

[2021-12-05 22:31] codeisjoy commented on #355
`.xcframework` crashes on an internal method when trying to show street view:
[code]

[2021-12-09 00:48] #304 closed

[2021-12-10 02:28] mamunabcoder opened #388 "GoogleMaps is not running in iOS simulator for Apple Mac M1"
Error
*****
ld: building for iOS Simulator, but linking in object file built for iOS, file '/Users/bjit/Work/JASMY/SRC/p1340_project_corona/NNForwarder/ios/Pods/GoogleMaps/Base/Frameworks/GoogleMaps.framework/GoogleMaps' for architecture arm64

I am using Xcode 13.1 Xcode to build and run the app in Simulator iPhone 11 pro

[2021-12-10 03:12] arriolac commented on #388
For building on an M1 Mac, use the XCFramework available [here](https://developers.google.com/maps/documentation/ios-sdk/start#install-the-xcframework).

[2021-12-10 03:12] #388 closed

[2021-12-10 04:12] mamunabcoder commented on #388
I am using cocoa pods to install GoogleMaps in react native iOS project and Its pod based dependency installer based project.

How could I solved this using cocoa pods dependencies installer in react native project?

[2021-12-10 17:03] arriolac commented on #388
CocoaPods is not a supported package manager yet for XCFrameworks. You would have to use either Carthage or install the xcframework manually.

[2021-12-13 09:13] akhakimzyanov commented on #329
+1

[2021-12-14 18:09] luispadron opened #389 "[SPM] GoogleMaps 6.x.x XCFramework Not Compiling on x86_64"
#### Environment details

1. Specify the API at the beginning of the title: GoogleMaps
2. OS type and version: macOS 11.6.1
3. Library version and other environment information: XCode 13.2

#### Steps to reproduce

Using the XCFrameworks from [here](https://developers.google.com/maps/documentation/ios-sdk/start?_ga=2.25162488.-333209816.1638998319#install-the-xcframework)

We created a `Package.sw

[2021-12-14 23:45] arriolac commented on #389
Is this also an issue while trying to install the XCFramework using one of the supported methods (Carthage or installing manually?). Or does this issue only happen while using the XCFrameworks via SPM as shown in your `Package.swift`?

[2021-12-14 23:50] luispadron commented on #389
I haven't tried it any other way, other than by wrapping it via SPM. We only use SPM at work so was trying to get it functional for the GoogleMaps SDK now that `.xcframework` are available.

[2021-12-15 10:32] mamunabcoder commented on #388
I think, you should not understand my above question. Please try to understand

[2021-12-15 10:33] mamunabcoder commented on #388
Why you close the bug?

[2021-12-15 17:11] arriolac commented on #389
SPM is not supported yet so there could be integration issues while using it. I recommend using either Carthage or installing the XCFrameworks manually to get around this issue.

See: https://issuetracker.google.com/issues/141721633

[2021-12-15 17:20] arriolac commented on #388
This bug was closed because a solution is available for M1 machines by using the [XCFramework](https://developers.google.com/maps/documentation/ios-sdk/start#install-the-xcframework) version of the SDK. At the moment, only Carthage and installing it manually are the only installation options for this. As I mentioned in my previous comment, CocoaPods is not supported for XCFrameworks. If you would

[2021-12-17 08:43] Neilfau commented on #329
+1

[2021-12-27 09:49] VanMinh-sudo opened #390 "Google Maps SDK for iOS version 6.0 can not run in Mac M1 simulator"
Hi! I've found an issue that Google Maps SDK for iOS version 6.0 CAN NOT run in Mac M1 simulator on project written combined swift + objective c. If a project was written by only swift, it's working fine

error: building for iOS Simulator, but linking in object file built for iOS, file '...' for architecture arm64

1. Mac OS Big Sur 11.6.1, Xcode 13.1, Mac mini m1 2020
2. Google Maps version 6.0.0

[2021-12-27 13:15] #390 closed

[2021-12-30 17:21] shalinipk commented on #355
I upgraded Google Maps/Places SDK to the latest beta versions(6.0.x). Now my code builds successfully, however seeing some crashes when I try to run app on simulator (haven't tried on real device), stack trace below. I am on M1/XCode 13, integrating xcframeworks manually.

I think for now, I will fall back to previous versions of Maps/Places SDK, and launch XCode using Rosetta.

2021-12-29 17:02:2

[2021-12-30 17:34] shalinipk commented on #355
Also, noticed this error while trying to run on iOS14 simulator - "'cyclone' is not a recognized processor for this target"

According to this thread - https://developer.apple.com/forums/thread/658330, OpenGL support is broken for M1. Looks like Apple will pull the plug on OpenGL anytime, however Google Maps still requires us to link with OpenGL framework.

Appreciate any insights into this. Ours

[2021-12-30 23:12] arriolac commented on #355
@shalinipk thanks for reporting these issues.

Since [version 5.2.0](https://developers.google.com/maps/documentation/ios-sdk/releases#2021-10-19), you should be able to opt-in to use the Metal rendering framework instead of OpenGLES. Currently using Metal is opt-in but this will be the default in a future version.

[code]

As far as the crash that you linked, can you report that issue on the [pub

[2022-01-03 15:29] dcacenabes commented on #355
In case you want to give a try to using Metal as the rendering framework, please be aware that it crashes in the iOS simulator!
https://issuetracker.google.com/issues/208593323
In phones it is working properly

[2022-01-03 21:07] #358 closed

[2022-01-03 23:58] codeisjoy commented on #355
I still get a crash when trying to present street view for a given coordinate:
[code]

[2022-01-04 01:54] drewcrawford commented on #355
Probably missing “-ObjC” in link flags.

[2022-01-04 02:09] codeisjoy commented on #355
Nope.

[2022-01-04 15:53] gavrix opened #391 "Podspec: invalid EXCLUDE_ARCHS value"
This is an issue with [Podspec](https://github.com/googlemaps/google-maps-ios-utils/blob/main/Google-Maps-iOS-Utils.podspec) defined in this repository.

When the library is integrated using cocoapods, [these lines](https://github.com/googlemaps/google-maps-ios-utils/blob/main/Google-Maps-iOS-Utils.podspec#L26-L27) make cocoapods insert in every `Pods-Project.xcconfig` this line:
[code]
which was

[2022-01-04 17:10] arriolac commented on #391
Thanks for reporting. Yes, the podspec should be updated and a new version should be released to remove arm64 exclusion.

[2022-01-04 17:22] arriolac commented on #355
@codeisjoy that issue should be addressed in version 6.0.1 (looks like you are still on 6.0.0). Give that a try instead.

[2022-01-04 17:28] shalinipk commented on #355
Thanks @arriolac @dcacenabes This is useful info. In case apple decides to pull the plug on OpenGLES, now I know what to do :)

I will try to submit an issue sometime this week

[2022-01-04 21:45] arriolac commented on #391
Removing the `EXCLUDED_ARCHS` from the .podspec is actually blocked by the `GoogleMaps` pod which does not yet support XCFrameworks. If you are developing on an M1 machine, I recommend using either Carthage or SPM followed by installing the [.xcframework version of the Maps SDK](https://developers.google.com/maps/documentation/ios-sdk/start#install-the-xcframework).

[2022-01-04 23:09] codeisjoy commented on #355
I confirm the issue is resolved on 6.0.1.

[2022-01-05 13:50] gavrix commented on #391
Thank you for looking into this! This is actually a transient dependency of the other dependency we use in RN environment. I'll patch that dependency and use a local podspec for Google-maps-ios-utils instead. It's all hacks and patches, but will work in the meantime.

[2022-01-06 15:49] VincentDurandChewbi commented on #329
+1

[2022-01-06 15:59] VincentDurandChewbi opened #393 "GoogleMapsUtils module build incompatible with latest swift version"
#### Environment details

1. Mac os Big Sur Version 11.4
2. XCode version Version 13.0 (13A233)
3. GoogleMapsUtils version 4.1.0

#### Steps to reproduce

1. Add GoogleMapsUtils in my SPM Project (next major version)
2. Build app
3. Error hapend (cf screenCap below)

![MicrosoftTeams-image (43)](https://user-images.githubusercontent.com/8911520/148410793-f03b831d-5331-4cab-a001-c49b20fa4fc8.png)

[2022-01-06 17:56] arriolac commented on #393
The library is built with library evolution support (`BUILD_LIBRARY_FOR_DISTRIBUTION` is set to `YES`) so it _should_ work on the latest version of Xcode/Swift. I did test this on Xcode 13 and was able to get it to work. Perhaps a clean build might do the trick?

[2022-01-12 20:43] luispadron commented on #389
We'll wait for SPM support, manually installing at scale is really not feasible and adding a second dependency manager on top of SPM with Carthage isn't ideal either. Am a little confused what would be missing for SPM support because `xcframework`s should work with SPM in most cases, do you happen to know what is missing?

[2022-01-14 17:59] elena-gordienko commented on #389
I have the same issue as @luispadron using Carthage (GoogleMaps 6.0.1-beta, xcframeworks GoogleMaps and GoogleMapsBase) when I try to build my project for x86_64 Simulator. So the problem probably lies not in the integration with SPM but in the xcframeworks themselves.

[2022-01-14 18:24] arriolac commented on #389
@luispadron SPM has very limited support for static framework bundles, which GoogleMaps XCFrameworks are. I previously attempted to create a GitHuhb repository to host XCFrameworks to support SPM but ran into some issues due to this structure. I will revisit this once SPM has better support for static framework bundles, or alternatively, GoogleMaps XCFrameworks switches to dynamic frameworks.

@el

[2022-01-17 08:23] Neilfau commented on #329
+1

[2022-01-17 17:03] elena-gordienko commented on #389
@arriolac You are right, I've checked it once again and it turns out that the 6.0.1-beta works using Carthage and when installing it manually. The mistake was mine, I forgot to add GoogleMapsCore. Updated my previous comment. Thank you!

[2022-01-18 16:10] dyegos commented on #355
Hello, I tried running the new SDK version, but I still get the error
building for iOS Simulator, but linking in object file built for iOS, file '/Path/Pods/GooglePlaces/Frameworks/GooglePlaces.framework/GooglePlaces' for architecture arm64

I am using code 13.2.1, iOS 13.6 and M1 MacBook

Am I doing anything wrong?

[2022-01-19 07:41] leenatekani5 commented on #329
Any update on when SPM will be available for google maps.

[2022-01-21 09:22] dyegos commented on #390
I have the same issue. I have Xcode project in Swift on iOS 13.6, cocoa pods installation, MacOs 12.1. Google Maps 6.0.1

I get the following error building for iOS Simulator, but linking in object file built for iOS, file '/Path/Pods/GooglePlaces/Frameworks/GooglePlaces.framework/GooglePlaces' for architecture arm64

I know there's was a fix released regarding the M1 macs and simulator, but it st

[2022-01-21 09:37] dyegos opened #394 "Can't run Google Maps 6 in the simulator in the M1"
#### Environment details

- Google Maps 6.0.1
- Xcode 13.2.1
- iOS 13.6
- macOS 12.1
- Swift project
- Cocoapods 1.11.2

#### Steps to reproduce

  1. Use the project attached in an M1 mac [googlemapstest.zip](https://github.com/googlemaps/google-maps-ios-utils/files/7912091/googlemapstest.zip)
  2. pod install
  2. Build it for the simulator
  3. It can't build **_error building for iOS Simulator

[2022-01-21 17:09] arriolac commented on #394
CocoaPods is not yet supported. If you are on an M1 machine, you will need to use the XCFramework version of the SDK. See: https://developers.google.com/maps/documentation/ios-sdk/config#install-the-xcframework

If you'd like support for CocoaPods, please see the [public issue tracker](https://issuetracker.google.com/issues/new?component=188833&template=789005) for any existing issues on this topi

[2022-01-21 17:09] #394 closed

[2022-01-27 07:04] cristibaluta commented on #355
How was this closed? It is definitely not working on my M1 Pro on simulator:

building for iOS Simulator, but linking in object file built for iOS, file '.../Pods/GoogleMaps/Base/Frameworks/GoogleMapsBase.framework/GoogleMapsBase' for architecture arm64

Using the latest versions:
Installing GoogleMaps 6.0.1 (was 4.2.0)
Installing GooglePlaces 6.0.0 (was 4.2.0)

[2022-01-27 23:02] shalinipk commented on #355
Opening XCode using Rosetta seems to resolve it for me - for now.

[2022-01-28 01:44] mime29 commented on #355
Solving this means being able to build on M1.
Apparently the archive 6.0.1-beta supports M1 but `beta` means not ready for production.

[2022-01-28 19:15] maclne commented on #355
Confirmed I can only build with Rosetta. Not perfect, but definitely an improvement!

[2022-01-28 19:50] erf commented on #355
I'm able to run to run GoogleMaps on my M1 on a simulator. Did you try to remove and re-install the CocoaPods the arm64? Maybe [this](https://stackoverflow.com/a/65334677/1391965) answer might help.

[2022-01-28 20:27] maclne commented on #355
And you're sure you're not running Xcode with Rosetta? I tried the solutions at the link you shared and can still only build with Rosetta (which to me isn't the end of the world).

[2022-01-28 21:33] erf commented on #355
I run from a native terminal (not rosetta). Did you install the pods from scratch? I tried it now and it worked, i just had to do a manual `pod install` inside the `ios` folder.

[2022-01-28 22:00] maclne commented on #355
I tried:
pod deintegrate
pod cache clean --all
pod install
Cleared my build folder and rebuilt.

 No luck with non-rosetta. But I'm content with running in Rosetta. I'm just pumped to be able to use the simulator again.

[2022-01-28 22:14] erf commented on #355
I did the following:
Deleted `Pods` folder and `Podfile.lock`
`flutter pub get`
`pod install`
`flutter run`

Maybe you need to check that the rest of the toolchain is arm64 like Cocoapods, RubyGems etc. Not sure how all this works .. but if you are fine running on Rosetta 👍

[2022-01-29 07:33] cristibaluta commented on #355
I actually managed to run it once in an empty project, but don't know what i did. As soon as i started to add more pods everything broke. The problem i'm seeing is that Pods_projectname.framework is not generated on M1

[2022-01-30 11:01] dmi3j commented on #393
Same problem with Version 13.2.1 (13C100)

It might work for the who updated Xcode from App Store for some time (I assume some old compilers might exist on local machine). But if you download latest Xcode build from App Store or Apple Developer website, the only option you have is latest compiler. **GoogleMapsUtils version 4.1.0 is not compiled on Xcode 13.2.1 (13C100)**

[2022-01-30 17:15] movezapp commented on #140
Im having this same issue

[2022-01-31 20:23] arriolac commented on #140
@movezapp

What package manager are you using? Can you provide steps to repro?

[2022-02-02 13:33] edgarclerigo commented on #393
Having the same issue with Xcode 13.2.1

[2022-02-02 15:23] arriolac commented on #393
Will take a look

[2022-02-10 08:12] ParrisPerson opened #395 "Support KMZ files"
Hello, i wonder if is possible to load a KMZ file directly in a map like with the javascript method google.maps.KmlLayer
Best Regards!

[2022-02-10 08:12] jpoehnelt commented on #395
@ParrisPerson Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps Platfor

[2022-02-11 15:36] nick3389 commented on #355
Any news regarding running in XCode WITHOUT Rosetta???? I confirm that it runs only on Rosetta in XCode.

[2022-02-11 17:08] cristibaluta commented on #355
I read more carefully the docs and it says that you need to add the .xcframework manually, using the pod will not work because it uses .framework
Didn't test it, since my project's git is limited to certain file sizes, and i wouldn't include the lib even if i was not limited.

[2022-02-13 22:24] ccynn commented on #355
also facing the same issue still. 🥲

[2022-02-14 04:19] karatekid430 commented on #355
Can you please elaborate on how to do this? I have patched react-native-maps to use 6.0.1 but it is still not using xcframework. Thanks. :)

[2022-02-14 06:06] magnett commented on #355
I did have the same issue using CocoaPods and I followed Google's suggestion to visit [this](https://stackoverflow.com/questions/63607158/xcode-12-building-for-ios-simulator-but-linking-in-an-object-file-built-for-io?page=1) StackOverflow thread. What resolved it for me was:
_"Navigate to Build Settings of your project and add Any iOS Simulator SDK with value arm64 inside Excluded Architecture."_

[2022-02-14 06:35] martinkrasnocka commented on #355
Here it is: https://developers.google.com/maps/documentation/ios-sdk/config
But to save you from another disappointment, it doesn't work well. I was able to compile it and run it under M1 without Rosetta, but the actual performance of google map in the simulator was utter garbage, like 1 frame per second. When I tried to switch it to metal renderer, it crashed immediately after launch. After all,

[2022-02-17 10:58] idsky2 commented on #383
This is needed!  I had my features rendering beautifully on my map but cannot determine which feature was tapped in the didTapOverlay function.  Crazy.  So I'm throwing out this whole library and rendering my own overlays with userData actually set to something.

[2022-02-28 15:00] loic-hamdi opened #396 "[google_maps_flutter: ^2.1.1]. GMSx_CCTClearcutUploader crashIfNecessary"
Hi,

[The initial Flutter Github issue closed because the problem seems to be caused by Google Maps](https://github.com/flutter/flutter/issues/99167#issuecomment-1051179077)
With google_maps_flutter: ^2.1.1 on iOS physical device, I have this console warning message:

[code]

Flutter setup:

[code]

Any idea how to fix it?

[2022-02-28 15:01] jpoehnelt commented on #396
@zzterrozz Please take a moment to fill out [this short survey](https://forms.gle/wYuzN6UibnFj7ZL29). Thank you!

_This is an automated message, feel free to ignore._

[2022-03-01 13:12] zabojad opened #397 "No way to get tapped coordinates on overlay"
Since [PR 376](https://github.com/googlemaps/google-maps-ios-utils/pull/376), overlays from KML places are tappable.

It prevents the `didTapAtCoordinate` delegate method to be called when we've tapped an overlay. So that now, we cannot get the tapped coordinates at all when we've tapped an overlay.

Can we fix by either :

- Control the overlays tappable value by passing a param somewhere (to the

[2022-03-01 13:12] jpoehnelt commented on #397
@zabojad Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps Platform iss

[2022-03-04 14:14] mkurtipek commented on #355
This solved my issue https://github.com/react-native-maps/react-native-maps/issues/3527#issuecomment-696173470

[2022-03-04 21:55] DagAgren commented on #355
What an absolute clown show by Google.

The issue everyone is having is that Google did not actually put the fix into the CocoaPods release. You have to stop using CocoaPods and include the .xcframework manually.

[2022-03-07 14:31] rsgermano1 opened #398 "GoogleMaps.xcframework: CCTClearcutUploader crash on native iOS app"
I have an application that uses the GoogleMaps SDK to display some marker in the map. The user can only navigate on it and select some marker. This map is not always visible, only when the user access certain part of the app. The crash is happening when I access the view that uses the Google Maps SDK for the second time. The view controller opens, the map view stays gray and the app crashes. There

[2022-03-07 17:49] arriolac commented on #355
Hi folks, it looks like there's some confusion on the status of M1 mac support for the Maps SDK. I want to clarify that here.

### Getting the SDK to work on emulators on an M1 Mac
As of version `6.0.1` of the Maps SDK for iOS, the only way to get the SDK to compile and work on the iOS emulator, without using Rosetta, is to install the XCFramework version (i.e. `6.0.1-beta`) of the SDK. You can in

[2022-03-11 20:11] zzterrozz commented on #396
@jpoehnelt Any chance to have your help on this issue?

[2022-03-18 12:46] billgert commented on #398
Same issue here (does not matter if I open Xcode with Rosetta or not)

[2022-03-20 14:40] MadGeorge commented on #398
Same issue. Following [a guide](https://developers.google.com/maps/documentation/ios-sdk/config#xcframework-manual) for manual xcframework integration in replace of cocoapods setup and got a crash when map loaded.
<img width="1195" alt="Screenshot 2022-03-20 at 17 38 31" src="https://user-images.githubusercontent.com/25031713/159167790-15d62334-ccf1-4e0a-ae38-bfe47c061b12.png">

[2022-03-21 09:51] BudhirajaRajesh commented on #398
Same issue exists with 6.0.1-beta

[2022-03-22 22:34] arriolac commented on #396
Perhaps related to #398

[2022-03-23 17:53] utkudmir commented on #398
Any update on this fix ?

[2022-03-23 20:08] arriolac commented on #398
6.1.1-beta was just released yesterday. @rsgermano1 or @utkudmir, can you confirm if upgrading to 6.1.1-beta resolves this issue?

[2022-03-23 20:54] utkudmir commented on #398
Tried the 6.1.1 version but still crashes on simulator(iOS 15.4)

[2022-03-29 10:19] stherold opened #400 "[4.0.0] Carthage installation fails with Xcode 13.3"
#### Environment details

Google-Maps-Utils 4.0.0
Xcode 13.3
Carthage 0.38.0

We don't want to use Google Maps Utils 4.0.0 since it contains beta references of Google Maps. When is the time come that this is not marked as beta or asking differently is it sdafe to use the version `6.0.1-beta` of Google Maps and is it only beta because of the xcframeworks?

#### Steps to reproduce

Create the follow

[2022-03-29 10:20] jpoehnelt commented on #400
@stherold Please take a moment to fill out [this short survey](https://forms.gle/wYuzN6UibnFj7ZL29). Thank you!

_This is an automated message, feel free to ignore._

[2022-03-29 10:20] jpoehnelt commented on #400
@stherold Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps Platform is

[2022-03-29 16:39] arriolac commented on #400
I'm assuming you are on an M1 machine? Version 4.0.0 of the utility library depends on Maps SDK version 5.1.0 (see https://github.com/googlemaps/google-maps-ios-utils/compare/v3.10.3...v4.0.0) which does not have the binaries for arm64-sim support. I recommend using 4.1.0 which depends on on 6.0.1-beta which has arm64-sim support if you are on an M1 machine.

Yes, it is marked as beta because it i

[2022-03-30 17:35] arriolac commented on #400
Gotcha. Let's keep it open for a bit in case anyone else runs into this. I was not able to repro this but I'm on Xcode 13.2.1

[2022-04-05 07:16] GuillaumeDgr commented on #397
Any fix on this ? Thks

[2022-04-13 12:21] russmenum opened #401 "google-maps-ios-utils preventing iOS app from building both in XCODE and RN command line"
Something is wrong, but I have no clue what.

This library is a co-dependency for using Google Maps with iOS when using ```react-native-maps``` I add the code suggested to the ```Podfile``` and ```AppDelegate.m``` from the [documentation](https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md)

But if I try and build the iOS app either using XCODE or ```npm run ios

[2022-04-13 12:21] jpoehnelt commented on #401
@russmenum Please take a moment to fill out [this short survey](https://forms.gle/wYuzN6UibnFj7ZL29). Thank you!

_This is an automated message, feel free to ignore._

[2022-04-13 13:08] russmenum commented on #401
it seems there is an additional error with the google co-dependencies. On the Intel Mac, ```pod install``` can complete, and you get to the above. On an M1 Mac, you can not even complete the ```pod install``` with these dependencies.

[2022-04-16 08:47] #366 closed

[2022-04-16 08:47] #367 closed

[2022-04-16 08:47] #365 closed

[2022-04-20 09:33] kvogli opened #402 "Maps: calling GMUHeatmapTileLayer.clearTileCache() has no effect in updating heatmap's options such as radius, gradient etc"
Hi, i believe there is a bug when calling clearTileCache() after changing heatmap's properties such as radius etc,. I have installed GoogleMapsUtils (v6.0.1-beta) via Carthage on an M1 machine.

#### Environment details

M1 machine
Xcode 13.1
Carthage 0.38.0
Google-Maps-Utils 6.0.1-beta

#### Code example

[code]
Changing heatmap's opacity shows instantly in the map, even _without_ calling .clearT

[2022-04-20 09:33] jpoehnelt commented on #402
@kvogli Thank you for opening this issue. 🙏
Please check out these other resources that might be applicable:

- [Support Console](https://cloud.google.com/support/) - If you have a support contract.
- [Discord](https://discord.gg/9UpV862xZ9) - chat with other developers
- [StackOverflow](http://stackoverflow.com/questions/tagged/google-maps) - use the `google-maps` tag
- [Google Maps Platform issu

[2022-04-20 16:14] Rexios80 commented on #402
You have to call `heatmapLayer.map = yourMapView` first

https://github.com/googlemaps/google-maps-ios-utils/issues/154#issuecomment-343846113

[2022-04-20 16:15] Rexios80 commented on #402
This should probably be documented here: https://developers.google.com/maps/documentation/ios-sdk/utility/heatmap#change-the-dataset

I had the same issue, and the instructions on that site are pretty much just outright incorrect

[2022-04-20 20:22] kvogli commented on #402
Thanks for the help! That seems to work only halfway though - the rendering is still quite laggy after updating the radius and not as responsive as compared to changing the opacity. I'm not sure if this is the final solution or there is a better one (possibly a bug may still persist?)

And yes i agree that the documentation needs an update for this section.

[2022-05-22 15:52] gaurangplacie opened #407 "PolyUtils - distanceToLine and IslocationOnPath alternative in Google Maps iOS"
How to find if the car location is in the given polyline or not in swift. If it's not in the given polyline then I want to find distance.

In Android, Google maps is giving class **PolyUtils**  which has `distanceToLine` and `IslocationOnPath` method.

How to implement the same feature in iOS using google maps?

[2022-05-25 13:15] krris opened #408 "Release a new version with an updated GoogleMaps dependency in Carthage to 6.2.1-beta"
Hi! 👋

Currently the library is dependent on Google Maps `6.0.1-beta`. As of today (25th May 2022) the latest version of Google Maps is `6.2.1-beta`.

Could you please release a new version of the library with the updated dependency in Carthage to the latest Google Maps version (as of today it's `6.2.1-beta`)?

![Screenshot 2022-05-25 at 15 11 34](https://user-images.githubusercontent.com/1786612/

[2022-05-28 13:37] blurpy opened #411 "Clustering: Bad framerate on new devices"
Enabling clustering makes moving around the map really choppy, as in the framerate stutters.
My app has been using clustering for many years, and this issue seems to be happening to newer devices. I noticed when I got an iPhone 13. I have asked some of my users with older devices, and they don't experience this issue.

My app don't really show many markers. Around 500 at the most. If I disable clu

[2022-06-01 05:29] maulikm235 opened #412 "Randomly crash on map screen."
#### Environment details
XCode : 13.4 (13F17a)
Simulator : iPhone 12 Pro Max (15.5)
macOS : 12.2.1 (21D62)
Pod version : GoogleMaps (6.2.1)

#### Steps to reproduce
- Set GoogleMaps as the first screen and open the application you will get that crash.

#### Stack trace
### gmscore::renderer::GLEntity::Draw(gmscore::renderer::EntityRenderer*, gmscore::renderer::RenderBin*, GMSPassID)
[code]

#### S

[2022-06-02 23:55] tdinckaya commented on #236
Anyone has any idea ?

[2022-06-09 13:32] olSolo opened #414 "GoogleMaps v 6.*.* with dark style blink white when navigating and loading map"
I'm using GoogleMaps with dark style applied, and when moving the map or changing scale the not loaded piece blink white for a moment. If I turn off the Internet connection and move the map, I see that map is white with black labels in the not loaded areas. I tried different versions 6.*.*, including the latest one. Works fine with the same style on v 5.36

![Screenshot 2022-06-09 at 17 30 45](htt

[2022-06-10 13:35] aea91 commented on #362
Is there anyone who solved the problem?

[2022-06-12 22:38] VincentDurandChewbi commented on #329
+1 still waiting for this update.
Last version of google maps sdk allows build on new arm mac so is there anything still blocking the SPM migration ?

[2022-06-13 11:53] james-innes commented on #371
Set `maxIntensity: 3,` as an [option](https://developers.google.com/maps/documentation/javascript/reference/visualization#HeatmapLayerOptions.maxIntensity) of the `HeatmapLayer`. Before setting this there was just a blur. This map has over ~14k points.

<img width="500" alt="Screenshot 2022-06-13 at 12 51 31 pm" src="https://user-images.githubusercontent.com/34094735/173347596-73629cf7-8764-4891-a

[2022-06-14 16:30] blazek commented on #329
+1

[2022-06-14 16:51] yunnnyunnn commented on #411
I have the same issue too.

[2022-06-14 22:45] wangela commented on #411
Thank you for bringing this to our attention and linking the bug report from the Issue Tracker. We'll provided updates here as we see updates to the SDK issue.

[2022-06-15 07:53] blurpy commented on #411
Remember to vote on the Google Issue Tracker as well, so they know people are affected.

[2022-06-15 07:55] eimantas commented on #412
+1

[2022-06-17 03:38] BeauNouvelle commented on #236
I've been getting this crash all day. Any workarounds?

[2022-06-17 14:00] TaimoorSaeed commented on #329
+1

[2022-06-21 12:03] dkati commented on #395
any news here?

my target is:
` let url = URL(string: "https:/blablabla.kmz")

        let kmlParser = GMUKMLParser(url: url!)
        kmlParser.parse()

        let renderer = GMUGeometryRenderer(
          map: mMap,
          geometries: kmlParser.placemarks,
          styles: kmlParser.styles
        )

        renderer.render()
`

[2022-06-21 21:52] iosdevben commented on #389
Can you provide an update to the progress of this please?

[2022-07-01 22:59] mistralaix opened #415 "Cluster pop animation keeps popping when I zoom or move"
Hi,

I am using the cluster manager in order to display my markers on my map. I wanted to add the pop animation on the appearance of my marker. However every time that I try to move or to zoom on the map, my markers keep re-appearing.
At the beginning, I was just using custom icons on my markers and they kept blinking every time I zoomed or moved on the map. In order to simplify the demonstration,

[2022-07-15 07:52] blurpy commented on #411
They closed the issue without any explanation:

Do anyone here have any insider details about why it's obsolete? Tried asking about it, but I doubt they are going to answer.

[2022-07-19 09:53] SparklingAir commented on #321
@arriolac Hello! I have:

    pod 'GoogleMaps', '6.2.1'
    pod 'GooglePlaces', '6.2.1'
    pod 'Google-Maps-iOS-Utils', '~> 4.1.0'

and problem is still here. The workaround above didn't help. My markers have icons as a horizontal rectangle to the right of the anchor, and disappear (during zoom) when the left side of the rectangle goes off the edge of the screen. My code:

final class MapViewCont

[2022-07-25 13:50] dneykov opened #416 "Question about Cluster manager."
Is is possible to create multiple cluster managers? I'm trying with 3 different instances but clusters on the map are behaving strange.
For example
- When zooming in the cluster animations happens twice(items count is correct).
- Markers are showing without animation.

Above behavior happens even if I only instantiate the second cluster manager without adding items to it.

I'm sorry if the questio

[2022-07-28 10:26] krris commented on #408
Hey @jpoehnelt and @wangela 👋 Could you please tell if you plan to release a new version of this library with updated dependencies?

[2022-08-01 03:05] #408 closed

[2022-08-02 18:18] stherold opened #418 "Update Google Maps Dependency to 7.0.0-beta in Carthage"
Hey there,

I just wanted to know when the lib is ready to support Google Maps 7.0.0-beta and why it only supports Google Maps 6.0.1-Beta right now?

We established a fork which links to Google Maps 7.0.0-beta and it seems to work fine.

[2022-08-04 08:04] sharjeelahmed commented on #398
any update on this ? i am facing the similar issue

[2022-08-05 10:45] stherold commented on #400
For us it runs again, we now use version `4.1.0`

[2022-08-05 10:45] #400 closed

[2022-08-09 13:56] behenate commented on #227
I'm having the same issue. Has anyone figured out how to fix it?

[2022-08-24 14:37] thealpa commented on #214
@darbysauter Would you mind publishing your heatmapping library?

[2022-09-04 11:10] harjeetk commented on #176
@PatoSalazarNascent What was the workaround you found?

[2022-09-05 11:59] nharbo commented on #347
I'm having the same issue now:
[code]

Any suggestions on how to get on with this? Does it take a new version of the SDK? Currently installing with SPM and "4.1.0 - Next Major".

[2022-09-23 14:12] Chanvannak52 commented on #418
[]()

[2022-09-23 17:21] wangela commented on #418
This is blocked by https://github.com/Carthage/Carthage/issues/3289.  We have submitted a PR with a fix but it has yet to be accepted by the Carthage project. Please consider engaging on the issue or https://github.com/Carthage/Carthage/pull/3290 to encourage the maintainers to prioritize.

[2022-10-04 09:25] Neilfau commented on #329
+1

[2022-10-21 22:33] stherold commented on #329
+1

[2022-10-25 10:40] ARamy23 commented on #329
+1

[2022-10-26 00:54] chitgoks opened #419 "Are Heatmap renderings for android and ios lib the same or different?"
I wish to ask for confirmation if the answer to the question in the post title is true or not. I have different result renderings of heatmaps in android and ios, though I use different libraries i am not sure if it could be the library itself or maybe ios rendering is different? Considering the  GMUWeightedLatLng has an intensity property which i am not sure what that is for unlike in android.

<i

[2022-10-26 12:04] dneykov opened #420 "Issue with Xcode Preview"
Hi,

I'm having problems after adding this package in project. I'm using SwiftUI for part of my views but I'm not able to use the Xcode previews because of following error.

`SettingsError: noExecutablePath(<IDESwiftPackageStaticLibraryProductBuildable:ObjectIdentifier(0x0000600095ebb8a0):'GoogleMapsUtils'>)`

It happens when I try to resume the Preview. If I remove the package Previews are workin

[2022-10-27 23:07] chitgoks commented on #419
Added info.
Used simple features lib for android to parse data

Used GeoSwift lib for ios. Simple features also has ios but its not in swift.

This is the data source
https://earthquake.usgs.gov/fdsnws/event/1/query?starttime=2022-09-23&format=geojson&minlatitude=4&maxlatitude=21&minlongitude=112&maxlongitude=132

[2022-10-30 08:59] StefanNestorov commented on #329
+1

[2022-11-02 13:27] DanijelHuis commented on #329
+1

[2022-11-08 07:56] chitgoks opened #422 "GMUGeoJSONParser.features add properties in every feature"
Hi. I am basing my case scenario from my Android experience where
[code]

geo.toString() contains a property json for every feature. and when i loop through layer.getFeatures(), i can just call feature.getProperty("property_name")

but in the ios version, there is no such thing available. please include this.

[2022-11-09 04:03] chitgoks commented on #422
closing. found same issue here.
https://github.com/googlemaps/google-maps-ios-utils/issues/135

[2022-11-09 04:03] #422 closed

[2022-11-09 05:53] chitgoks opened #423 "Set An OverLay Title from GeoJsonParser.features"
I wish to request a feature such that
[code]

I do not see any way to do that from GMUGeometryContainer or even casting geoJsonParser.features to GMUFeature. Am i missing something? Thoughts?

I actually want to pass data from GMUFeature to when the geojson is rendered and use the data when i iterate through renderer.mapOverlays()

[2022-11-09 11:40] chitgoks commented on #135
hi, i came across this thread because i do not know how to access feature.properties once it is rendered by GMUGeometryRenderer.render()

i thought at first that geoJsonParser.features link hand in hand with renderer.mapOverlays() but the overlays count too many compared to the features array of geoJsonParser.

i was looking at populating the userData property but there does not seem to be a way t

[2022-11-09 14:21] chitgoks opened #424 "Color #01aafb Not rendered in Feature Properties"
#### Environment details
1) Google Maps Utils 4.1.0
2) GMUGeoJSONParser ios 16, GMUStyle

Setting a fill color to GMUFeature.style (GMUStyle) with hex #01aafb is not rendered.

I see a message in the console that says [Graphics] UIColor created with component values far outside the expected range. Set a breakpoint on UIColorBreakForOutOfRangeColorComponents to debug

So i figured this could be the

[2022-11-12 08:13] chitgoks commented on #143
Just a follwup question. Did you guys get to compare the results with android-map-utils? Are the renderings the same? or not

[2022-11-22 17:28] stherold commented on #418
There is already a PR open: https://github.com/Carthage/Carthage/pull/3290

Is that what you need?

[2022-11-24 02:53] chitgoks commented on #27
This is frustrating if that is the cause. i am using external data sources and i do not have issues with the android library, but  with the ios version, i get the exception.