[2014-07-16 12:41] dams2007 opened #2 "Counting for the Cluster not right"
Hi DDRBoxman, I noticed that the counting in GstaticCluster.m is not right, I was thinking maybe it's just in my app but the demo got the same too. If you are zooming down with differents steps for the zoom you can see that the global counting does not stay the same. I am trying to find out the problem but I did not find anything for the moment.

[2014-07-31 11:24] #2 closed, assigned to nobody

[2014-08-11 15:16] dams2007 opened #3 "Working to add a function to remove every cluster and annotations from the map"
Hi Mickael,
I noticed that there is no feature to remove every cluster and annotations from the map if we want to add some new one. I am trying to make that feature works.

I was thinking that the best way to do it was to keep all the Spot added in a NSMutableArray.
And do a [ArraySpot removeAllObjects] [self.mapView clear] in my mainController. But I think that's not working. The annotations are

[2014-10-13 05:47] shailendraborse opened #4 "Info Window for annotation/marker"
Hi,

I was thinking about a feature of info window which will be visible when tap on any annotation/marker. This feature already exist in Android version of Google map utils. Please suggest if it is yet to implement or we can use this feature in existing code.

Thanks

[2014-10-16 02:32] #4 closed, assigned to nobody

[2014-11-20 20:13] hugocroch opened #5 "Is a way to block the map on a given bounding box ?"
My queston is pretty simple. I wnat to know if the google-map-ios-util can block to scroll outside a given bounding box?

Thanks

[2014-11-28 01:32] cspnanda opened #6 "Multiple markers at same point can't be seen"
If I add 3 markers at same point for ex (41.3833, 2.18333), the cluster shows as 3. But when I try to zoom out, I can never separate the marker from cluster. There is no way I can see individual markers at that point.
![screen shot 2014-11-27 at 5 31 47 pm](https://cloud.githubusercontent.com/assets/1474416/5222826/4d9587ec-765b-11e4-8126-d83942b31161.png)
![screen shot 2014-11-27 at 5 31 20 pm](h

[2014-12-03 22:10] #5 closed, assigned to nobody

[2015-03-20 18:10] kokian opened #8 "Troubles when I'm building project with a Podfile"
After last changes in your master branch I got error in my project which used this library by pods. The problem is maps-ios-utils classes can't figure out where are google-maps headers.
My Podfile fragment:
target 'ClusterCheck' do
    pod 'Google-Maps-iOS-SDK', '1.9.2'
    pod 'Google-Maps-iOS-Utils-QuadTree', :git => 'https://github.com/DDRBoxman/google-maps-ios-utils.git'
end

It used work perf

[2015-03-20 18:14] kokian commented on #8
I'm sorry, Issue is misplaced and I'm closing it

[2015-03-20 18:14] #8 closed

[2015-06-09 09:34] saviormike opened #9 "The Google map delegate broken"
It seems like that when I implement the cluster function on my map, the idleAtCemeraPosition is not being called. It sounds like somewhere is holding the map from idle.

[2015-06-11 04:05] #6 closed

[2015-06-11 04:06] #3 closed

[2015-06-11 04:10] domesticmouse commented on #9
Can you report this issue on the [Google Maps SDK for iOS bug tracker](https://code.google.com/p/gmaps-api-issues/issues/entry?template=Maps%20SDK%20for%20iOS%20-%20Bug) along with a reproduction sample, along the lines of my [MovingMarkerPosition](https://github.com/domesticmouse/MovingMarkerPosition) sample?

[2015-06-11 04:10] #9 closed

[2015-06-20 14:23] mefilt opened #10 "i have exception, how it fix? i use example project"
2015-06-20 17:21:26.038 Google Maps iOS Example[7176:7432364] ((null)) was false: Reached the max number of texture atlases, can not allocate more.
2015-06-20 17:21:26.039 Google Maps iOS Example[7176:7432364] ((null)) was false: Sprite can't update, icon or texture is null (icon=0x0)

[2015-06-20 14:24] #10 closed

[2015-08-31 04:02] tiagoMaua opened #11 "When Zoo in not show more markers"
When the app start, show total of 253 marks in one circle, apparently fine. After zoo in, not show separated markers.

 My _mapView is instantiated from a UIView.

In Xcode, not show issues or warnings. In console not show error.

 iOS 8
 Google Maps Version: Google Maps SDK for iOS version: 1.9.13516.0

I will do more tests, but if someone can help, I will be very grateful!

[2015-08-31 04:18] tiagoMaua commented on #11
ok i find my mistake:

 I use the class Spot way wrong.
 Correct Implementation:

    for (GMSMarker* markers in markersCriados) {
        spot.location = markers.position; // pass position of marker to spot
        spot.marker = markers; // after pass position, pass the self marker to spot object.
        [clusterManager_ addItem:spot];
    }

[2015-08-31 05:44] domesticmouse commented on #11
Tiago, I suspect you are using one of the forks, as this code base doesn't include clustering. Glad to hear you sorted out your problem!

[2015-08-31 05:44] #11 closed

[2015-09-02 05:30] tiagoMaua opened #12 "Markes without snippet and label."
When i try show infowindow, i be using the method:

- (BOOL)mapView:(GMSMapView *)mapView didTapMarker:(GMSMarker *)marker {
    _mapView.selectedMarker = marker;
    return YES;
}

 But this not show nothing.

 In debug i can add the title label and snippet, like imagem below:
![captura de tela 2015-09-02 as 02 23 44](https://cloud.githubusercontent.com/assets/3158966/9623660/57b2233a-511a-11e5-9

[2015-09-07 08:44] hytzxd commented on #12
Thank you very much.
Thanks to you I took a task about The map.

[2015-09-09 08:09] domesticmouse commented on #12
I'm confused. I don't believe there is a cluster manager in this code base.

[2015-09-09 08:09] #12 closed

[2015-10-07 09:45] Arbaz7786 opened #13 "Issue While same coordinates"
I am using this class for showing pis as cluster but while i have same coordinate it shows pin number instead of pin.
I am not able to see to pin when at same coordinate.
So that I am not able to tap on the pin.
![mapissue](https://cloud.githubusercontent.com/assets/12610968/10334163/2dd8644a-6d06-11e5-90e4-14fbf5da1efb.png)

[2015-10-08 05:47] domesticmouse commented on #13
I believe this bug report is destined for a fork that implements marker clustering. This repo only contains a QuadTree implementation.

[2015-10-08 05:47] #13 closed

[2015-10-14 19:41] occurrentarts opened #14 "breaks google maps delegate method "idleatcameratposition" when map is panned"
is still called when zoomed.

[2015-10-14 19:47] occurrentarts commented on #14
the comment suggests that this decision was deliberate, but should still be highlighted to save others some time and frustration.

commenting out this line re-enabled the callback on pan in my case...

- (void)mapView:(GMSMapView *)mapView idleAtCameraPosition:(GMSCameraPosition *)cameraPosition {
    assert(mapView == _mapView);

    // Don't re-compute clusters if the map has just been panned/ti

[2015-10-14 23:37] domesticmouse commented on #14
This appears to be a bug report for a different google-maps-ios-utils project. This one doesn't contain any code to do with rendering, just a quad box implementation. Thanks!

[2015-10-14 23:37] #14 closed

[2015-10-16 00:02] occurrentarts commented on #14
gotcha, sorry about that!
was meant for this fork: https://github.com/DDRBoxman/google-maps-ios-utils

[2016-04-06 20:33] RomanSlyepko commented on #12
I've faced the same issue. But luckily I managed to create a workaround:
Your marker must have property `userData` set to the object you want the represent with `GMSMarker` (for example, `Spot`), therefore your protocol method `marker` for the `Spot` should look smth like this:
[code]
Since userData doesn't (somehow) become nil, you can extract the object from it and set its name to the marker:
[c

[2016-07-19 05:31] vijaytholpadi opened #16 "Unable to find a specification for `Google-Maps-iOS-Utils`"
Trying to perform `pod install` in the Obj-C sample project throws this error.

Temporarily solved it by changing the podfile to

[code]

[2016-07-19 06:03] tiana890 opened #17 "The 'MyApp' target has transitive dependencies that include static binaries"
My Podfile looks like:

target 'Telemetry' do
  use_frameworks!
 //...
  pod 'GoogleMaps', '~> 1.13.2'
  pod 'Google-Maps-iOS-Utils'
  end
end

I get the error The 'MyApp' target has transitive dependencies that include static binaries: (/Users/imac/MyApp/Pods/GoogleMaps/Frameworks/GoogleMaps.framework). Can u help me?

[2016-07-20 03:32] mountainvat commented on #16
We could not reproduce the issue on our end. Is it still happening to you?

[2016-07-20 03:35] mountainvat commented on #17
The library is not compatible with use_frameworks! because we depend on the static library GoogleMaps.

Is there any chance you can remove the use of use_frameworks! ?

[2016-07-20 03:36] vijaytholpadi commented on #16
Looks like the Cocoapod spec was not being resolved for `Google-Maps-iOS-Util`.

Yes, if I remove the hardcoded github URL then I am experiencing the same.

Also, `gem update` says everything is unto date.

<img width="569" alt="screen shot 2016-07-20 at 9 05 07 am" src="https://cloud.githubusercontent.com/assets/1171868/16974335/39e1feb0-4e59-11e6-9718-8e790d0d484e.png">

[2016-07-20 05:01] mountainvat commented on #16
If you add the line below to the top of your Podfile, does it work?
source 'https://github.com/CocoaPods/Specs.git'

[2016-07-20 08:23] vijaytholpadi commented on #16
Sorry looks like I had forgotten to mention to you the whole contents of the Podfile that I am seeing.

It looks as follows:

[code]

Btw  pod 'GoogleMaps' resolves correctly, its only  pod 'Google-Maps-iOS-Utils' that faces this issue.

P.S - I have updated my previous comment too.

[2016-07-20 11:05] tiana890 commented on #17
The only chance is that I use your library and GoogleMaps sdk for IOS without Cocoapods. How can I add your library without Cococapods?

[2016-07-20 11:16] pabloelizalde opened #18 "No clustering for less than 4 markers"
I experienced that I need to have at least 4 markers for the clustering to be performed. When I have 3 markers, there is no clustering, no matter in which zoom level I am.

![screenshot 2016-07-20 13 14 07](https://cloud.githubusercontent.com/assets/3242710/16984716/17b70a10-4e7c-11e6-9cf6-030a2eb86b0a.png)

Is there something I am missing? Thanks

[2016-07-20 13:19] mountainvat commented on #18
That's the default behavior of the GMUDefaultClusterRenderer class

- (BOOL)shouldRenderAsCluster:(id<GMUCluster>)cluster atZoom:(float)zoom {
  return cluster.count >= kGMUMinClusterSize && zoom <= kGMUMaxClusterZoom;
}
kGMUMinClusterSize is 4.

What you can do is create a custom renderer which derives from GMUDefaultClusterRenderer and override that method to your own liking (for example removin

[2016-07-20 13:22] pabloelizalde commented on #18
Great! Thanks for the quick response 👍

[2016-07-20 13:22] #18 closed

[2016-07-21 00:22] mountainvat commented on #17
Thanks for the update. Did you manually add the marker clustering code to your project and leave GoogleMaps in the Podfile?

[2016-07-21 03:59] tiana890 commented on #17
No I added the GoogleMaps manually and and the marker clustering code too.

[2016-07-21 03:59] #17 closed

[2016-07-21 13:24] vijaytholpadi commented on #16
Hi @mountainvat ,

Removed and re-setup my cocoapods master repo.
Looks like it had not got updated and was causing this issue. I am guessing that a `pod repo update` also might have helped.

Thank you for your time. Please go ahead and close this issue.

[2016-07-21 22:49] mountainvat commented on #16
That's great! Thanks for the update.

[2016-07-21 22:49] #16 closed

[2016-07-27 01:01] clauci opened #19 ""Module 'GoogleMapsBase' not found" Error with Google Maps SDK for iOS V2.0.0"
I just downloaded Google-Maps-iOS-Utils V1.0.0. and GoogleMaps iOS V2.0.0 with CocoaPods:

![screen shot 2016-07-27 at 8 46 50 am](https://cloud.githubusercontent.com/assets/16472728/17160414/62428644-53d7-11e6-93a4-fadb9da460d5.png)

Two compiler errors "Module 'GoogleMapsBase' not found" then occur:

![screen shot 2016-07-27 at 8 47 32 am](https://cloud.githubusercontent.com/assets/16472728/1716

[2016-07-27 04:11] domesticmouse commented on #19
Cross reference: https://code.google.com/p/gmaps-api-issues/issues/detail?id=10190

[2016-07-27 04:14] #19 closed

[2016-07-27 12:05] clauci commented on #19
Thank you!!

[2016-07-27 18:29] s-p-a-r-k opened #21 "Way to customize individual markers added to cluster manager?"
Is there a way to change icon and title of individual markers when they are not clustered? For Android, I know I can extend DefaultClusterRenderer and override onBeforeClusterItemRendered method, but I cannot find a way to do this for iOS

[2016-07-27 18:45] fahlout opened #22 "Native Swift"
I was wondering if a native Swift code base is in the works as I would like to use Swift code only in my app and Swift is the way to go in the long run. Just wondering if that is on the road map currently. Thanks!

[2016-07-27 19:26] jeffbailey opened #23 "Cocoapods issue with use_frameworks"
We need to specify "use_frameworks!" in our podfile since we have swift pods. However we get the following error with cocoapods 1.0.1 when including the Google Maps Utils pod:

use_frameworks!

pod 'GoogleMaps'
pod 'Google-Maps-iOS-Utils'

ERROR:
target has transitive dependencies that include static binaries: (/Users/jeff/Documents/Clients/IGS/Projects/Choice360Connect/Pods/GoogleMaps/Subspecs/Ba

[2016-07-28 01:07] domesticmouse commented on #22
The underlying Google Maps SDK for iOS is implemented in a mix of C++ and Objective C, so a pure Swift application involving Google Maps isn't realistic. Porting Google Maps iOS Utils to Swift, however, sounds eminently reasonable thing to do.

However we aren't going to remove support for this Objective C version, as Objective C libraries are usable in Swift, but the reverse isn't true, last I ch

[2016-07-28 01:07] #22 closed

[2016-07-28 01:10] domesticmouse commented on #23
Google Maps SDK for iOS is statically built, and will continue to be so until we drop support for iOS 7.

[2016-07-28 01:23] mountainvat commented on #23
You could use the workaround as mentioned in https://github.com/googlemaps/google-maps-ios-utils/issues/17 by manually copying the google-maps-ios-utils classes into your project.

[2016-07-28 01:44] mountainvat commented on #21
What you can do is extend GMUDefaultClusterRenderer and override this method
[code]

This is where the marker is actually created. I've included some sample code here. Please note the new code is between the "// new code" markers. Let us know how you go. We will plan to make a better API for this use case in a later release.
[code]

[2016-07-28 02:03] jeffbailey commented on #23
Manually copying the files works as expected.  Thanks for verifying this is the only solution until iOS 7 is dropped.

[2016-07-28 02:14] mountainvat commented on #23
It's great to hear! I am just curious did you leave pod 'GoogleMaps' inside your Podfile and just copy the google-maps-ios-utils files?

[2016-07-28 12:16] jeffbailey commented on #23
Yes, I integrated Google Maps as a pod and just copied in the google-maps-iso-utils files.

[2016-07-28 19:42] ravindramukund opened #24 "no icon generator"
there is no icon generator for ios, but it exists for android which is a huge help.Please include an icon generator for ios

[2016-07-29 00:59] mountainvat commented on #24
There is an icon generator protocol and a default implementation GMUDefaultClusterIconGenerator. You can see if the default implementation help with your use cases or provide a custom implementation.

The icon generator is passed into the GMUDefaultClusterRenderer initWithMapView method.

Hope it helps.

[2016-07-29 08:45] NeoElit commented on #24
@mountainvat yeah, but it would be an interesting helper function if there is an equivalent of [IconGenerator](https://github.com/googlemaps/android-maps-utils/blob/master/library/src/com/google/maps/android/ui/IconGenerator.java) for single markers with same features and shape.

[2016-08-01 14:46] r-a-o opened #25 ""Use of undeclared type GMSAutocompleteResultsViewController""
My ios Swift app was using GoogleMaps v1.13.2, today I updated my pods (to 2.0.1), now I am getting the following errors:

`Use of undeclared type GMSAutocompleteResultsViewController`
`Use of undeclared type GMSPlace`

I open the GoogleMaps pod and I don't see `GMSPlace.h` or `GMSAutocompleteResultsViewController.h` files. Were they removed? Why?

[2016-08-01 15:30] r-a-o commented on #25
Got to know that these GMSAutocompleteResultsViewController and GMSPlace are now moved to a different pod, 'GooglePlaces'.

[2016-08-01 15:30] #25 closed

[2016-08-01 17:57] s-p-a-r-k commented on #21
@mountainvat This works for changing all of individual markers to the same icon and title, but I do not know how to use this code to change only some of individual markers. I would like to set the icon and the title of markers depending on a variable stored in my custom GMUClusterItem. Is there a way to do this too?

[2016-08-02 00:46] mountainvat commented on #21
one way you can do replace this code:

[code]
with
[code]
and in the getCustomXXX method, you'd return nil if the item should not be customized.

Hope it helps.

[2016-08-02 07:05] mountainvat commented on #24
FYI: if you wanted to customize single markers please take a look at this issue thread:
https://github.com/googlemaps/google-maps-ios-utils/issues/21

[2016-08-02 11:56] chlebta opened #26 "Update cluster Items after adding"
How to updated cluster Items after adding them without need for removing then re-adding them ?

[2016-08-02 14:18] NeoElit commented on #24
@mountainvat yeah, but still we need to provide the custom UIImage rt? I was looking for some helper which will create the UIImage from the text provided as in the map utils for android.

[2016-08-02 20:51] s-p-a-r-k commented on #21
@mountainvat I am sorry, but I'm not familiar with Objective C and don't know how I should replace `[self getCustomIconForItem:userData]` and `[self getCustomTitleItem:userData]`.
If I want to title my marker with POIItem's name (from [https://developers.google.com/maps/documentation/ios-sdk/utility/marker-clustering](https://developers.google.com/maps/documentation/ios-sdk/utility/marker-clusteri

[2016-08-03 00:46] mountainvat commented on #26
I assume that you were referring to updating cluster item's position? If it is the case then you can call [clusterManager cluster] again after your update(s). Remember that for good performance, perform all your updates and call [clusterManager cluster] at the end.

[2016-08-03 00:51] mountainvat commented on #21
You can safely cast userData to your cluster item object. So I'd imagine something like this:

[code]

[2016-08-03 00:57] mountainvat commented on #24
Yes you would have to generate the image yourself. What you can do is look at the GMUDefaultClusterIconGenerator to see how images are generated from text?

For better performance, please remember to cache the generated image(s) if there are only a handful of them.

[2016-08-03 08:55] chlebta commented on #26
But _items array is not accessible from outside so I can update the data

[2016-08-03 12:54] chlebta opened #27 "Strange issue"
I get this error :
[code]

in line 168 at `GMUNonHierarchicalDistanceBasedAlgorithm.m` file

Debug helpers :
**_items** contain 2 elements
**itemToClusterDistanceMap** contain 1 key

debug of `for loop` at line 133  :

1.  In the first execution he will add the second item (in _items array) to `processedItems` array.

2. In the second execution he will  check `if ([processedItems containsObject:it

[2016-08-03 17:26] s-p-a-r-k commented on #21
@mountainvat I tried to put your code in GMSDefaultClusterRenderer.m, but it says use of undeclared identifier. Should I move POIItem class to Clustering folder that has all Google-Maps-IOS-Utils classes?

[2016-08-04 00:39] mountainvat commented on #27
Is it possible to include some code snippet of your GMUClusterItem implementation? I think it might be something to do with the 2 items are considered "equal".

[2016-08-04 00:40] mountainvat commented on #26
I'd imagine you could hold on to the items in a separate array when you add them to the clusterManager.

[2016-08-04 00:44] mountainvat commented on #21
I would not put the code inside GMSDefaultClusterRenderer.m. I'd rather extend it in your own application's classes. Since the custom renderer lives in your app's target it should have access yo your GMUClusterItem classes. So you could do something like this:

[code]
[code]

[2016-08-05 20:50] s-p-a-r-k commented on #21
@mountainvat That makes sense. Apparently, I did not read your very first answer that said to extend GMSDefaultClusterRenderer. However, it fails to build. ("Command failed due to signal: Segmentation fault: 11"
This is what I have for my custom renderer:

    #import <Foundation/Foundation.h>
    #import "CustomRenderer.h"
    #import "MyProjectName-swift.h"

    // Animation duration for marker

[2016-08-08 14:09] rajatvns commented on #18
i want to know how i create custom marker in a cluster plz help me

[2016-08-08 20:00] theolof opened #28 "Cannot install pod"
When I do `pod install` I get
`[!] The 'Pods-test' target has transitive dependencies that include static binaries: (/Users/user/Documents/test/Pods/GoogleMaps/Subspecs/Base/Frameworks/GoogleMapsBase.framework, /Users/user/Documents/test/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMapsCore.framework, and /Users/user/Documents/test/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework)`

[2016-08-08 21:15] theolof commented on #28
Duplicate of #23

[2016-08-08 21:15] #28 closed

[2016-08-09 01:22] mountainvat commented on #18
@rajatvns Can you please open a new ticket and describe in detail what you are trying to achieve?

Some pointers without know exactly what you need:
If you wanted to customize the individual cluster item marker, please see this https://github.com/googlemaps/google-maps-ios-utils/issues/21

If you wanted to customize the cluster marker, you can use the default GMUDefaultClusterIconGenerator or exte

[2016-08-09 01:29] mountainvat commented on #21
I cannot reason why it would cause a Segmentation fault. Do you have a stacktrace?

Anyway I can see a problem with your code (maybe not related): the _mapView instance var is always nil. What you also need to do is override initWithMapView to capture the mapView into your private _mapView variable.

Add this method to your new derived class:
[code]

[2016-08-09 14:10] theolof opened #29 "No info window shown"
I'm trying to get the info window to show when a marker is tapped.
In `didTapMarker` I set the title manually with `marker.title = "THE TITLE"`
Nothing is shown.

It works if I add the markers directly like this:
`            let marker = GMSMarker(position: initialPosition)
            marker.map = self.mapView
`
but not when I add it via the cluster.

Any suggestions?

[2016-08-09 16:13] chlebta commented on #26
Items will passed by reference or value ?

[2016-08-09 23:47] mountainvat commented on #26
By reference so you only need to update them in your original list.

[2016-08-10 01:31] mountainvat commented on #29
I am unable to reproduce the issue on the individual marker level. Did you mean the cluster marker? Did it break when you set the breakpoint?

[2016-08-10 01:32] mountainvat opened #30 "Make DevApp work with GoogleMaps 2.x"
Currently DevApp does not compile with the new pod structure of GoogleMaps 2.0

[2016-08-10 12:21] theolof commented on #29
I did the clustering in `viewDidLayoutSubviews` which led to the problem I think.
`viewDidLayoutSubviews` can be called several times and for some reason the info window wasn't shown. When I moved the clustering to `viewDidLoad` they started showing.

[2016-08-10 12:21] #29 closed

[2016-08-18 07:54] alexruperez commented on #30
[!] The 'Pods-MyProject' target has transitive dependencies that include static binaries: (/MyProject/Pods/GoogleMaps/Subspecs/Base/Frameworks/GoogleMapsBase.framework, /MyProject/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMapsCore.framework, and /MyProject/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework)

[2016-08-18 07:58] mountainvat commented on #30
Hi Alex,
I think your issue to integrate the utils lib with your project is probably resolved here:
https://github.com/googlemaps/google-maps-ios-utils/issues/23

This ticket is for the development workspace of the actual open source project.

[2016-08-22 12:21] shahchirag2110 opened #31 "Unable to find a specification for `Google-Maps-iOS-Utils (~> 1.0)`"
# Uncomment this line to define a global platform for your project
# platform :ios, '9.0'

source 'https://github.com/CocoaPods/Specs.git'

target 'SwiftDemoApp' do
  # Comment this line if you're not using Swift and don't want to use dynamic frameworks
  #use_frameworks!

  # Pods for SwiftDemoApp
  pod 'GoogleMaps'
  pod 'Google-Maps-iOS-Utils', '~> 1.0'
end
This is pod file code but still i get

[2016-08-23 13:29] filipandrei87 commented on #23
Any news on this issue? I'm encountering the same in a Swift project. Not using "!use_frameworks" is not an option as multiple pods are built for Swift.

[2016-08-23 16:07] nmDejamobile commented on #23
marking it as closed is probably not the right way to have users on your side... keep it open and close it once you will have really solved the problem IMO...

[2016-08-23 16:08] nmDejamobile commented on #17
@tiana890 Hi, could you explain more precisely the steps to include it in a swift project ? Thanks.

[2016-08-23 23:42] mountainvat commented on #17
If you look at https://github.com/googlemaps/google-maps-ios-utils/issues/23 you can leave google-maps-ios-utils out of your Podfile and manually copy the files in the utils library into your project.

[2016-08-23 23:45] mountainvat commented on #23
Unfortunately we do not have a concrete date for dropping iOS7 support that I can give you so this workaround is the best we can think of at the moment.

[2016-08-23 23:46] mountainvat commented on #26
@chlebta Have you got any luck? Can I close the ticket?

[2016-08-23 23:47] mountainvat commented on #21
@s-p-a-r-k : Any luck with this? Can we close the ticket?

[2016-08-23 23:47] mountainvat commented on #27
@chlebta : any update on this?

[2016-08-24 08:48] nmDejamobile commented on #23
@jeffbailey do you mean that you copied files from google-maps-iso-utils/src folder into the pod folder after you used pod install ? Can you show me the final folder tree that you obtained ? Thanks !

[2016-08-24 10:22] jeffbailey commented on #23
@nmDejamobile - No, you don't copy the files to you pod folder.  Simply copy them to your project.

[2016-08-24 15:57] nmDejamobile commented on #23
@jeffbailey ok, that's done, I also added the main class to the bridging header file. But I still have errors at build time:

[code]

Does it mean that these google maps utils can't be built to be use on simulator ? Do I need to have a real device to work with it ?

[2016-08-24 17:04] jeffbailey commented on #23
It works fine in the simulator.  I assume you have these classes added to the appropriate target.  I can't think of anything special that needs to be done.

[2016-08-24 21:01] s-p-a-r-k commented on #21
@mountainvat Sorry, I haven't had a chance to try it. But you can close it. I will tell you if it works. Thank you very much for your help!

[2016-08-24 21:01] #21 closed

[2016-08-24 21:26] nmDejamobile commented on #23
@jeffbailey  I added all files manually to the build phase "compile sources" of the target and now it works. It's an ugly hack imo... I think I'll use mapkit and FBAnnotationClusteringSwift. Even if it's not so advanced, at least it doesn't break my full cocoapod project strategy... I hope google maps ios utils will be updated soon or at least forked for ios 8+ targets.

[2016-08-25 19:16] barracudalll commented on #31
Try "pod update".

[2016-08-26 20:50] KellyBennett commented on #23
@domesticmouse iOS 7 is < 3% of the iOS install base (souce: https://developer.apple.com/support/app-store/). What is the hang up on making this library friendly with Swift cocoapods?? This work around is incredibly inconvenient. Simply moving the google-maps-ios-utils files to my project does NOT work, as @nmDejamobile correctly pointed out. It seems like this library should either be available o

[2016-08-27 07:10] dimitrisddd opened #34 "marker custom icon and info window"
Before I attempt adding marker clusterer to my project, I would like to ask this:

Right now in my project I create a marker for every object of my data model
let marker = GMSMarker(position: position)
....
marker.map = mapView

And I override the following method for presenting my own info window
func mapView(mapView: GMSMapView, markerInfoWindow marker: GMSMarker) -> UIView? {
    let infoWindow

[2016-08-27 12:32] domesticmouse commented on #23
@KellyBennett please see @mountainvat's comment above regarding Google Maps SDK for iOS support for iOS 7. When we stop supporting iOS 7 then the Google Maps SDK for iOS can be built in such a way that it allows the project to use `use_frameworks!`

[2016-08-27 13:36] ajPT commented on #23
@jeffbailey can you explain how to copy the files? I copy the folders Clustering and QuadTree to my project, added all the files to the bridge file but it isn't working.
It says that "#import <Google-Maps-iOS-Utils/GMUCluster.h>" isn't found.
What am I doing wrong?

@nmDejamobile did you manage to put this working? Can you tell me all the steps?

[2016-08-28 14:50] ajPT commented on #34
I have the same doubt.
Is it possible to add a GMSMarker instead of POItem? If so, how can we do this?

[2016-08-29 17:11] hoogw opened #35 "Where is Geojson utils on IOS?"
I had use google map android utils geojson, it is great! However, where is geojson utils on ios? I can't find it, the current ios utils only has cluster.

[2016-08-30 01:13] domesticmouse commented on #35
We accept pull requests!

[2016-08-30 10:54] domesticmouse commented on #31
Here is what I get when I run the above Podfile through `pod install` on my mac:

[code]

I suspect you might need to shake your CocoaPod installation.

[2016-08-30 10:54] #31 closed

[2016-08-30 21:17] mountainvat commented on #31
You can try running the command below to sync your pods repo.
pod repo update

[2016-08-31 05:03] mountainvat commented on #34
At this stage we do not have a plan to support adding GMSMarker directly to the GMSClusterManager. We'd like to have complete control of the markers we created to avoid confusion like a GMSMarker is added and an animation is performed on its location.

The good news is that the marker is completely customizable. Please take a look at this thread for some discussion on how to achieve it: https://gi

[2016-09-12 09:44] nitisha1 opened #37 "Google-Maps-iOS-Utils not working,when added manually"
Hi,
I've added two folders "Clustering and QuadTree" from Google-Maps-Utils library to integrate marker clustering but its not showing clusters.
Below is my code-
class ViewController: UIViewController,GMSMapViewDelegate,GMUClusterManagerDelegate{

[code]

}

//Spot.h
# import <Foundation/Foundation.h>

@import CoreLocation;
# import "GMUClusterItem.h"

@interface Spot : NSObject <GMUClusterItem>

[2016-09-12 11:06] mdabrarniyazi commented on #23
@nmDejamobile Hi, I copied files too and getting exactly same error. Did you solve it?

[2016-09-12 11:35] mdabrarniyazi commented on #17
@tiana890 Hi,
I am stuck on same problem. Could you guide how to add manually? I would be a great help.

[2016-09-12 13:35] nitisha1 opened #38 "customize marker icon in marker clustering"
Hi,
Is there any way to change default marker icon in marker clustering?

[2016-09-13 02:11] mountainvat commented on #38
Please take a look at this thread https://github.com/googlemaps/google-maps-ios-utils/issues/34 to see if it resolves the problem you are facing.

[2016-09-13 12:04] mdabrarniyazi opened #39 "Google-Maps-iOS-Utils not installing with cocoa pods."
I am trying to use Google-Maps-iOS-Utils in my project through Podfile where I use use_fameworks!.
It's giving error because GoogleMaps is static. Then I tried to copy Google-Maps-iOS-Utils manually and install only GoogleMaps from Podfiles.  I am getting below error after that,

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_GMUClusterManager", referenced from:
      type metadata ac

[2016-09-13 13:10] nitisha1 commented on #38
Hi,
That doesn't helped me.it's  not showing me  override method  "markerWithPosition" in my ViewController

[2016-09-13 18:27] mountainvat commented on #39
Did you add the .m files to your app target?

[2016-09-13 18:31] mountainvat commented on #38
You would have to add a custom renderer which extends the existing GMUDefaultClusterRenderer. (Note: your ViewController extends UIViewController, not GMUDefaultClusterRenderer).

[2016-09-14 06:01] yadavanand commented on #17
@mountainvat @tiana890 Hi,
I have  the same issue. Can you please guide me on steps to manually add  marker clustering code to swift project.

[2016-09-14 06:01] nitisha1 commented on #38
Hi,
sorry but i'm not much familiar with Objective C .could you please post sample code how can i do in swift class?
what i'm trying is
Class MyCustomRenderer : GMUDefaultClusterRenderer
{
//cannot find override method here
}

[2016-09-14 06:50] nitisha1 commented on #38
Hi,

Below is my custom renderer class i created.but now my question where do i implement this? i cannot find it in  thread #34 .
`// Animation duration for marker splitting/merging effects.
let kGMUAnimationDuration: Double = 0.5
// seconds

class MyCustomRenderer: GMUDefaultClusterRenderer {

    var mapView:GMSMapView?

    override init(mapView: GMSMapView, clusterIconGenerator iconGenerator:

[2016-09-14 09:43] mdabrarniyazi commented on #39
@mountainvat I created a new group 'Google-Maps-iOS-Utils' and add both folders inside src folder here  to Xcode directly. Is that correct approach. I have also created bridging-header.h file and added  "#import <Google-Maps-iOS-Utils/GMUMarkerClustering.h>" in there.

Here are errors :
1.  failed to import bridging header '/Users/BAPS/Documents/Backup/MapClusters/MapClusters/MapClusters-Bridging-

[2016-09-14 09:49] tiana890 commented on #17
@mdabrarniyazi, @yadavanand you should add https://github.com/googlemaps/google-maps-ios-utils/tree/master/src these files to your project manually. Using Xcode File->Add files to project.

[2016-09-14 09:59] mdabrarniyazi commented on #17
@tiana890 I did same but I am getting error : "/Users/BAPS/Documents/Backup/MapClusters/MapClusters/MapClusters-Bridging-Header.h:1:9: 'Google-Maps-iOS-Utils/GMUMarkerClustering.h' file not found"

[2016-09-14 10:10] yadavanand commented on #17
@tiana890 Yes please suggest i have the same issue as @mdabrarniyazi

[2016-09-14 10:17] mdabrarniyazi commented on #17
![screen shot 2016-09-14 at 3 30 42 pm](https://cloud.githubusercontent.com/assets/14070787/18508621/7dad1660-7a92-11e6-8266-1378a1e5ab26.png)
Here is screenshot of my project navigator

[2016-09-14 10:18] mdabrarniyazi commented on #17
@mountainvat Could you have a look here!

[2016-09-14 10:20] mdabrarniyazi commented on #17
![screen shot 2016-09-14 at 3 49 35 pm](https://cloud.githubusercontent.com/assets/14070787/18508709/e1f3b872-7a92-11e6-98b1-b87c5140dd37.png)
Error here.

[2016-09-14 10:24] mdabrarniyazi commented on #17
@domesticmouse Hey,
Please help us here as there is no dynamic version.

[2016-09-14 10:38] tiana890 commented on #17
@mdabrarniyazi  How does your Bridging-Header look like?

[2016-09-14 10:44] mdabrarniyazi commented on #17
@tiana890 I have added this "#import <Google-Maps-iOS-Utils/GMUMarkerClustering.h>"

[2016-09-14 10:45] mdabrarniyazi commented on #17
I have added this
`#import <Google-Maps-iOS-Utils/GMUMarkerClustering.h>`

[2016-09-14 10:46] mdabrarniyazi commented on #17
I tried this too. `#import <Google-Maps-iOS-Utils/Clustering/GMUMarkerClustering.h>`

[2016-09-14 10:52] tiana890 commented on #17
@mdabrarniyazi you should try this
#import "GMUMarkerClustering.h"

[2016-09-14 10:59] mdabrarniyazi commented on #17
![screen shot 2016-09-14 at 4 28 09 pm](https://cloud.githubusercontent.com/assets/14070787/18509812/44dcdd60-7a98-11e6-815a-7b83d2d856e1.png)
New error

[2016-09-14 12:13] yadavanand commented on #17
I was successful in building the app by manually adding the clustering and quad tree files.
![screen shot 2016-09-14 at 5 36 27 pm](https://cloud.githubusercontent.com/assets/8654980/18511521/d72df6c8-7aa1-11e6-993a-80578b8d9ead.png)

Here is an image of my project navigator, just add all the file in Google-Maps-iOS-Utils folder without any sub folders.
In the bridging header file add `#import "GM

[2016-09-14 12:20] mdabrarniyazi commented on #17
@yadavanand Lol I did exactly same before reading your comment it worked. We came to same solution. 👍
But did not put all files under one folder. I didn't touch it.

[2016-09-14 18:23] yadavanand opened #40 "Google-Maps-iOS-Utils not working"
Hi,
I've added two folders "Clustering and QuadTree" manually from Google-Maps-Utils library to integrate marker clustering but its not showing clusters.
And also added required bridging-header.
I want to add marker and cluster based on users current location, markers are working, but unable to get cluster working.
Below is my code-
`import UIKit
import Alamofire
import SwiftyJSON
import CoreLocat

[2016-09-14 18:24] yadavanand commented on #17
@tiana890 @nmDejamobile @mdabrarniyazi @mountainvat @broady Could you please help me on #40

[2016-09-14 18:26] yadavanand commented on #37
@nitisha1  I to am facing similar king of problem #40

[2016-09-15 05:20] nitisha1 commented on #37
well. i just added `self.view = gmsmapView` but it is not the acceptable solution i guess atleast in my case.it is because of delegate i found and update my code.
`  //[THis method contains Show Google Map Logic for the properties! that are synch]
    func loadGoogleMap(){

        dispatch_async(dispatch_get_main_queue()) {

            print(" GOOGLE \(self.googleMapView)")
            if(self.g

[2016-09-16 01:36] mountainvat commented on #39
Hi there,
We've just added some instructions on how to add the utility library manually to your projects (mainly Swift but also works for ObjC). See it here [Swift.md](https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md).

Hope it helps.

[2016-09-16 01:38] mountainvat commented on #30
Fixed in 1.0.1

[2016-09-16 01:38] #30 closed

[2016-09-16 02:12] mountainvat commented on #40
Are you able to attach a screenshot? Is it possible that the gpsSearch() call in setupMap() has moved the camera to a different viewport which does not have any clusters? If you comment it out do you see the clusters?

[2016-09-16 07:05] mountainvat commented on #37
Can you please attach a screenshot? How many items are there in self. properties? How is it populated?

Can you do a ```pod try Google-Maps-iOS-Utils``` and select the Swift demo app to see if it works for you and take it from there?

Alternatively if there is a git repo for me to take a look it would be easier for me but I understand that it may not be possible.

Unrelated but I do not think you

[2016-09-16 08:01] mdabrarniyazi commented on #39
@mountainvat Thanks a lot.
Though I had already solved the problem using same approach.

[2016-09-16 08:33] mountainvat commented on #39
Great to hear that you've figured out the solution. Thanks for the update.

[2016-09-19 18:22] vjerryv commented on #38
Use of undeclared type 'POItem'

Do I need to import something?

[2016-09-19 18:31] vjerryv opened #42 "custom icon like instagram"
how can I do like this?
Any example?
thanks

![utility-markercluster-custom](https://cloud.githubusercontent.com/assets/3232807/18644031/543958c4-7eda-11e6-83e9-738cf2f74c9c.png)

[2016-09-20 05:06] nitisha1 commented on #38
@vjerryv it is a model class.
well i resolved by adding condition in GMUDefaultClusterRenderer class in utils library.

[2016-09-20 05:06] #38 closed

[2016-09-20 10:17] vjerryv commented on #38
@nitisha1 could you tell me more about and what you resolved by adding condition in GMUDefaultClusterRenderer class?

I am getting stuck in this customize marker.

[2016-09-20 12:20] nitisha1 commented on #38
@vjerryv
Look for method "markerWithPosition" in GMUDefaultClusterRenderer and the else condition
`// Returns a marker at final position of |position| with attached |userData|.
// If animated is YES, animates from the closest point from |points|.
- (GMSMarker *)markerWithPosition:(CLLocationCoordinate2D)position
                             from:(CLLocationCoordinate2D)from

[2016-09-22 03:41] vjerryv commented on #21
@mountainvat I've tried to override GMUDefaultClusterRenderer, but I got this error.

Duplicate definition of category 'GoogleMaps' on interface 'GMSCoordinateBounds'

![screenshot 2016-09-22 11 40 37](https://cloud.githubusercontent.com/assets/3232807/18736432/7c44a02c-80b9-11e6-8f0c-548b35985023.png)

[2016-09-28 17:30] astrolope commented on #21
I must be numb-skulled, I'm trying to over-ride GMUDefaultClusterRenderer to achieve more dynamicity in my custom markers without having to edit the main file. I copied the code from the original file to a new class as previously aforementioned in the previous post. Although I'm now receiving mach-o linker errors after setting it up.  Deleting my custom class completely removes the errors.  I've m

[2016-09-29 00:02] mountainvat commented on #21
FYI: we are working on making marker customization easier. Will have a release out end of this week or earlier next week. So stay tuned.

[2016-09-29 13:46] yassinelmalyh opened #44 "using custom markers"
please i need a full example to use custom markers "GMSMarker" with clustering , i'm not familar with objective c , i already tried to use https://github.com/googlemaps/google-maps-ios-utils/issues/21 but it doesn't work for me , please help!!

[2016-10-01 17:56] trant opened #46 "Minimum bucket size for clustering"
I would only like to cluster if the number of elements is > than a certain limit otherwise the current one (think is 4) is overkill for some use cases. Is this possible?

[2016-10-02 09:02] sashok2k opened #47 "GMUDefaultClusterRendererTest fails"
Was trying to understand why my code works not as expected and found issue with unit tests.
It seems to be issue with OCMock

Return value cannot be used for method; method signature declares '{?={?=dd}{?=dd}{?=dd}{?=dd}}' but value is '{?={CLLocationCoordinate2D=dd}{CLLocationCoordinate2D=dd}{CLLocationCoordinate2D=dd}{CLLocationCoordinate2D=dd}}

[2016-10-02 10:50] trant opened #48 "High CPU usage"
Hi there. I have implemented the clustering on my app but the CPU usage has gone pretty bad. I get sometimes 130% for just scrolling. I have something like 100 markers but even when I zoom in to just a few I still get high CPU usage which does not happening if I remove the clustering at all. I am clustering everytime the user moves the map a bit (maybe there is a better way of doing it?)

[2016-10-03 20:26] mountainvat commented on #48
The cluster manager should handle camera movement events automatically for you and choose when appropriate to re-cluster. You do not need to re-cluster yourself. If you re-cluster on every single camera move I can see why the CPU is high.

[2016-10-03 21:34] trant commented on #48
I have removed the re-cluster on camera handle but whenever I move the map I still get high CPU spikes. I noticed that willRenderMarker keeps getting called several times.

[2016-10-03 22:12] mountainvat commented on #48
When you move the map, new markers maybe added if they become visible and before they are added willRenderMarker will be called if the GMUMarkerRendererDelegate delegate implements it. Did you implement the willRenderMarker method? It is supposed to be fast otherwise it will interfere with the rendering.

[2016-10-03 22:39] mountainvat commented on #46
Duplicate of https://github.com/googlemaps/google-maps-ios-utils/issues/18

[2016-10-03 22:39] #46 closed

[2016-10-03 22:56] mountainvat commented on #47
Which version of OCMock do you have? I cannot reproduce the issue on my end.

[2016-10-03 23:56] mountainvat commented on #44
We have released a new version 1.1.x with easy marker customization. Please update your cocoapod or source files.
For more details see https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md

[2016-10-03 23:57] mountainvat commented on #42
We have released a new version 1.1.x with easy marker customization. Please update your cocoapod or source files.
For more details see https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md

[2016-10-03 23:58] #39 closed

[2016-10-03 23:58] mountainvat commented on #34
We have released a new version 1.1.x with easy marker customization. Please update your cocoapod or source files.
For more details see https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md

[2016-10-04 01:36] sashok2k commented on #47
- OCMock (3.3.1)

[2016-10-04 02:23] mountainvat commented on #47
It's interesting I also had 3.3.1. Which line in the GMUDefaultClusterRendererTest is that? Was it a compile error?

[2016-10-04 02:41] sashok2k commented on #47
No, it occur during execution when code attempt to access visibleBounds of projection. Can give exact log later today

[2016-10-04 11:57] matl89 opened #52 "Algo/GMUClusterAlgorithm.h not found"
Hi there,

I just updated the pod to use the new marker icons, but I get a file not found error for Algo/GMUClusterAlgorithm.h in the GMUClusterManager.h file.

My code is like it is in the example file.

Do you know what could be wrong?

[2016-10-04 14:58] sashok2k commented on #47
Here is full log http://pastebin.com/24L90vF1

[2016-10-04 15:46] ajPT commented on #42
@mountainvat thanks for the work to create an easy way to customize the markers but I still have a question.
How can we change the image using the "marker.icon" right? But how can we maintain/add the number of items in the cluster?

[2016-10-05 01:31] mountainvat commented on #52
Thanks for spotting this. We have pushed out a new fix so please update your pod.

[2016-10-05 01:33] mountainvat commented on #42
Please take a look at https://github.com/googlemaps/google-maps-ios-utils/blob/master/app/CustomMarkerViewController.m for how to implement the ```- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker``` method.

What do you mean by maintain/add the number of items in the cluster?

[2016-10-05 09:43] ajPT commented on #42
@mountainvat to show the number of items in the cluster in front of the image.
e.g: "5" (representing the number of items in that cluster).

[2016-10-05 09:48] amadeubandrade commented on #26
@mountainvat a question related to this.
Image that we have a huge database and all the items will be markers on the map.
Do we need to download **all** the information we need first and only after that update the cluster manager? This can cause a long delay before anything is being showed to the user.
Do you know if there is any other way to handle this without losing performance?

[2016-10-05 21:25] mountainvat commented on #42
You would have to use UIGraphics to draw the number on top of the mashed up image. See https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/View/GMUDefaultClusterIconGenerator.m for how the number is drawn.

[2016-10-05 21:57] mountainvat commented on #26
Is the database on the mobile or on a server? If it is on a server, it is probably best to do some server side filtering. So you'd give the server your latitude ,longitude range of interest and the server will only return items within that range for example. Downloading all items to the client is not very scalable.

[2016-10-06 15:02] dtnguy72 opened #54 "Google Maps for Xcode 8"
Hello,

Is there an updated version for the latest Swift 3 update?

[2016-10-06 16:01] Petrachkov commented on #47
Hi there, I'm also facing the same issue. All the tests within GMUDefaultClusterRendererTest fail except for testShouldRenderAsClusterAtZoom. I do have the latest XCode and OCMock.

[2016-10-07 05:57] #34 closed

[2016-10-08 12:55] sashok2k commented on #47
Any news on the issue? I'm sure issue is not on our side as I try on few other machines, result is always same. We use latest Xcode and latest SDK

[2016-10-10 01:04] mountainvat commented on #47
I have been able to reproduce the issue with XCode 8 and OCMock 3.3.1. It seems OCMock does not allow stub method to return a struct in XCode 8.
If these tests are blocking your development on XCode 8, you can comment them out until we find a solution.

[2016-10-11 00:19] #24 closed

[2016-10-11 00:20] #52 closed

[2016-10-11 00:20] #44 closed

[2016-10-11 00:21] #27 closed

[2016-10-12 08:49] trant commented on #48
Yes I implemented that method. In theory my points on the map will never move so the clustering could only be done once, what I need to update sometimes is the marker icon with the updated info accordingly to the app state.

![image](https://cloud.githubusercontent.com/assets/544342/19303595/33588772-9061-11e6-998d-9ee34289b438.png)

[2016-10-12 23:24] mountainvat commented on #48
The code looks fine to me as item.iconImage is already in memory so marker.icon = item.iconImage should be fast unless the iconImage's size is huge.

I you are still stuck, I am happy to look at a repro project.

FYI: you donot need to set marker.tracksViewChanges because you are not using the iconView property.

[2016-10-13 08:06] trant commented on #48
So how do you refresh the icons without having to cluster them again? Do you have to remove the items and re-addd them all?

Regards

________________________________
De: Son Nguyen <notifications@github.com>
Enviado: quarta-feira, 12 de outubro de 2016 23:24
Para: googlemaps/google-maps-ios-utils
Cc: Antonio Pinho; Author
Assunto: Re: [googlemaps/google-maps-ios-utils] High CPU usage (#48)

The c

[2016-10-13 21:48] mountainvat commented on #48
I'd suggest you use a dynamic icon using the GMSMarker.iconView property: https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_marker.html#ab16a10487ace24ac36e96eea7efb77c7

Using this property you'll need to have tracksViewChanges to YES for it to refresh/update.

[2016-10-14 15:11] jaimevz27 opened #55 "Marker Customization Swift"
Hello,  I'm trying to implement Marker Customization described here ->[https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md](url) where explains how to implement in objective C.  My project uses swift and my knowlegde in objective C is very low.  I've tried to convert the example to swift, but the project doesn't build, trhows an error (see attatchment). With this messa

[2016-10-14 15:22] trant commented on #48
With the dynamic icon I have the same problem. How do I get the marker reference after they are on the map? If I could get marker by id or something and change its image! That would be perfect

[2016-10-17 00:02] mountainvat commented on #48
I'd imagine you would have to associate your cluster item with the marker in a dictionary somehow. Then you have a willRenderMarker event you will have access to a marker and the marker.userData is either a id<GMUClusterItem> or a id<GMUCluster>. You can use those information to build up a map from id<GMUClusterItem> to GMSMarker.

[2016-10-28 03:19] dayangxiang opened #56 "Use of undeclared type 'GMUClusterManagerDelegate'"
I followed the steps in Swift.md to manually add Google-Maps-iOS-Utils files to my project. And it succeeded in building. But when I try to get a view controller implement GMUClusterManagerDelegate, an error shows

Here are my screen shots -
- Bridging Header

<img width="299" alt="screen shot 2016-10-27 at 22 14 40" src="https://cloud.githubusercontent.com/assets/14340214/19793565/d14909c4-9c92-1

[2016-10-28 10:38] klwoon commented on #56
Can you try to add the header in Build Settings, such as:

![screen shot 2016-10-28 at 6 34 18 pm](https://cloud.githubusercontent.com/assets/9354867/19803808/54c213cc-9d3d-11e6-8252-47f5909d873f.png)

[2016-10-28 17:10] julia-godoy commented on #47
Hello, I'm having a similar issue, also using XCode 8 and OCMock 3.3.1. But I found it curious that the test passes when I use the simulator on iOS 10, but the problem with the stub method appears when I use iOS 9.3.
Any updates on the issue?

[2016-10-28 18:46] dayangxiang commented on #56
@klwoon Yeah I have it

![screen shot 2016-10-28 at 13 43 12](https://cloud.githubusercontent.com/assets/14340214/19818318/ea4fc1ba-9d14-11e6-8a23-312235af1779.png)

[2016-10-31 16:00] dayangxiang commented on #56
Solved. Something wrong happened to the path of my bridging header.

[2016-10-31 16:00] #56 closed

[2016-11-03 03:19] danartinho opened #57 "Collection was mutated while being enumerated"
I am developing an app that show users in nearby area in the maps. I use cluster manager to cluster users. The users/cluster items are updated periodically from server. Steps are :
- call [clusterManager clearItems]
- add all new item to the cluster manager
- call [clusterManager cluster]

But sometimes I got error : `Collection was mutated while being enumerated` in `GMUNonHierarchicalDistanceBas

[2016-11-03 07:40] Villi14 commented on #38
import UIKit

class CustomClusterRenderer: GMUDefaultClusterRenderer {
    let GMUAnimationDuration: Double = 0.5
    var mapView: GMSMapView?

    override init(mapView: GMSMapView, clusterIconGenerator iconGenerator: GMUClusterIconGenerator) {
        super.init(mapView: mapView, clusterIconGenerator: iconGenerator)
        self.mapView = mapView
    }

    func markerWith(position: CLLocationCo

[2016-11-17 09:02] singhmanpreet1 commented on #27
I think its happening if the latitude and longitude of more than one item are exactly same.
Assertion failure in -[GMUNonHierarchicalDistanceBasedAlgorithm clustersAtZoom:], /Users/***/Documents/***/***/Pods/Google-Maps-iOS-Utils/src/Clustering/Algo/GMUNonHierarchicalDistanceBasedAlgorithm.m:169
2016-11-17 14:27:34.539 ***[3332:495234] *** Terminating app due to uncaught exception 'NSInternalIncon

[2016-11-17 18:06] SAPIENTechnologies opened #58 "GMUClusterRendererDelegate willRenderMarker called twice for each marker"
I have created the GMUClusterRendererDelegate in my code and implemented the willrenderMarker function. I notice that this function loops through the visible markers 2x for each marker. For instance, if I have 5 visible markers, the function gets called for each marker in succession, and then AGAIN for each marker in succession. Is this expected behavior?

[2016-11-17 21:25] mountainvat commented on #58
The expected behaviour is willRenderMarker should be called only once for each marker being added to the map. However whenever a recluster needs to be done (zooming in/out far enough from current zoom) the markers will be recreated and willRenderMarker will be called again. Was that what happens? We will try to reproduce on our side too.

[2016-11-17 21:36] mountainvat commented on #27
Items are compared by reference so having the same lat,lng should not trigger the assert. I tried clearing the items using [clusterManager clearItems] and readd them and it seemed fine.

Do you have a reproduction case that I can have a look at?

[2016-11-17 21:41] mountainvat commented on #58
FYI: I've just briefly tried to reproduce on my side but failed. So I am waiting for more information.

[2016-11-17 22:11] SAPIENTechnologies commented on #58
Its very odd. Here is the only place where I call cluster()

    func clusterMarkers () {
        //clear out the marker array
        self.markers.removeAll()

        //clear out the cluster manager items
        mapViewController.clusterManager.clearItems()

        self.clusterManager.add(trucks)

        // Call cluster() after items have been added to perform the clustering
        // and re

[2016-11-17 22:20] mountainvat commented on #58
So in the willRenderMarker handler, can you log the map's camera zoom out and paste them here?

[2016-11-17 22:27] SAPIENTechnologies commented on #58
Its always the same:

16.0
16.0
16.0
16.0
16.0
16.0
16.0
16.0
16.0
16.0
16.0
16.0

Regards,
info@sapien.com

[2016-11-17 22:52] mountainvat commented on #58
There were 12 events in the log above. So sth strange here. Can you also log the camera lat,lng to see if they actually moved?

[2016-11-18 07:06] singhmanpreet1 commented on #27
It was because of the wrong latitudes and longitudes. I removed them and it works fine.
Thanks for the response.

[2016-11-18 16:48] SAPIENTechnologies commented on #58
There are 4 trucks in my viewport here is the output

ID: 2
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 3
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 5
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 6
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 2
Zoom level: 16.0
Latitud

[2016-11-21 18:30] SAPIENTechnologies commented on #58
Anything new based on the last logging I sent?

here it is again

There are 4 trucks in my viewport here is the output

ID: 2
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 3
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 5
Zoom level: 16.0
Latitude: 38.2556198811391
Longitude: -122.27283205837

ID: 6
Zoom level: 16.0
Latitude: 38.2556198

[2016-11-21 21:41] mountainvat commented on #58
The camera did not change throughout so I am not sure what's going on there. Are you able to check out the source, open the workspace/GoogleMapsUtils.xcodeproj and run the DemoApp target and see if it reproduce for the CustomMarkerViewController demo?

I was unable to reproduce using that demo.

Or else can you create a small repro project that I can take a look?

[2016-11-23 10:26] mdabrarniyazi opened #59 "Heat map request."
Why there is no heat map utility for iOS like Android? Or is it there and I could not find it!

[2016-11-23 22:03] mountainvat commented on #59
We haven't got around to add this feature. Are you interested in contributing?

[2016-11-24 12:03] nitisha1 opened #60 "Google Maps SDK for iOS Utility Library crashing issue"
i've implemented marker clustering(Google Maps SDK for iOS Utility Library ) along with google maps.crash i'm getting is on deallocating cluster manager object.i'm deallocating google map and cluster manager objects and delegate in viewDidDisappear and deinit as i'm initialising it in viewDidLoad.it works fine upto 10.0,but for higher when i'm doing same in deinit it's working fine but crashes in

[2016-11-25 17:54] singhmanpreet1 commented on #27
Hello @mountainvat while working more on it, I found that the library is considering values less than -88 as invalid. But the value of should be valid upto -90 as the range of latitude is -90 to 90. Please let me know if this is the case you also facing at your end.

[2016-11-26 11:51] unlimitedK commented on #21
I have gone through the new  GMUClusterRendererDelegate

How can I use this in swift, I have to show markerimage(which would again be changing to different conditions) and have a label at the bottom of this marker. In Swift, I have used func renderer(renderer: GMUClusterRenderer, markerForObject object: AnyObject) -> GMSMarker

but it is not getting called before placing the marker so that I can c

[2016-11-27 20:56] mountainvat commented on #21
If you update to version 1.1.x there should be new events for before and after the markers are added to map. Please see this post for more information: https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md

[2016-11-27 21:55] mountainvat commented on #60
Can you please list the iOS sdk & XCode versions here. And also do you have a stack trace of the crash?

[2016-11-28 04:55] nitisha1 commented on #60
ios version - 10.1.1
xcode version - 8.0

error throws when not deallocating cluster Manager objects and delegates in deinit method.

 *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'An instance 0x7fd7c5b14770 of class GMSMapView was deallocated while key value observers were still registered with it. Current observation info: <NSKeyValueObservationInfo 0

[2016-11-29 20:38] alejandrorbradford opened #61 "Duplicated markers in to clusters"
Looks like its adding the same location to a cluster when a zoom event happens. Do you know anything about this?

[2016-11-29 21:18] mountainvat commented on #61
No we've never seen this unless the 2 markers have the same location. Do you have a reproduction case?

[2016-11-29 22:44] kwstasna commented on #21
@mountainvat could you provide a swift example for this GMUDefaultClusterRenderer delegate?

[2016-11-29 23:09] jamesynotnot commented on #21
Here's how I do it with a custom cluster item:

enum MarkerType: Int32 {

    case RegularMarker, LandmarkMarker, GovernmentMarker

}

// Clustering markers customization

class CustomClusterItem: NSObject, GMUClusterItem {

    var position: CLLocationCoordinate2D

    var type: MarkerType

    var icon: UIImage

    init(position: CLLocationCoordinate2D, type: MarkerType, icon: UIImage)
{

[2016-11-29 23:21] kwstasna commented on #21
@jamesynotnot actually wanted to translate somehow this file

https://github.com/googlemaps/google-maps-ios-utils/blob/master/app/CustomMarkerViewController.m

Which has the functions to make this view happen.
Because im in the same position to have a json with names and images urls.

[2016-11-29 23:25] jamesynotnot commented on #21
https://objectivec2swift.com/

On Tue, Nov 29, 2016 at 1:21 PM, Konstantinos N. <notifications@github.com>
wrote:

[2016-11-29 23:51] kwstasna commented on #21
@jamesynotnot not the best way 😞

[2016-12-01 13:21] mdabrarniyazi commented on #59
@mountainvat I would love to contribute but I think I am not sophisticated enough to do right now. I have just started coding for iOS and that too in Swift. So I have no knowledge of Objective-C.
It would be big help if somehow you could get this feature done in iOS because it is very important for my app.

Thanks.

[2016-12-01 17:37] kwstasna opened #62 "Correctly handle clustering identically placed items"
Hello.
I have 10 pins on the same latitude and longitude.
When i zoom i see only 1 pin.
Could we make it see all of the pins in a circle for example?

[2016-12-01 19:22] mountainvat commented on #59
We will keep this thread updated once we've managed to deliver the feature.
Thanks for the interest.

[2016-12-01 19:25] mountainvat commented on #62
You can override the GMUDefaultClusterRenderer's shouldRenderAsCluster:atZoom method to have some custom logic to return YES for that case? The easiest, but naive, way is to always return YES so that close items are always grouped into a cluster no matter how many there are or what zoom level it is.

[2016-12-02 14:51] kayschmitt commented on #21
@jamesynotnot I cant get that render function to work. Could you post your whole controller by chance?

[2016-12-02 23:04] jamesynotnot commented on #21
The controller is quite large and customized, so can't post it.  Your
controller should be like this:

class ViewController: UIViewController, GMUClusterManagerDelegate,
GMUClusterRendererDelegate, GMSMapViewDelegate {

}

Let me know what's failing and I can try to help

On Fri, Dec 2, 2016 at 4:51 AM, kayschmitt <notifications@github.com> wrote:

[2016-12-10 00:57] thetay55 opened #63 "show window info when did tap cluster"
I want to show window info when click cluster like when click maker, but how i don't know implement. Please, help me.

[2016-12-13 12:10] kwstasna commented on #62
@mountainvat   And if I have a infobox for each pin that i want my users to see when they tap on a pin?
I think you have to update the library to consider this case too.
A nice working and good example is the following

http://blog.mastermaps.com/2014/06/showing-instagram-photos-and-videos-on.html

where you can see on the top right clustered images when you zoom in and you tap, both of the images

[2016-12-22 22:48] leonardom790 opened #64 "Clustering Marker Customization Swift compile error"
When I try to make a class extended from GMUDefaultClusterRenderer, the compiler give me this error.

Can someone help me please? or any idea why this happen?

![captura de pantalla 2016-12-22 a la s 16 46 20](https://cloud.githubusercontent.com/assets/22015397/21442853/60f65f50-c866-11e6-9717-db3977c06766.png)
![captura de pantalla 2016-12-22 a la s 16 45 57](https://cloud.githubusercontent.com/a

[2016-12-25 08:30] buithuyen commented on #62
I have a same problem. How can I do this
<img width="487" alt="screen shot 2016-12-25 at 3 29 20 pm" src="https://cloud.githubusercontent.com/assets/5087522/21470348/10e7a9a8-cab7-11e6-98b5-e61a629c91a3.png">

[2016-12-25 09:50] hyd00 commented on #34
@mountainvat Thank you for the CustomMarkers example. It works fine with _Synchronous_ methods, however it freezes UI until it's finished downloading the images, which I do not wish.

I have implemented _**Async**_ downloading and it's working fine. **However, while it's loading the image for a single marker or creating the mashed up cluster icon, it displays the default pink marker for cluster it

[2016-12-25 09:59] hyd00 opened #65 "Asynchronous Cluster Icon Rendering"
According to [this example](https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md) I have successfully implemented custom icons in marker clustering, and also managed to do it _Asynchronously_.

However, while the images are being downloaded/rendered, the **default Pink Google Map marker** is displayed for single markers, and a **Round Blue Color with Item Count icon** f

[2016-12-25 10:31] hyd00 commented on #65
Found the solution. Just add an `else` in `GMUDefaultClusterRenderer.m`  as follows

`- (GMSMarker *)markerWithPosition:(CLLocationCoordinate2D)position
                             from:(CLLocationCoordinate2D)from
                         userData:(id)userData
                      clusterIcon:(UIImage *)clusterIcon
                         animated:(BOOL)animated {
  GMSMarker *marker = [self m

[2016-12-25 10:31] #65 closed

[2016-12-27 23:29] mountainvat commented on #64
Can you publish a repro project that we can take a look at?

[2016-12-28 00:04] mountainvat commented on #62
Hi there,  I am just confirming that you want to receive the normal info window events for a cluster marker?
[code]

With these events you can construct a custom info window for the cluster marker using the contents of its userData property.

[2016-12-28 00:14] mountainvat commented on #65
Either that or I can suggest having a fully transparent icon at the start (instead of the default icon) and then swap with the mashed up image once they are downloaded and computed (notes: remember to post to main thread when assigning icon).

Alternatively you can set the marker.map to nil in the ```renderer:didRenderMarker:``` delegate so you do not need to modify the ```GMUDefaultClusterRendere

[2016-12-28 00:22] mountainvat commented on #63
This is actually a great request and should be on top of our list. Thanks.

[2016-12-28 10:32] kwstasna commented on #62
@mountainvat Excuse me, but this is the other guys issue. @buithuyen  You should open your own issue.

For my problem, there are 10 simple markers [https://cdn.pixabay.com/photo/2014/04/03/10/03/google-309740_640.png](example) on the same lat - lon. Not 1 cluster marker.

How can we fix it like the blog post that i posted above?

[2016-12-29 00:10] mountainvat commented on #62
@kwstasna I do not see a straightforward solution to the problem you're solving.
Can you preprocess the points so that they do not have the exact same lat,long but slightly different? Then you can use the clustering library out of the box.

@buithuyen may be you are interested in watching this ticket https://github.com/googlemaps/google-maps-ios-utils/issues/63?

[2016-12-29 10:05] gduh opened #66 "How to show Info window in iOS GoogleMaps on tapping on marker using clustering?"
On my iOS project I use GoogleMaps framework and Google-Maps-iOS-Utils framework in order to use clustering markers on map.

Without using clustering, just Google Maps, when I create severals markers, setting title's property, a tap on it show an info window with the corresponding title.

But when I use clustering, a tap on a marker (cluster or an item, the result is the same) the info window does

[2016-12-29 22:31] hansemannn commented on #21
Hey guys, just came across this during my PR to support clustering with google maps in Titanium ([here](https://github.com/hansemannn/ti.googlemaps/pull/58)). A convenient way would be to just subclass it and use the protocol to create everything. Unfortunately, methods like `markerWithPosition:from:userData:clusterIcon:animated:` are not in the public interface, so they won't be suggested. That w

[2016-12-29 23:27] mountainvat commented on #66
Duplicate of https://github.com/googlemaps/google-maps-ios-utils/issues/63

[2016-12-29 23:27] #66 closed

[2016-12-30 13:21] manpreetg commented on #35
Is there any update on this? I also want o overlay a GeoJson File. Please let me know if there is any method any where. I tried my own but the map hangs because of the data.

[2016-12-31 22:56] elvinaze commented on #38
I am getting error as cgImage is not type of UIImage, any help?

[2017-01-02 23:15] mountainvat commented on #35
We're working on the GeoJson and KML rendering. Just out of curiosity how
many geometries there are in your geojson file?

On Sat, Dec 31, 2016 at 12:21 AM, manpreetg <notifications@github.com>
wrote:

[2017-01-03 05:33] manpreetg commented on #35
@mountainvat Thanks for the update. I have two geometries which is of Multipolygon type. There are number of nested polygons as well. Will you please let me know the expected date of completion?

I am in but hurry. I tried by creating GMSPolygon. But the map hangs if I try to to render using for loop.

[2017-01-03 08:10] vinaykmr889 opened #68 "Google Maps SDK CoreData crashing issue"
@mountainvat

ios version - 9.0
xcode version - 8.2

I am getting below crash when i am implementing Google map in my iOS project. I am using coredata also in my application. Can you plz give me some quick resolution for this? Please find the error and stack trace below:-

[error] error: The current thread is not the recognized owner of this NSManagedObjectContext(0x6080001d86f0).  Illegal access

[2017-01-04 00:23] mountainvat commented on #68
Please raise this issue against the Google Maps SDK issue tracker 👍

https://code.google.com/p/gmaps-api-issues/issues/entry?template=Maps%20SDK%20for%20iOS%20-%20Bug

[2017-01-04 00:23] #68 closed

[2017-01-04 00:49] mountainvat commented on #35
@manpreetg we do not have a concrete date but hopefully in 2 to 3 months for both KML and GeoJSON rendering.

Would you mind sharing the GeoJSON file so that we can use it to test our code? If it contains confidential data it's fine to not to. Thanks.

[2017-01-04 07:36] manpreetg commented on #35
Thanks again. I will share the GeoJson, no problem in that. I made the overlay of world in multipolygons, so that we can show the map in offline mode as well. It is possible if I can pull any progress on the GeoJSON. I don't need KML only for GeoJSON.

[2017-01-04 23:20] mountainvat commented on #35
@manpreetg our code is not ready to share at the moment. Please check back in later.

[2017-01-05 15:28] kayschmitt opened #69 "Infowindow Without Clicking On Marker"
Is there a way to get the info window to show without clicking on the marker? I'm using swift.

[2017-01-05 23:39] mountainvat commented on #69
Please raise this against the ios google maps sdk issue tracker.

https://code.google.com/p/gmaps-api-issues/issues/entry?template=Maps%20SDK%20for%20iOS%20-%20Feature%20Request

[2017-01-05 23:39] #69 closed

[2017-01-06 08:10] manpreetg commented on #27
Hello @mountainvat ,

I am unable to place latitude -90 and 0 clusters on the map.

Error - All items should be mapped to a distance

There are almost 1140 item on same location.

Thanks.

[2017-01-07 09:57] manpreetg commented on #35
@mountainvat Is it possible to use Javascript file to load Geojson on Map, as Javascript supports Geojson and also the Swift supports Javascript?

[2017-01-08 21:06] mountainvat commented on #35
@manpreetg No we can only parse a GeoJSON format file.

[2017-01-08 21:08] manpreetg commented on #35
@mountainvat Thanks. I will provide you the GeoJSON, once I will be sure its working fine. I will be testing it with the Javascript. Thanks for the marvellous Clusters. (y)

[2017-01-08 21:16] mountainvat commented on #27
@manpreetg latitude has to be within this range [-85, +85] for it to be valid on the Mercator map. This assumption is implicit and we do not validate either on the GoogleMaps itself or this library.

However I am not sure that's related. So if you can fix the latitude first and see how it goes. Thanks.

[2017-01-08 21:18] manpreetg commented on #27
@mountainvat Right. The -90 goes out of the map. I fixed with the condition of the latitude. But the Google map Android not giving any crash. Strange!!!

[2017-01-08 21:39] mountainvat commented on #27
Certainly worth keeping this ticket open and we'll investigate for the next release.

[2017-01-10 06:02] bharatmodi777 opened #70 "Customise GMUClusterItem to set custom icon"
I could not able to set custom icon for the GMUClusterItem (Marker) when i use google-maps-ios-utils library. I have to show different icon on GMUClusterItem based on the category selected by the user. Even i want to show two GMUClusterItem having different icons at the same time. I want to achieve this -

![screen shot 2017-01-10 at 12 20 14 pm](https://cloud.githubusercontent.com/assets/16378093

[2017-01-10 15:58] BeetLab commented on #21
@mountainvat - But what about that :

/**
 * Raised when a marker (for a cluster or an item) is about to be added to the map.
 * Use the marker.userData property to check whether it is a cluster marker or an
 * item marker.
 */
- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker;

in @protocol GMUClusterRendererDelegate<NSObject>?

[2017-01-10 22:16] mountainvat commented on #21
@BeetLab you can use the event to customize your mark before it's added to the map. See https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md for an example of how to use it.

[2017-01-10 22:46] mountainvat commented on #70
@bharatmodi777 please take a look at this example: https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md

[2017-01-11 22:02] frios opened #71 "Hiding and showing markers in a cluster in iOS"
I am trying to quickly hide then show markers that are controlled by the clusterManager. Before I implemented the clusterManager, I would set the marker.map to nil then set it to my gmsMapView. This had the effect of "flashing" the marker which is what I was looking to do.

Now I have implemented the cluster manager. Since I cannot get direct access to the _items collection in the clusterManager,

[2017-01-11 22:35] mountainvat commented on #71
I suspect your mapViewController.markers collection are not the same as the ones created by the cluster manager. How did you populate the mapViewController.markers collection?

[2017-01-11 22:40] frios commented on #71
They are. I solved the problem by changing the removing and adding of the map to:

[code]

[2017-01-11 22:40] #71 closed

[2017-01-12 06:58] bharatmodi777 commented on #70
@mountainvat Thanks for your quick reply, i have added google-maps-ios-utils using pods. I have seen the example you have given in the link above but to do this do i need to added/modify classes manually? Because there are differences in the class GMUDefaultClusterRenderer in the Pods clustering folder and the downloaded google-maps-ios-utils library. Please suggest.

[2017-01-12 12:23] danielpietzsch commented on #63
FWIW: you _can_ make markers that were added via the cluster library show their infoWindow. But it seems like you need to set the necessary marker properties _before_ the marker gets rendered.

I was able to make cluster markers show the default info window, when I set their `title` or `snippet` properties in the `willRenderMarker` method of the  `GMUClusterRendererDelegate`. E.g.:

[code]

Please

[2017-01-12 22:07] mountainvat commented on #70
Did your pod file reference the latest version 1.1.2?

[2017-01-13 05:52] jhhomme opened #72 "Showing cluster item count on customized cluster marker icon"
Hi, is it possible to show the cluster count on a customized cluster marker icon?

The cluster count is not showing anymore after implementing customized cluster marker icon.

[2017-01-13 06:10] bharatmodi777 commented on #70
pod --version
1.1.1

I have installed the latest version of google-maps-ios-utils using
pod 'Google-Maps-iOS-Utils'

[2017-01-13 06:28] jhhomme commented on #72
Also, in willRenderMarker, is there any way to identify which clustermanager the marker belongs to? I would like to render different cluster icons for different clustermanagers.

[2017-01-15 11:57] hansemannn opened #73 "Cannot have both didTapMarker: and didTapCluster: / didTapClusterItem:"
Hey there,

here is my problem: I want to handle both the clicks on the cluster, but also on the marker itself (primary because I cannot find a way to get the `GMSMarker` in the `didTapClusterItem:` delegate.

So when I have both the `didTapMarker:` and one of `didTapCluster:` or `didTapClusterItem:` implemented, `didTapMarker:` does not fire and the marker is not selectable.

This is caused by th

[2017-01-15 22:15] mountainvat commented on #73
It's an issue we're working on https://github.com/googlemaps/google-maps-ios-utils/issues/63.

[2017-01-15 22:20] mountainvat commented on #72
You would have to generate a custom icon with your icon + the number of items. You could use the drawing logic we have in the ```GMUDefaultClusterIconGenerator```.

As to knowing which cluster manager is associated with the willRenderMarker even you would have to manage that association yourself either by a mapping from the renderer to a cluster manager (meaning having 1 renderer per manager) or a

[2017-01-15 23:48] mountainvat commented on #70
Do you use a Podfile? What does it look like? Maybe try pod update?

[2017-01-15 23:51] mountainvat commented on #63
Hi all,
we have committed a solution to this issue here https://github.com/googlemaps/google-maps-ios-utils/commit/cf739384397f3453ed667bbd8153f0cb3f231e2b but since it's a breaking change we would like to release it in a 2.x.x version (pending other big features we wanted to get in). For now please see the solution in the commit and see if you can work around using it.

[2017-01-17 06:38] bharatmodi777 commented on #70
Yes i am using Podfile, you can see the attached screen shot to get a look of it. Tried pod update but nothing improved.
![screen shot 2017-01-17 at 12 00 26 pm](https://cloud.githubusercontent.com/assets/16378093/22010174/a3176c0c-dcad-11e6-8ae1-ac2ec2148d3c.png)

[2017-01-17 06:46] bharatmodi777 commented on #70
Also i have downloaded the same google-maps-ios-utils library manually for reference/sample app which has one sample app named 'GoogleMapsUtils'. In this project the Cluster classes are added manually and not using the Podfile. So do i need to integrate the google-maps-ios-utils library manually (i mean without using Podfile)? Kindly suggest.

[2017-01-17 23:38] mountainvat commented on #70
If you are adding the files manually please remove the pod reference and use files from this specific release: https://github.com/googlemaps/google-maps-ios-utils/releases/tag/v1.1.2

Please let us know how you go.

[2017-01-21 16:31] tamhuynh-asnet commented on #72
I has seem issue when i use willRenderMarker to custom clustor icons but i can't see the  icon + the number of items.

[2017-01-21 17:04] tamhuynh-asnet commented on #72
I had generel a custom icon by `GMUDefaultClusterIconGenerator(buckets: [ 100, 500, 1000, 2000, 5000], backgroundImages: images)`. Please help me on this. I'm using Swift language
<img width="281" alt="glass" src="https://cloud.githubusercontent.com/assets/12997798/22176147/1e9101a0-e036-11e6-9a26-368264552e16.png">

[2017-01-23 06:32] bharatmodi777 commented on #70
Will update you shortly.

[2017-01-23 22:45] mountainvat commented on #72
They seem to be single item or are they supposed to be a cluster?

[2017-01-24 07:17] tamhuynh-asnet commented on #72
I resolved this issue. I set cluster icon be empty so showing the default icon. Thanks.

[2017-02-01 13:45] nitisha1 commented on #62
@kwstasna - i'm facing same issue.Did you find any solution?

[2017-02-01 16:19] kwstasna commented on #62
@nitisha1 Nope. I'm currently working on other project so i dont have time.
Although i think that setting up the location of the pin in slightly different lat/long is a solution, as @mountainvat  mentioned above, although it could be better !

[2017-02-01 18:59] CristianCardosoA opened #76 "GMUCluster object of a cluster item"
How to obtain the GMUCluster object of a cluster item.

Did you manage the cluster by ids or just with a position ??

Thanks !

[2017-02-03 08:53] SergeyCHiP opened #77 "GMUNonHierarchicalDistanceBasedAlgorithm doesn't make clusters for items with equal coordinates"
If there are items with equal coordinates on map it seems like one ItemMarker... I think, it should look like clusters.

[2017-02-03 17:03] CristianCardosoA commented on #77
Hi, you have to modify the constant: static const NSUInteger kGMUMinClusterSize = 2;

Located in file: GMUDefaultClusterRenderer

[2017-02-08 05:44] Tamil-Arya opened #78 "I have to do clustering according to the CGPoint (x,y) along non mapping view, is it possible in iOS ?"
I need to do pagination in the CATileLayer ( Blue print Map ) by ScrollView.

Scenario : I implemented blue print using CATileLayer as Map for pointing particular location as well saving those data into the CouchDB. Now i have pointed more number of locations ( ex : 1000 location ) so now for this blue print i need to do pagination. is it possible to do by Google clustering ?

More info : http://s

[2017-02-12 07:00] prsreejith commented on #21
How to load this cluster GMSMapview into custom view like below ?

- (void)loadView {
  GMSCameraPosition *camera =
      [GMSCameraPosition cameraWithLatitude:kCameraLatitude longitude:kCameraLongitude zoom:10];
  _mapView = [GMSMapView mapWithFrame:CGRectZero camera:camera];
  self.myMapView = _mapView;
}

currently its loading only to self.view

[2017-02-13 13:38] Bit2Dev commented on #27
If you add to map GMSMarker, and don't add this to GMUClusterManager, this XCTAssert is triggered. But if you comment out this lines, clustering is working except for this marker.

I don't want clustering this single marker. I think in some point you get all markers from GMSMapView, instead from added to GMUClusterManager.

[2017-02-13 13:40] manpreetg commented on #27
@Bit2Dev Thanks. It helps.

[2017-02-22 14:20] thomascalmon commented on #68
Still doens't work?

[2017-02-22 19:27] domesticmouse commented on #68
The above error is not from this utility library, but instead from the underlying Google Maps SDK for iOS. Please raise an issue regarding this error on the bug tracker mentioned by @mountainvat so we can verify and track a fix. Thanks!

[2017-02-23 11:37] iosdevuz opened #80 "10 pins less in the map then total locations count"
Hi. I am using Google-Maps-iOS-Utils. And now i have like this error: from server I am taking "N" locations.  In the map the amount of the clusters' title numbers is (N-10). I can not find where is my mistake?

[2017-02-23 21:38] mountainvat commented on #80
The number on the cluster marker icon is a rounded number so may not be the exact "N". For example a cluster marker can show 100+ for **over** 100 items, not exactly 100 items. Only clusters smaller than the last grouping (10 by default) will show the exact item count.
Hope that makes sense.

[2017-02-24 14:39] iosdevuz commented on #80
Hello, Thanks for replying me. I was changed the rounded numbers at here:

![2017-02-24 19 33 47](https://cloud.githubusercontent.com/assets/23485970/23307132/392d1f9c-fac8-11e6-94fe-ee4389c903e2.png)

Because i need the exact numbers of markers as a title of clusters. I can not find other way. So changed the minimum amount of markers in clusters. Can you tell me please how can i show the exact nu

[2017-02-26 21:53] gytiskv opened #84 "Detect if marker is going to be clustered"
Is there any way to know when marker (cluster item) is going to be removed from the map and appeared in cluster?

[2017-02-26 22:12] mountainvat commented on #84
By default, when zoom level changes on an integer boundary (1 to 2, 6 to 5, etc) a recluster will be triggered. The default clustering algorithms are deterministic but there's no cheap way to predict if an item will be grouped into a cluster or will be removed from a cluster unless a recluster is done (which you can call manually on the ClusterAlgorithm subject the a performance hit if there are t

[2017-02-26 22:33] mountainvat commented on #80
It is probably OK to increase the minimum bucket size but you will need to keep watching the memory usage because you can potentially have 1000 icons cached in memory. If you see memory usage to be a problem you can override the GMUDefaultClusterIconGenerator and tweak the NSCache _iconCache object.

For your 2nd point you can calculate the bounds of the tapped cluster and use GMSCameraUpdate's fi

[2017-02-27 07:23] gytiskv commented on #84
Thank you for your response. I've already changed renderer configuration of the min size to 3 items by changing the const.
The purpose of this to be done is that I need to know when a marker will be no longer visible on the map (clustered) to do some stuff. For instance, I need to hide some markers that are not items of any cluster and are added by code as simple markers (so they will never cluste

[2017-02-28 10:40] nitishmakhija opened #85 "Google maps polyline not rendering perfectly"
Please refer [http://stackoverflow.com/questions/42455063/google-maps-polyline-not-rendering-perfectly](url)

[2017-02-28 15:21] yaronj3 commented on #70
I just did it and everything works fine,
Thanks

[2017-02-28 21:15] mountainvat commented on #85
Please raise this ticket against the Google Maps SDK directly.

[2017-02-28 21:15] #85 closed

[2017-03-01 19:15] SAPIENTechnologies commented on #61
Is this the same issue as https://github.com/googlemaps/google-maps-ios-utils/issues/58?

[2017-03-01 19:50] SAPIENTechnologies opened #86 "Create a best path process for using Google Maps iOS Utils with Swift"
Used the instructions here

https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md

to set up project but compiler can't find the GMUMarkerClustering header. Any suggestions?

[2017-03-01 21:29] SAPIENTechnologies opened #87 "_items collection in the clusterManager"
Is there any chance that we can get access to the markers collection in the clusterManager in iOS? It seems to be available on Android.

[2017-03-04 08:29] unoiatech opened #88 "Markers not showing up"
I am adding custom markers using Spot.h/.m classes.
Here is my code

When I first open the map screen, the markers don't show up. When I zoom in/out the map, the markers become visible. I have no idea why is this happening.
I have commented the code line

When I uncomment this line , the markers show up in first time. But not in Cluster. The single marker shows up if there are 5 markers in same lo

[2017-03-04 10:10] unoiatech commented on #88
#26 Thanks.. This solved my problem. Added [clusterManage cluster] after creating markers.

[2017-03-04 10:10] #88 closed

[2017-03-05 18:33] gytiskv opened #89 "Camera jumps to marker and when starts animation when tapping on markers"
I've a strange issue with tapping on markers and animating to them. The strangest thing is that it happens not every single time.

I'm using didTapMarker and markerInfoWindow functions to show marker's details or animate to it if needed.

The thing is, when tapping on marker, camera jumps to that marker position immediately and then jumps back to current position and animates to the marker.

[code

[2017-03-05 22:34] mountainvat commented on #89
Should this be raised against the SDK issue tracker? https://code.google.com/p/gmaps-api-issues/issues/list?q=label:ApiType-IosSDK

[2017-03-06 22:55] SAPIENTechnologies opened #90 "Super slow performance of GMUNonHierarchicalDistanceBasedAlgorithm with large data sets"
I have a data set of about 750 points. When i use the GMUNonHierarchicalDistanceBasedAlgorithm, it takes about 10 seconds to render the clusters on an iPhone 6S. I have tracked the slowness to the clustering. When I change to the GMUGridBasedClusterAlgorithm, it only takes about 1/2 second. Anyone else see these issues?

[2017-03-06 23:00] mountainvat commented on #90
That's interesting. Our sample demo can work on 10k points. The GMUNonHierarchicalDistanceBasedAlgorithm has a O(N*log(N)) complexity so 750 should not be a problem.

I'd be interested to see a repro case if possible.

[2017-03-06 23:48] SAPIENTechnologies commented on #90
If I were to put together  a stripped down project, would I be able to send it to you somehow for you to take a look at?

[2017-03-06 23:52] mountainvat commented on #90
Yeah sounds good to me. Thanks.

[2017-03-07 02:04] NyeinEiEiTun opened #91 "Cannot run objective-c demo App"
#I have downloaded the zip file and tried to open sample objective-c demo app. But I can't. Instead, I got this error.
<img width="1280" alt="screen shot 2017-03-07 at 10 03 11 am" src="https://cloud.githubusercontent.com/assets/26161959/23638573/5de20926-031d-11e7-9fa6-c7a9e37d72e0.png">
Can anyone suggest me how to do???

[2017-03-07 02:46] NyeinEiEiTun commented on #91
I solved that issued :D by referencing this link https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md. thanks

[2017-03-07 17:36] SAPIENTechnologies commented on #90
Unknown to me why, this has started performing at orders of magnitude better. It still has a lag of a second or two when displaying 750+ items in clusters, but that is much better than 8-10 seconds.

I will keep an eye on thins and see what happens

[2017-03-08 09:12] Mehul18292 commented on #27
//  NSAssert(itemToClusterDistanceMap.count == _items.count,
//           @"All items should be mapped to a distance");
//  NSAssert(itemToClusterMap.count == _items.count,
//           @"All items should be mapped to a cluster");

#if DEBUG
  NSUInteger totalCount = 0;
  for (id<GMUCluster> cluster in clusters) {
    totalCount += cluster.count;
  }
//  NSAssert(_items.count == totalCount, @"All

[2017-03-14 13:42] artemsmikh commented on #27
@Mehul18292 I don't think this is a good idea to comment assertion lines. Now you probably have issues with markers that won't show up on the map.

[2017-03-22 08:43] Shahriyar495 opened #92 "Marker pop/drop animation"
Hi Team,

I want GMSMarker appear animation. But currently this code animates markers.
[code]
and this doesn't have any effect
`marker.appearAnimation = kGMSMarkerAnimationPop;`

Markers should appear popping when above animation is finished. How can i do this?

Thanks in advance

[2017-03-23 18:08] AmmySingh commented on #92
Can I use this code in for loop to drop multiple pins? I tried but it's not working.

Thanks in advance

[2017-04-11 17:58] felixolivares commented on #76
The key here is the zoomLevel. All clusters are not tied to an ID itself as we may think, since they always vary due to the zoom level of the actual map. So that said, we can get an array of all clusters at a specific zoom level, after getting this list we can filter out the one that we need. In my case I needed to move the camera to the specific location where the cluster was located and do some

[2017-04-14 15:19] yozef commented on #59
+1

[2017-04-18 12:57] accurate commented on #86
I can't seem to be able to get the instructions to work either. It's not specific either, it's quite vague. Like where does the header file go exactly?

[2017-04-18 13:24] dvertovsek opened #93 "dropping support for ios7 soon?"
any news on dropping support for ios7 and making it a dynamic framework?

[2017-04-19 08:50] MohsenK opened #94 "minClusterSize in DefaultRenderer"
In Android SDK there is minClusterSize property that  when we set it to 1 it show's every elements as cluster not marker.
But in iOS SDK doesn't exist minClusterSize and DefaultRenderer by default show's lower than 3 items as items not cluster.
There is any solution  ?
Thanks.

[2017-04-20 07:47] deokarDattatray commented on #39
Is this library supporting GeoJSON now.

[2017-05-01 05:58] nagender04031989 commented on #19
When I compile my static framework with the Google Maps iOS SDK integrated. It compiles fine, however when I add that framework in my project, it states the error "framework GoogleMapsBase SDK not found for arm64". Same error occur for armv7 architecture also. My custom framework is woking good till I am compiling for dynamic framework but as I change the "Mach-O Type" key in build setting in my f

[2017-05-01 06:11] mountainvat commented on #19
Maybe you want to include GoogleMaps into your project too?

[2017-05-01 06:26] nagender04031989 commented on #19
@mountainvat then purpose of my SDK is not fulfilled. My concern is why it is working for dynamic type but not for static. Is there anything needs to be done extra for static framework?

[2017-05-01 06:38] mountainvat commented on #19
Can you please post some more detailed error messages?

[2017-05-01 07:17] nagender04031989 commented on #19
By selecting my target, I got the following errors(image atta
![screen-shot-2017-05-01-at-12 15](https://cloud.githubusercontent.com/assets/28248926/25574461/52bf768a-2e6c-11e7-8f64-7625e5ae62fb.png)
ched)

[2017-05-01 15:31] grundmanise commented on #21
@mountainvat Hello,

in this function:

`func renderer(_ renderer: GMUClusterRenderer, willRenderMarker marker: GMSMarker) {}`

`makrer.iconView` is always `nil` even if I set it up before like this:

[code]

how can one implement a `guard` to only setup `iconView` and other `marker` properties only when the marker is rendered for the first time? otherwise it is just a waste of resources..

[2017-05-01 17:04] grundmanise commented on #72
@mountainvat Hello, can't one just cast `marker.userData as! GMUCluster` like this:
[code]
 and get `.count` from there? Is it too expensive performance wise?

[2017-05-01 22:03] mountainvat commented on #72
That is not expensive and seems reasonable. Beware that the marker.userData can also be a GMUClusterItem so maybe use `let foo = marker.userData as? GMUCluster` and check that foo is not nil.

[2017-05-01 22:21] mountainvat commented on #21
How many different cluster views do you have? If you have only 1 custom view (shared by many clusters) then I'd suggest return the same instance in ClusterViewIcon() so that the view is only rendered once.

In addition, this event is only raised once when the marker is brought into view unless a recluster happens (say on a zoom level change). For this maybe raise a separate issue and we will see i

[2017-05-01 22:22] mountainvat commented on #19
Just curious are you also linking in the GoogleMaps Utils library or just the GoogleMaps SDK?

[2017-05-01 22:25] grundmanise commented on #72
@mountainvat yes, I actually have `if else` type checking implemented there. I truncated code for brevity. Thanks.

[2017-05-01 22:35] grundmanise commented on #21
I did it before - stored a pre-created view in a `var`,  and assigned this `var` to the `iconView`, thus the view was rendered only once. But now I need to setup captions. Each marker has it's own caption. So I can't use 1 view for every marker.

Exactly. On the zoom level change. If nothing changes (i.e. no clustering / declustering happens), we recreate already rendered markers and waste resourc

[2017-05-01 22:45] grundmanise opened #96 "guard / do not call [func render(renderer: _ , willRenderMarker: _ )] if nothing changed on the map."
`func renderer(_ renderer: GMUClusterRenderer, willRenderMarker marker: GMSMarker) { }`

get's called every time there was a zoom level change even if no clustering / declustering happened.
Thus in this scenario:

[code]

**we recreate already rendered markers and waste resources.**

This `func renderer()` should only be called if the clustering / declustering actually happened or there should be

[2017-05-02 07:13] AmeerChand opened #97 "could not Build module 'googlemaps'"
![screen shot 2017-05-02 at 12 09 48 pm](https://cloud.githubusercontent.com/assets/26761721/25607579/a250e5ac-2f30-11e7-9836-940f8b887ad4.png)

[2017-05-02 10:11] nagender04031989 commented on #19
Just SDK only.

[2017-05-02 21:33] mountainvat commented on #97
How did you setup your project? If you are using Pods then you would probably want to open the workspace instead of the project.

[2017-05-03 05:20] mountainvat commented on #19
I can see that another issue has been raised on the SDK issue tracker (https://issuetracker.google.com/issues/37727522). Would you mind tracking that bug instead because it's directly related to the SDK. Also it may help if you could provide a minimal reproduction case.
Thanks.

[2017-05-03 12:56] AmeerChand commented on #97
i opened the project using workspace but facing same issue.

[2017-05-03 13:19] AmeerChand commented on #97
when i use this  in podfile
pod 'GooglePlaces', '2.1'
  pod 'GoogleMaps', '2.1'
  pod 'GooglePlacePicker', '2.1'
then it's working fine.

[2017-05-04 12:51] jhanzo commented on #87
Up @google-admin

[2017-05-04 15:18] matteodanelli commented on #63
Any update about this issue?
Is there any release date of version 2.x.x?

I am unable to do it using the approach explained before.

[2017-05-04 22:19] mountainvat commented on #87
The way we manage markers on the iOS library is different to the Android for performance reasons. Not all clusters or cluster items will have a marker associated unless they are visible on screen. What you can do is to register to willRenderMarker or didRenderMarker event on the GMUDefaultClusterRenderer to manage them. Unfortunate we don't have the corresponding willRemoveMarker/didRemoveMarker e

[2017-05-04 22:23] mountainvat commented on #63
We are in the process of pushing out 2.0.0 so stay tuned. Probably sometime next week if everything goes smoothly!

[2017-05-11 11:26] yassinelmalyh opened #98 "apply clustering to all markers except one marker"
Hello,

i want all markers to be clustered except one marker, how can i do this please ?

thanks in advance.

[2017-05-12 00:00] mountainvat commented on #98
Maybe you can do it by NOT adding the one marker to the ClusterManager? And just add it as a normal marker on the map?

[2017-05-13 21:11] AAverin opened #99 "Carthage support request"
Would be great to have carthage support
At the moment I get
[code]

or

[code]

[2017-05-14 07:12] AAverin opened #100 "How to install without CocoaPods"
I'm not using CocoaPods in my project.
Would be great to have some guideline on how to install library as a git submodule

[2017-05-15 10:48] deokarDattatray opened #101 "Cant read property value if not string"
i can not read property value if it is not string.

i am receiving Feature GeoJSON like below. value of parameter gs_id is Integer.

    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -73.3162552664,
          45.439763421
        ]
      },
      "properties": {
        "name": "boul. Lebel / rue Anne-le-Seigneur",
        "gs_id": 92920

[2017-05-16 21:35] SAPIENTechnologies commented on #61
Has the source of this issue been determined?

[2017-05-17 12:12] hiteshwork commented on #63
@mountainvat  any update on the issue as of now ?

[2017-05-17 21:23] mountainvat commented on #63
Hi @hiteshwork , 2.0.0 is out so please update your pod. The clusterManagerDelegate events (https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/GMUClusterManager.h#L40) now return a BOOL. Return NO to pass the event to the default handler (i.e showing info window).
Thanks.

[2017-05-19 07:25] blavejr opened #103 "Move cluster item count number"
Hi I have built a map with custom cluster icons but I can't seem to figure out how to move the text showing how many markers I have in the cluster.
I want to move this text from the centre to a label in the corner of my custom cluster icon.

[2017-05-19 16:02] mandisaw opened #104 "GMUStaticCluster missing from library header"
Clustering library header file, GMUMarkerClustering.h, is missing a header entry for GMUStaticCluster.h, preventing callers from accessing the protocol. I was able to resolve it by adding an import for this file specifically.

Library Version: 2.0.0, via Cocoapods

[2017-05-20 06:55] #80 closed

[2017-05-20 06:56] iosdevuz commented on #80
Thanks for such a like useful utils

[2017-05-21 10:35] vanjau opened #105 "Custom markers inside cluster, Swift"
Is it possible to customize markers inside cluster, using Swift? Markers should be different depending of the category. I'm only manage to find Obj-C solutions, where I need to extend GMUDefaultClusterRenderer and override this method:
`- (GMSMarker *)markerWithPosition:(CLLocationCoordinate2D)position
                             from:(CLLocationCoordinate2D)from
                         userData

[2017-05-21 21:28] mountainvat commented on #105
Follow the delegates as in this example? https://github.com/googlemaps/google-maps-ios-utils/blob/master/CustomMarkers.md

[2017-05-21 21:33] mountainvat commented on #103
You can use the `- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker` delegate in https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/View/GMUDefaultClusterRenderer.h to set a suitable anchor for the marker being render.

For more information on customizing markers, see: https://github.com/googlemaps/google-maps-ios-utils/blob/master/Cu

[2017-05-22 08:27] vanjau commented on #105
@mountainvat
I manage to find solution, but unfortunately it's not straightforward in Swift. I changed markerWithPosition method (put else statement) in GMUDefaultClusterRenderer.m class and only after that everything works like it should.

[2017-05-22 21:36] mountainvat commented on #105
Are you able to export a PR so that I can take a look?

[2017-05-23 09:05] mrigo opened #106 "GeoJSON importer Swift"
Hello everyone!
is there any idea of creating the Swift version of the GeoJSON importer already created in ObjC ?

Thanks in advance!

[2017-05-23 21:41] mountainvat commented on #106
There's a KML demo in the SwiftDemoApp that you can take a look. The GeoJSON should be similar.
https://github.com/googlemaps/google-maps-ios-utils/blob/master/samples/SwiftDemoApp/SwiftDemoApp/KMLViewController.swift

[2017-05-24 01:23] YangLiMey opened #107 "POI didn't contain,right?"
I want to know where is the POI things existed,but didn't find in ios sdk

[2017-05-24 15:39] SAPIENTechnologies commented on #58
This problem still exists. I have created a stripped down version of my project. Is there a private location that I can upload it to for you to take a look at?

[2017-05-25 06:46] domesticmouse commented on #58
Please feel free to email me the repro, or link to it, at brettmorgan@google.com

[2017-05-25 12:47] vanjau commented on #105
@mountainvat
Sorry, what do you mean by "PR"?

[2017-05-26 00:07] domesticmouse commented on #58
I'm a tad confused, at first blush this app doesn't appear to include `Google-Maps-iOS-Utils` in the Podfile. It includes a bunch of other detail that isn't helpful with respect to debugging the issue.

I strongly suggest you build a minimal reproduction sample that includes only the `GoogleMaps` and `Google-Maps-iOS-Utils` pods, and post it up as a github repo that I can clone and fix.

Thanks!

[2017-05-26 00:36] domesticmouse commented on #107
This is the issue tracker for the Google Maps iOS Utils library. Please see the [Google Maps SDK for iOS Support](https://developers.google.com/maps/documentation/ios-sdk/support) for options for getting support for issues with Google Maps SDK for iOS. Thanks!

[2017-05-26 00:36] #107 closed

[2017-05-26 00:36] #106 closed

[2017-05-26 00:37] domesticmouse commented on #105
PR is a shorthand for a Git Pull Request. We'd love to see what you did, thanks!

[2017-05-26 00:38] domesticmouse commented on #104
Could you please create a Pull Request against this project with your fix? Thanks!

[2017-05-26 00:39] #103 closed

[2017-05-26 01:19] #63 closed

[2017-05-26 08:13] vanjau commented on #105
Thanks for explanation.
Unfortunately, I can't export a PR to you, but I answered on SO, so maybe that can help you.

https://stackoverflow.com/a/44107523/6336996

[2017-05-26 14:52] SAPIENTechnologies commented on #58
Thats because Google-Maps-iOS-Utils is included as source. See the attached image. When I first incorporated that lib, it was the suggested way to do it. Is it now available as a pod?

This is pretty much the mosts stripped I can get the app and have it be a real representation of the app.

What I have found yesterday is that the size of the marker.userData heavily influences the speed of the clus

[2017-05-26 15:04] SAPIENTechnologies commented on #58
Here is the reason I don’t use the podfile:…

https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md

Regards,
info@sapien.com

[2017-05-26 18:52] mandisaw commented on #104
Done! I submitted a CLA as well, let me know if there's a problem.

[2017-05-29 12:19] mohammad19991 opened #111 "Command failed due to signal: Abort trap: 6"
Subclassing `GMUClusterItem` makes tests fail, check below:

`class PointOfInterest: NSObject, GMUClusterItem {
    var position: CLLocationCoordinate2D
    var name: String
    var price: String
    var currency: String

    init(position: CLLocationCoordinate2D, name: String, price: String, currency: String) {
        self.position = position
        self.name = name
        self.price = price

[2017-05-30 07:45] dvertovsek commented on #93
@mountainvat ?

[2017-05-30 21:46] mountainvat commented on #93
I think Google Maps SDK is dropping iOS 7 very soon but I am not sure of a timeline for making it into a dynamic framework yet.

[2017-05-31 03:29] domesticmouse commented on #93
Please see [Google Maps SDK for iOS 2.3 release notes](https://developers.google.com/maps/documentation/ios-sdk/releases#version_23_-_may_30_2017) for more detail on iOS7 deprecation. Please feel free to raise an issue on the [Google Maps SDK for iOS issue tracker](https://developers.google.com/maps/documentation/ios-sdk/support#issue-tracker) for dynamic framework support. Thanks!

[2017-05-31 03:29] #93 closed

[2017-05-31 03:43] domesticmouse commented on #104
Thanks for your PR!

[2017-05-31 03:43] #104 closed

[2017-05-31 03:44] domesticmouse commented on #111
Can you please make a Github repository with a minimised reproduction case of this issue? The above description isn't enough for me to be able to see what the issue is.

Also, any particular reason for not using CocoaPods?

[2017-05-31 03:46] domesticmouse commented on #105
I'm closing this out for the time being, as I can't see a solid path forward. If you have suggestions for changes in the API surface to make this easier in Swift, please feel free to re-open this bug. Thanks!

[2017-05-31 03:46] #105 closed

[2017-05-31 03:50] domesticmouse commented on #100
I'm curious what you are using for dependency management, if not CocoaPods. If you are doing it by hand, then the majority of the setup required for including this as a git submodule is reconfiguring your Xcode project to include the files from this repository. Please re-open this bug if you need more assistance.

[2017-05-31 03:50] #100 closed

[2017-05-31 03:51] domesticmouse commented on #99
Please feel free to create a Pull Request with the required changes to support Carthage.

[2017-05-31 03:51] domesticmouse commented on #98
Please re-open this bug if you need more assistance. Thanks!

[2017-05-31 03:51] #98 closed

[2017-05-31 03:53] domesticmouse commented on #97
Please create a GitHub repository with a minimal reproduction case. The above is not sufficient to understand what is going wrong for you. Thanks!

[2017-05-31 03:53] #97 closed

[2017-05-31 03:54] domesticmouse commented on #96
I'm unsure what change you are suggesting. Can you put together a PR that sketches out what you are envisioning?

[2017-05-31 03:55] domesticmouse commented on #94
We gladly accept Pull Requests for additional functionality.

[2017-05-31 03:58] domesticmouse commented on #92
This feels like an issue with Google Maps SDK for iOS, not for the support library. Please see our [support page](https://developers.google.com/maps/documentation/ios-sdk/support) for options on getting support for Google Maps SDK for iOS. Thanks!

[2017-05-31 03:58] #92 closed

[2017-05-31 03:58] #91 closed

[2017-05-31 04:00] domesticmouse commented on #90
Closing this out for now. Please re-open with a link to a minimised repro case if you'd like us to dive into this issue further.

[2017-05-31 04:00] #90 closed

[2017-05-31 04:02] domesticmouse commented on #89
This doesn't appear to be an issue with the support library. Please see our [Google Maps SDK for iOS Support page](https://developers.google.com/maps/documentation/ios-sdk/support) for avenues of support. Thanks!

[2017-05-31 04:02] #89 closed

[2017-05-31 04:03] #87 closed

[2017-05-31 04:08] domesticmouse commented on #86
Is this still an issue?

[2017-05-31 04:09] domesticmouse commented on #84
Please feel free to send us a Pull Request for the additional functionality you require in the library, thanks!

[2017-05-31 04:09] #84 closed

[2017-05-31 04:09] mountainvat commented on #94
You can extend GMUDefaultClusterRenderer and override `- (BOOL)shouldRenderAsCluster:(id<GMUCluster>)cluster atZoom:(float)zoom;`

[2017-05-31 04:10] #94 closed

[2017-05-31 04:11] domesticmouse commented on #60
If this is still an issue, please re-open with a link to a minimal reproduction case.

[2017-05-31 04:11] #60 closed

[2017-05-31 04:13] mountainvat commented on #100
You can follow the similar instructions for Swift integtation: https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md

[2017-05-31 04:14] domesticmouse commented on #78
I'm guessing you aren't using Google Maps SDK for iOS, so I don't think this support library is helpful as is. However, this library is open source, so you may be able to utilise the code from the library to help implement what you need. Thanks!

[2017-05-31 04:14] #78 closed

[2017-05-31 04:14] #70 closed

[2017-05-31 04:15] #77 closed

[2017-05-31 04:16] domesticmouse commented on #73
I believe this is now fixed with version 2.0.0 of the support library. See #63 for details. Thanks!

[2017-05-31 04:16] #73 closed

[2017-05-31 04:17] domesticmouse commented on #72
Closing this issue out as it seems resolved. Please re-open if this isn't the case. Thanks!

[2017-05-31 04:17] #72 closed

[2017-05-31 04:18] domesticmouse commented on #64
Closing this out as stale.

[2017-05-31 04:18] #64 closed

[2017-05-31 04:25] domesticmouse commented on #58
The instructions in https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md are for the specific case for when you have a Podfile that has `use_frameworks!` declared in it. From memory your reproduction instance didn't have that in it. It also had a lot of other stuff. I like to get people to boil down their issues to a minimal reproduction, as that exercise frequently shows the p

[2017-05-31 04:30] domesticmouse commented on #61
Closing this issue out as stale. Please re-open with a link to a minimal reproduction case if this is still an issue.

[2017-05-31 04:30] #61 closed

[2017-05-31 04:31] domesticmouse commented on #26
Closing this issue out as stale. Please re-open if this is still an issue. Thanks!

[2017-05-31 04:31] #26 closed

[2017-05-31 04:32] domesticmouse commented on #35
I believe this issue is now closed. Please re-open if this isn't the case.

[2017-05-31 04:32] #35 closed

[2017-05-31 04:33] domesticmouse commented on #37
Closing this out as stale. If this is still an issue, please re-open this issue with a link to a minimal reproduction case in a GitHub repository. Thanks!

[2017-05-31 04:33] #37 closed

[2017-05-31 04:34] domesticmouse commented on #40
Closing this out as stale. Please re-open with a link to a minimal reproduction case as a GitHub repo if this is still an issue. Thanks!

[2017-05-31 04:34] #40 closed

[2017-05-31 04:35] #42 closed

[2017-05-31 04:36] #48 closed

[2017-05-31 04:37] domesticmouse commented on #54
I'm confused, both Google Maps SDK for iOS, and this support library should work fine in Xcode 8 with Swift 3. What issues are you seeing?

[2017-05-31 04:38] AmeerChand commented on #97
off course we are opening workspace.

On Wed, May 3, 2017 at 2:33 AM, Son Nguyen <notifications@github.com> wrote:

[2017-05-31 04:38] mountainvat commented on #54
Yes as of 2.0.0, demo samples have been upgraded to Swift 3 syntax.

[2017-05-31 04:38] #54 closed

[2017-05-31 04:38] domesticmouse commented on #57
Any chance of a minimal reproduction case that demonstrates the issue?

[2017-05-31 04:41] AAverin commented on #100
As a new iOS developer, it took me a few hours of messing with ObjectiveC headers to make it work in the end. The guide that @mountainvat  linked is very basic and doesn't mention the need to change almost all header files

[2017-05-31 17:40] willum070 opened #112 "KML/GeoJSON parsers give no error for invalid data"
When invalid data is passed to either the KML or GeoJSON parser, the parser fails silently (no data displays on the map, and there is no error message).

Expected: When invalid data is encountered, the parser should return some type of error message to let the developer know what happened (perhaps simply log a message to the console).

[2017-06-01 06:37] blavejr opened #113 "cluster images (Objective-C)"
Hi I am trying to change the clusters marker images to images I am getting from a json.
1. I download a json containing the urls of some items I want to cluster.
2. I create POIItems from these urls and pass them to the cluster manager.

what I would like is to have the last item in the cluster be the cluster images.

I have tried to use - (id<GMUClusterIconGenerator>)icongeneratorWithBuckets
but

[2017-06-01 08:03] mountainvat commented on #113
If I understand you correctly you are trying to use custom cluster images downloaded over the network? If it is the case, I'd suggest you perform the download of the images first. Once they've come back, start adding the items to the cluster manager. The defaultIconGenerator also has constructor to take custom images for each bucket.

[2017-06-01 08:06] blavejr commented on #113
This is some what what I have done but what I need to get is the cluster. once I have the cluster I can than determine which item is last in that cluster. once this is determined I can use that image as the icon of the cluster. I hope this makes sense.

[2017-06-01 08:07] blavejr commented on #113
This method
- (GMSMarker *)renderer:(id<GMUClusterRenderer>)renderer markerForObject:(id)object;

could be what I am looking for but I have no idea how to use the object given and what to return.

[2017-06-01 08:14] blavejr commented on #113
I guess my real question is how do I use this
-- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker {
    if ([marker.userData isKindOfClass:[MarkerDetails class]])

to check for cluster markers instead of item markers?

[2017-06-03 04:35] minhvn commented on #59
@mountainvat  Hi aSon, this ext support to heatmaps layer?
Thank you very much.

[2017-06-04 23:40] mountainvat commented on #59
Hi @minhvn , heatmap is still on our to do list. You are welcome to contribute to the library if you wish.

[2017-06-04 23:47] minhvn commented on #59
Hi a Son,
If I can, i will do it.. But i cannot :( i hope it will avaliable soon
Thank aSon.

On Mon, Jun 5, 2017 at 6:40 AM Son Nguyen <notifications@github.com> wrote:

[2017-06-07 19:49] arknee opened #114 "Slow with swift"
Hello, I'm trying to use a google map with a clusterrenderer implementation, but I don't need to use the clusters, so I always return false in the shouldCluster, just the capacity of changing marker icons and update the markers with new positions.
What I'm experiencing is that the map slows full app each time I update the markers.
I cannot find working code of how to rightly update the markers.
He

[2017-06-08 14:39] arknee commented on #114
I think I have solved it this way:

DispatchQueue.global(qos: .background).async() {
//here I get all my objects with the map data
DispatchQueue.main.async {
//here I remove offline users and cluster map
}
}

There are no sloweness anymore.
But I'd like to know if the markers are updated the way I'm doing, I haven't found any tutorial or example on the matter, and a lot of people is asking about i

[2017-06-09 09:09] jschmid opened #115 "Drop support for iOS 7"
Google Maps SDK for iOS finally [dropped support for iOS 7](https://developers.google.com/maps/documentation/ios-sdk/releases) with release 2.3.0.

There are a lot of discussions here (like #23) to be able to use CocoaPods with Swift.

Is this going to happen sometime soon? Thanks!

[2017-06-11 11:03] AAverin commented on #99
Also, dynamic frameworks are needed: https://github.com/Carthage/Carthage

[2017-06-11 11:33] AAverin opened #116 "Handling cluster events, how to get userData for the item?"
I am handling tap events on clusters and cluster items, but I can't find a way to access underlying object for markers, because `GMUCluster` doesn't have userData objects.
Is it safe to cast `GMUCluster` to `GMSMarker`?
[code]

[2017-06-12 02:29] domesticmouse commented on #114
Can I get you to outline what it is you are attempting to achieve? If you aren't interesting in clustering, then maybe you shouldn't be using a clustering library.

If you could put your sample app up as a github repo, then I will have a look at it. It isn't easy to discern what is going on just by reading a wall of source code. =)

[2017-06-12 09:31] domesticmouse commented on #115
Please raise a bug request for dropping the static binary on the [Google Maps SDK for iOS issue tracker](https://developers.google.com/maps/documentation/ios-sdk/support#issue-tracker).

With that out of the way, I should mention that using Google Maps SDK for iOS with Swift has been possible for some time, and is not dependent on dropping the static binary build.

[2017-06-12 09:31] #115 closed

[2017-06-12 10:40] arknee commented on #114
I'm using the cluster library for the hability to render the markers as a group (I tried rendering markers on their own and it was slow). But don't need it to cluster my markers, so I return false in "shouldCluster". Don't know if it is done that way, but it works.
What I'm trying to archieve is to handle a set of users locations, so I need to update the location of the markers in the cluster, rem

[2017-06-12 10:46] domesticmouse commented on #116
I am a tad confused. The core intent of the [GMUClusterAlgorithm](https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/Algo/GMUClusterAlgorithm.h) is to cluster [GMUClusterItem](https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/GMUClusterItem.h)s, a protocol that you can implement on your own data classes. You can render the generated clusters

[2017-06-12 10:49] domesticmouse commented on #114
Given your requirements, you would probably be better off creating your own in memory data structures to store references to a set of `GMSMarker`s that you create for each user. As you aren't clustering the markers, running the clustering algorithm is a waste of CPU and the user's battery.

[2017-06-12 11:12] arknee commented on #114
OK, I thought this was the best way of handling multiple markers.
Thanks for your time, I'll do that :)

[2017-06-12 11:25] AAverin commented on #116
I think I was able to cast GMUClusterItem directly to my custom item and it worked

[2017-06-13 01:19] domesticmouse commented on #114
Thanks!

[2017-06-13 01:19] #114 closed

[2017-06-13 01:47] domesticmouse commented on #116
That would work, `GMUClusterItem` is a protocol after all. Glad it is working for you!

[2017-06-13 01:47] #116 closed

[2017-06-13 01:49] domesticmouse commented on #113
Closing this out as WAI. Please re-open if you need us to make any other changes. Thanks!

[2017-06-13 01:49] #113 closed

[2017-06-13 01:49] domesticmouse commented on #111
Closing this out as stale for now. Please re-open if you upload a repro case. Thanks!

[2017-06-13 01:49] #111 closed

[2017-06-13 01:53] domesticmouse commented on #99
Please feel free to create an issue on the [Google Maps SDK for iOS issue tracker](https://developers.google.com/maps/documentation/ios-sdk/support#issue-tracker) about the dynamic frameworks issue. We are no longer supporting iOS 7, so that change should now be feasible.

As for Carthage support for both Google Maps SDK for iOS and the Google Maps iOS Utils, please feel free to submit pull reques

[2017-06-13 01:53] #99 closed

[2017-06-13 02:43] domesticmouse commented on #86
I'm changing this to "Create a best path process for using Google Maps iOS Utils with Swift" documentation, as that seems to be the issue here.

Please correct me if I am wrong. Thanks!

[2017-06-13 02:49] domesticmouse commented on #62
Updating the title to reflect current requirement

[2017-06-13 02:53] domesticmouse commented on #59
To appropriately manage expectations, we are not currently working on a Heat Map feature for Google Maps iOS Utility library. We are, however, open to pull requests from the community.

Thanks!

[2017-06-13 02:58] domesticmouse commented on #57
Closing this out as stale. Please re-open when you have uploaded a minimal reproduction sample to a GitHub repo that I can checkout and use to debug what is going wrong, and verifying a fix. Thanks!

[2017-06-13 02:58] #57 closed

[2017-06-13 03:00] domesticmouse commented on #55
Any chance of getting a minimal reproduction case uploaded a Github repo so that I can checkout your code and figure out what is going wrong?

[2017-06-14 10:49] ahsanmisbah commented on #87
I searched so many sites how to get allItems when tapping on didTapCluster, actually i want to open list in a tableview when tap on cluster instead of it will divided in more clusters. Please help me out.

[2017-06-14 14:16] artemsmikh commented on #17
Anybody knows is there a way to set it up without modifying the umbrella header as @yadavanand did?

[2017-06-15 08:09] ttmdung203 commented on #27
@mountainvat Could you give me an idea? I have the same problem, maybe I got crash when I override `isEqual:` function of id<GMUClusterItem>. But I don't know why. Just a simple function. If I remove this code, app not crash when I rotate device quickly anymore.
`open override func isEqual(_ object: Any?) -> Bool {
        if let marker = object as? ClusterMarkerItem {
            let content = us

[2017-06-16 22:42] ivampir commented on #23
Do you start support use_frameworks?

[2017-06-18 00:12] juniorgarcia commented on #86
I "can" configure my project, although when I will make my `ViewController.swift` implements `GMUClusterManagerDelegate` my Xcode crashes instantly. I even created the class [as the docs say](https://developers.google.com/maps/documentation/ios-sdk/utility/marker-clustering#adicionar-um-clusterer-de-marcadores-simples), but can't go further. Tried to configure it manually and with CocoaPods, both

[2017-06-18 00:32] juniorgarcia opened #117 "Xcode crashing after install GMS Utils"
Xcode version 8.3.1 (8E1000a) is instantly crashing when autocompleting `GMUClusterManagerDelegate` for some reason. I could create a child class of `GMUClusterItem` without crashing but could not go further with the documentation due this crash.

I tried to configure manually and with CocoaPods but both give me the same crash.

[2017-06-18 08:50] tapan-nathvani opened #118 "Want to display cluster selection"
In the application, user can select multiple cluster so how can we change the image when select a cluster and when that cluster expand the same image will be set to expanded cluster also. And when user deselect the cluster we need to make it default.

How can we achieve this ?

In - (BOOL)clusterManager:(GMUClusterManager *)clusterManager didTapCluster:(id<GMUCluster>)cluster

We are not able to c

[2017-06-19 03:54] domesticmouse commented on #118
I'm going to have to ping @mountainvat for confirmation on this, but my reading of the code is that you can't do it directly with the code as it currently stands.

The model is currently that you create a set of `GMUClusterItem`s that are clustered by `GMUClusterManager`, and the generated `GMUCluster`s will be rendered onto a `GMSMapView` using a `GMUClusterRenderer`.

My feeling is that you will

[2017-06-19 03:58] domesticmouse commented on #117
I'd argue this is an issue with Xcode, and as such I'd suggest you upgrade to a more recent version of Xcode and/or raise issues with Apple. Thanks!

[2017-06-19 03:58] #117 closed

[2017-06-19 03:59] domesticmouse commented on #86
Crashing Xcode seems to be a rite of passage for iOS developers. It looks like Apple have rewritten their Swift parser in Xcode using Swift in Xcode 9, so hopefully this will cease to be an issue sooner rather than later.

[2017-06-19 04:06] mountainvat commented on #118
I think you can hook up to the `- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker` delegate on the default cluster renderer to build a mapping between a cluster and the marker. Then you can use that mapping to figure out the GMSMarker associated with your cluster in the `- (BOOL)clusterManager:(GMUClusterManager *)clusterManager didTapCluster:(id)cluster`.
An p

[2017-06-19 04:10] domesticmouse commented on #87
@ahsanmisbah This is an issue tracker, not a Q&A site. I'd suggest you ask your programming questions on StackOverflow. Thanks!

[2017-06-19 05:19] tapan-nathvani commented on #118
@mountainvat I can add a marker but then suppose user does zoom in/out of the map then that cluster should be selected and its sub part (pins or cluster) also selected ? How can we achieve this ?

[2017-06-19 06:12] tapan-nathvani commented on #118
Here i am doing something to changed the image...

- (BOOL)mapView:(GMSMapView *)mapView didTapMarker:(GMSMarker *)marker {
  if ([_delegate respondsToSelector:@selector(clusterManager:didTapCluster:)] &&
      [marker.userData conformsToProtocol:@protocol(GMUCluster)]) {
    id<GMUCluster> cluster = marker.userData;

      if([marker.snippet isEqualToString:@"Selected"]) {
          [marker setIc

[2017-06-19 21:43] mountainvat commented on #118
I'd suggest you maintain the selected state independently from the library code and use them in the willRenderMarker delegate to decide which image to show. If a cluster becomes visible (because of panning) the willRenderMarker will be called so that you can update the marker before.

Please note that all the default clustering algorithms are stable meaning that for a given zoom level the clusteri

[2017-06-20 04:41] tapan-nathvani commented on #118
but now the problem is willRenderMarker not calling

[2017-06-20 04:53] mountainvat commented on #118
Can you please be more elaborate on what do you think should warrant a willRenderMarker event here?

[2017-06-20 15:15] ivampir commented on #23
I getting exactly same error. Did you solve it?

[2017-06-21 10:12] ivampir opened #119 "Target has transitive dependencies when pod lib lint"
I want use GoogleMaps in my pod.

My podspec:

Pod::Spec.new do |s|

  s.name = 'TCSExperiments'
  s.summary = 'Library for Experiments'
  s.authors = 'v.ampilogov'
  s.homepage = 'http://www.tinkoff.ru'
  s.version = '0.0.3'
  s.platform = :ios
  s.ios.deployment_target = '8.0'
  s.license = { :type => 'MIT' }
  s.source = { :git => 'https://stash.tcsbank.ru/scm/mi/experiments.git', :tag => s.ver

[2017-06-22 11:17] MaeseppTarvo commented on #62
I need the same solution. I also have multiple markers with exact same location and would like to see them in circle or somehting. And the suggested #63 ticket is not even related to that issue which was suggested by @mountainvat .

[2017-06-22 11:29] MaeseppTarvo opened #120 "Correctly handle clustering when markers are placed identically"
I am in situation where I have couple of markers(annotations) in exact same location. Now I want user to see them all, but they are under each other.

Lets say I have 4 markers on location lat: 37.331829 and lng: -122.031169

Now what would be the best to show all three markers in maybe shape like this(this circle is imaginable):

<img width="202" alt="screen shot 2017-06-22 at 14 22 20" src="http

[2017-06-22 20:22] rajeejones commented on #86
The instructions aren't clear:

What does it mean releative path?
There is no "GMUMarkerClustering.h" in the entire repo, or am I missing something?

Again, I cant find this file

[2017-06-22 20:57] rajeejones commented on #86
Solution:

1. Create a Swift Bridging Header

2. Name it how you want. Usually **[Project Name]-Bridging-Header.h**

3. Make sure your target can read the file path

_(If you put the bridging header in the root of your project, then just put the file name. Otherwise put the path to the file. EX: **"[Project Name]/Resources/[Project Name]-Bridging-Header.h"** )_

4. Change the path of the imports t

[2017-06-23 05:49] kalidosstesark opened #121 "Same Location Multiple Marker - Marker Animating Issues"
How to avoid marker animation ?

Reference :

![googlemapissues](https://user-images.githubusercontent.com/24803874/27468131-a10cb916-5805-11e7-9dbf-21433d879bfc.gif)

[2017-06-26 16:09] LivioGama commented on #114
Not related to this Google Maps issue but Firebase : I advice you to not make the client remove the others users going offline. It's better than the others remove themselves with the removeOnDisconnect() method

[2017-06-28 04:06] domesticmouse commented on #114
@LivioGama Please raise this question on [StackOverflow](https://stackoverflow.com/) and tag the question with [Firebase](https://stackoverflow.com/questions/tagged/firebase). There are people from firebase team monitoring that forum. Thanks!

[2017-06-28 07:54] LivioGama commented on #114
It was not a question, it was an advice to the author.

[2017-06-28 19:25] sam2x commented on #59
Hey, there is maybe a solution about this. To be concise, it's about fundrasing it. I referenced this issue (see above mention, I dont want to crosslink issue).

Discussions has started, and author of cordova-plugin-googlemaps may do it for 1k$ (him or someone else).If you are also interested, or just wants to give your point of view, please join the discussion.

More we'll be, more we will unders

[2017-06-29 01:01] domesticmouse commented on #59
Actually, I spoke too soon. I don't think we will need to fund raise this specific feature at this point. Thanks!

[2017-06-29 01:02] domesticmouse commented on #114
@LivioGama sorry, my bad. Thanks!

[2017-06-30 12:20] cancem123 opened #122 "Change pin image without affecting cluster"
I am trying to change the orginal red pin to the different image icon but it is changing the clustering circle view while I just want the pin it self. Is there a way for it?

    private func generateClusterItems() {

        for item in storeList {

            let item = POIItem(position: CLLocationCoordinate2DMake(item.coordinates.latitude, item.coordinates.longitude), name: "")

            cl

[2017-07-03 08:47] madBureaToT commented on #119
@ivampir : Have You Got solution for this. I am facing same issue. If You solved then please Provide the solution actually i have also tried #23 But still facing same issue.

[2017-07-03 09:32] madBureaToT opened #123 "Target has transitive dependencies that include static binaries"
The solution of` use_framework` thst is used in Swift for binary framework is given on this
[link](https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md).

I have followed all steps, now i having this problem.

1. firstly i have created clustered items
[code]
By this code there isn't any issue it build correctly without any issue and now when i write this `GMUClusterManagerDeleg

[2017-07-03 09:49] madBureaToT commented on #123
Your Bridge Header file looks like this:

`#import "GMUClusterItem.h"`

and in `GMUMarkerClustering.h`  just add this import by removing all

#import "GMUCluster.h"
#import "GMUClusterManager.h"
#import "GMUDefaultClusterIconGenerator.h"
#import "GMUDefaultClusterRenderer.h"
#import "GMUGridBasedClusterAlgorithm.h"
#import "GMUNonHierarchicalDistanceBasedAlgorithm.h"
#import "GQTPointQuadTree.h"

[2017-07-03 09:49] #123 closed

[2017-07-06 15:07] sharplet opened #124 "Static analysis warning: nil passed to non-null parameter in GMUGeoJSONParser"
Enabling the "Analyze During 'Build'" setting reveals the following warning:

[code]

![capture 2017-07-06 at 11 07 09 am](https://user-images.githubusercontent.com/147686/27917876-496c7968-623b-11e7-936e-f153f51f5d9e.PNG)

[2017-07-15 17:59] mrsnax commented on #44
Hi,

How to use CustomMarkers in Swift ? Thank you

[2017-07-26 15:01] inna0 opened #127 "Change default text color for cluster"
Hello!

I'm using clustering for my app. I'm wondering, is there a way to change default white color for text in cluster?
<img width="329" alt="screen shot 2017-07-26 at 17 59 49" src="https://user-images.githubusercontent.com/30472432/28628114-5eef6c54-722c-11e7-9a00-5edd9870e9f3.png">

[2017-07-27 22:25] Jianhaos commented on #23
I solved the issue by creating a development pod wrapper for GoogleMaps:

[Google-Maps-iOS-SDK-for-Business.zip](https://github.com/googlemaps/google-maps-ios-utils/files/1181420/Google-Maps-iOS-SDK-for-Business.zip)

We use GoogleMapsM4B but it should be the same idea for regular GoogleMaps. The zip file contains the .podspec file and the dummy class files, you need to copy the real frameworks fr

[2017-07-28 20:30] jum opened #128 "Swift version of the GMUDefaultClusterRenderer protocol is missing a nullable annotation"
The swift version of GMUDefaultClusterRenderer protocol is not allowing NULL results for creating markers:

`diff --git a/src/Clustering/View/GMUDefaultClusterRenderer.h b/src/Clustering/View/GMUDefaultClusterRenderer.h
index 3e6c299..37bf830 100644
--- a/src/Clustering/View/GMUDefaultClusterRenderer.h
+++ b/src/Clustering/View/GMUDefaultClusterRenderer.h
@@ -43,7 +43,7 @@ NS_ASSUME_NONNULL_BEGIN

[2017-07-31 01:53] mountainvat commented on #128
Can you please create a Pull Request for this? Thanks.

[2017-07-31 14:32] jum commented on #128
Added pull request #129.

[2017-07-31 14:32] #128 closed

[2017-08-03 13:44] blurpy opened #131 "Missing animation when kGMUMaxClusterZoom is reached"
I was overriding shouldRenderAsCluster in GMUDefaultClusterRenderer to set my own max zoom level for clusters, when I noticed that the animation stopped working when reaching that level.

**To reproduce:**
Open GMUDefaultClusterRenderer and change kGMUMaxClusterZoom to something smaller, like 13. Start the DevApp and zoom in on the map by tapping until level 14 is reached.

**Expected outcome:**
M

[2017-08-04 07:41] kalpeshjjethva commented on #72
I am using the POIItem() as nsobject but how can i store data? and how can i get the data? from the tap on cluseter.

[2017-08-05 16:53] blurpy commented on #131
OK, so I've been experimenting a bit more, and found a way of avoiding the repeated animation issue. I don't know for certain if this creates other issues yet, but it looks promising.

The code changes I made in the library can be seen here:
https://github.com/blurpy/google-maps-ios-utils/commit/a1129080a23138e1ba9f768e80768cdd31f70c16

This is a hack that is very similar to the one I did on Andro

[2017-08-25 11:56] jasperrietrae opened #133 "Is it possible to add new markers to the ClusterManager without closing the info windows?"
On Android it's possible to add new markers by `clusterManager.addItem` followed by `clusterManager.cluster`, but on iOS calling `cluster` closes the info popup window. What can I do about this?

[2017-08-26 01:35] domesticmouse commented on #133
Hey @mountainvat, does the clusterer update mechanism keep markers that are already present on screen, or does it clear everything and add new markers?

[2017-08-27 22:57] mountainvat commented on #133
As it is implemented it clears everything and add new markers. I do not see a workaround here unfortunately.

Is the info window of a item marker or a cluster marker?

[2017-08-28 06:02] jasperrietrae commented on #133
@mountainvat I see, alright. It doesn't clear on Android when using the ClusterManager, which is quite bad in terms of consistency. Any way we could get that fixed?

It's an info window of an item marker.

[2017-08-31 02:40] juvs opened #135 "Change style (specific icon and title) on features from GeoJSON parser"
Maybe is something is already answered, but how I can change the style of features from GeoJSON parser based on properties from any single feature?

I have the following:

[code]
Any help appreciated!

Regards

[2017-08-31 03:28] juvs opened #136 "GeoJSON, properties not reflected on marker userData"
When use Point on GeoJSON, this creates a GMSMarker, but when try to access properties from JSON is suppose to find it on userData attribute from marker, but is always nil. Well actually I found that from any Geometry type this attribute is not set, for now I only need for Point, so...

Checking the code for GMUGeometryRender.m I found there's no logic to assing this attribute, so I import the cod

[2017-08-31 10:05] jasperrietrae commented on #133
We hack-fixed it by showing the previously displayed infowindow again after a refresh in didRender. We'd prefer a proper solution, but until then we can use this.

[2017-09-01 13:47] jigs777 opened #137 "GMUHeatmapTileLayer.h file not found"
google-maps-ios-utils-master/samples/SwiftDemoApp/SwiftDemoApp/SwiftDemoApp-Bridging-Header.h:20:9: error: 'Google-Maps-iOS-Utils/GMUHeatmapTileLayer.h' file not found
#import <Google-Maps-iOS-Utils/GMUHeatmapTileLayer.h>

[2017-09-01 21:58] juvs commented on #137
Did you follow this instructions?

https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md

[2017-09-02 21:21] mountainvat commented on #137
Heatmap has not been released publicly so you will also need to point to :git => "https://github.com/googlemaps/google-maps-ios-utils" in your Podfile.

[2017-09-04 10:02] petretR opened #138 "How to access GMUCluster items property in the willRenderMarker method ?"
By accessing the marker.userData property in the willRenderMarker delegate method I can implement some logic and customise my markers before they will be added to the map.

The question is, how can I access the :
`@property(nonatomic, readonly) NSArray<id<GMUClusterItem>> *items; `

Indeed, by checking the marker.userData property I know if it is a cluster or a clusterItem.

[code]

If it is a Clu

[2017-09-04 11:33] jigs777 opened #139 "how to add custom marker add when cluster expanted"
how to set custom marker using cluster..instead of default marker..
thanks in adavance...

[2017-09-04 11:49] #138 closed

[2017-09-06 19:33] xtnguyen opened #140 "GoogleMaps.h file not found from GMUClusterManger.h while archiving xcode project"
Everything works perfectly on the simulator and when building on devices from xcode however this error keeps persisting when I archive my project. My bridging header path is indicated to the correct one, I don't see how i can resolve the issue
<img width="847" alt="screen shot 2017-09-06 at 21 31 30" src="https://user-images.githubusercontent.com/14217467/30130893-0e5eca6a-934b-11e7-97be-2dbcaa25c

[2017-09-07 12:28] yozef commented on #137
+1

[2017-09-07 12:56] kumrDeepak commented on #34
Hi,  I am fresher in swift and i want add a custom marker icon in  clustering. so Please give me any suggestion as a code.

Thanks.

[2017-09-07 13:21] yozef opened #141 "Heatmap from KML"
I've noticed Heatmap has been implemented as an initial commit.

Since most cases will utilize HeatMap from a KML (or JSON) file, the standard for KML files for Heat Maps look like this:
[code]

The **weight** of each point (from **coordinates**) in this case: EC Deep(dS/m), maybe this could be a custom variable to look for or simply reference the name.

At the moment using this KML with latest re

[2017-09-08 15:58] gsmeros opened #142 "Animate POIItem after clearAll() and add new items"
I am having trouble animating the position change of my markers.
This is my code so far but the CATransaction animation is not working.
I tried implementing it on the marker object but nothing. Thank you.

[code]

[2017-09-14 12:03] pavlidismi commented on #122
did you find an answer to this?

[2017-09-14 16:23] azyet22 opened #143 "Heatmap not rendered"
After following the instructions in https://developers.google.com/maps/documentation/ios-sdk/utility/heatmap on adding heatmaps, the heatmap was not rendered on the map. There were no errors.

[2017-09-15 08:36] SerhiiMatvieiev opened #144 "Why in demo clustering so slow?"
When I try zoom the map, something block UI, and I need wait when animation finished for next zoom.
Why it happens, anybody know ? How to fix it, and make clustering smooth ?

[2017-09-16 16:26] AllionKanishka opened #145 "Clusters count not decrements properly in Google Map iOS."
I've been using this util classes and its all working fine. And my app is developed for both iOS and Android using Google Map SDk iOS/Android. My issue is goes as follows.

When I zoom out (on zoom level = 5.0) it shows one 50+ clustering circle. When zoom in (on zoom level = 6.0) it suddenly drops to 3 x 10+ clustering circles where as in Android its 3x20+. Is there anyway to control this behavio

[2017-09-19 01:53] mountainvat commented on #145
Can you try changing the bucket size?
https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/View/GMUDefaultClusterIconGenerator.m has default buck sizes: [@10, @50, @100, @200, @1000]

[2017-09-19 03:58] domesticmouse commented on #122
I believe what you will need to do is to add attributes to the items you cluster so the renderer code can choose the right marker for the unclustered items.

/cc @mountainvat

[2017-09-19 04:08] domesticmouse commented on #143
Any chance of uploading your sample to GitHub so I can have a look?

[2017-09-19 04:11] domesticmouse commented on #142
What are you attempting to achieve here? If memory serves correctly, the cluster rendering code drops the current markers and paints new clustered markers.

[2017-09-19 04:11] domesticmouse commented on #144
Please upload your sample code to GitHub so I can have a look at what is going on. Thanks!

[2017-09-19 04:14] domesticmouse commented on #141
Hey @Tilps is this a use case that your code should support, or is it something we need to add code for?

[2017-09-19 04:16] domesticmouse commented on #140
Can you please upload a minimal reproduction case to GitHub so that I can investigate?

[2017-09-19 06:50] SerhiiMatvieiev commented on #144
I used this demo project:
https://github.com/googlemaps/google-maps-ios-utils/tree/master/samples/SwiftDemoApp

[2017-09-19 09:25] AllionKanishka commented on #145
Thank you very much! Its working.

[2017-09-19 09:25] #145 closed

[2017-09-19 17:39] azyet22 commented on #143
Hi domestic mouse. It's actually working but it seems the intensity is pretty low, barely visible. I set the intensity to 1 which I believe is the highest.

                          if let arrivals = object["Arrivals"] as? [AnyObject] {
                                for item in arrivals {
                                    let lat = item["Latitude"] as! Double

[2017-09-20 04:04] domesticmouse commented on #144
My suspicion is that the re-clustering, being expensive on the CPU, will not be kicked off until the map idle event fires.

You could, in theory, do some interesting work with changing the clustering algorithm to work in a more real time fashion, but given the high CPU impact that might have, it isn't something I want to take on at this point.

/cc @mountainvat thoughts?

[2017-09-20 04:07] domesticmouse commented on #141
I had a chat with the engineer that wrote this code, and there isn't an obvious hint to the KML parser that the KML it is ingesting is meant to be a heatmap instead of a cluster of points. Is there some form of standard around heatmaps as KML that we can leverage here?

[2017-09-20 04:07] mountainvat commented on #144
What device did you run it on? And what is your use case? The sample code has 10k items and were running fine on our test devices.

[2017-09-20 05:37] aedemo commented on #59
please provide heat map for IOS. :)

[2017-09-20 11:31] yozef commented on #141
Hi @domesticmouse The KML for Heatmaps is just a set of coordinates in the `<Placemark>` tag, with their appropriate weight. In this case the weight is in the `name` (this can also be found in simple data). Since the Weight of each point can be custom (depends on the device which generates the heatmap), it could be construed that parameter of the weight can be passed as an argument into the HeatMa

[2017-09-22 03:50] domesticmouse commented on #59
We have just released v2.1.0 that now includes Heatmap support. =)

[2017-09-22 03:50] #59 closed

[2017-09-22 04:17] minhvn commented on #59
Bravo team :)

[2017-09-25 13:18] yozef commented on #141
Update: I was able to extract the data points myself from the KML (basically parsed the XML/KML file), and converted them into an Array of points `{ longitude: x.xxxx, latitude: y.yyyy, intensity: 0.5 }`

However, if I paste this KML into Google Earth, and use google-maps-ios-utils, there is a sharp difference in rendering.

Take for example, the KML into Google Earth:
<img width="282" alt="gearth

[2017-09-25 14:59] lhasiuk opened #148 "Compilation warnings under Xcode 9"
These are not actual problems, merely three places where the parameter list in the comment does not match the declaration below it.  However, they cause compilation warnings, which can be annoying.

GMULineString.h:37 (coordinates vs. path)
[code]

GMUGeoJSONParser.m:205 (coordinates: vs. coordinates, i.e. doesn't like the inclusion of the ':')
[code]

GMUPlacemark.h:49 (inlineStyle vs. style)
[co

[2017-09-25 22:28] mountainvat commented on #148
Can you please create a Pull Request?

[2017-09-25 23:07] lhasiuk commented on #148
Yes.  I'll do that either tonight or tomorrow morning.

[2017-09-25 23:21] lhasiuk commented on #148
Ok, I fixed those three lines and issued a pull request.

[2017-09-26 12:40] domesticmouse commented on #141
A heatmap and a collection of points with their individual intensity encoded in each point are two very different things. I suggest you read the code for the heatmap library to understand how it works.

[2017-09-26 12:40] #141 closed

[2017-09-26 22:11] #148 closed

[2017-10-03 15:28] jimmy-devine commented on #140
I'm getting this same issue whenever I try to build my project with Google Maps. I used the instructions to build for Swift here: https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md.

I'll upload a reproduction case when I can.

[2017-10-05 10:45] theolof opened #150 "problem with animatesClusters"
Using the default `GMUDefaultClusterRenderer` and the default `GMUDefaultClusterIconGenerator`.

When `animatesClusters` is true, not all markers are shown when zooming in. This happens around every other time.

Let's say I have 5 markers in a cluster and zoom in, sometimes only 3 markers are shown, sometimes 2, sometimes 5.

I check the delegate function `willRenderMarker` and all 5 are called he

[2017-10-05 16:02] carlosmolano commented on #99
https://github.com/leoneparise/GoogleMaps-Carthage

[2017-10-05 21:44] mountainvat commented on #150
Do you have a repro case here?
Thanks.

[2017-10-06 00:30] domesticmouse commented on #143
/cc @Tilps halp?

[2017-10-11 13:11] minhvn opened #151 "Run SwiftDemo error, and How to render Heatmap to street router service from google API."
Hi Guys,
I download and rebuild sample code of SwiftDemo but it show error :(, before I have pod install. When install, it missing folder heatmap, and I install manual follow instruction but it show 9error.
![screen shot 2017-10-11 at 9 32 47 pm](https://user-images.githubusercontent.com/187747/31447272-c91c0282-aecb-11e7-92c1-479d136831cb.png)

I want show many geo to street router "from location

[2017-10-12 10:03] Sunmair opened #152 "If Google map iOS SDK can launch navigation?"
If Google map  iOS SDK can launch navigation?

[2017-10-12 11:57] return1225 opened #153 "GeoJSON render styles"
I have implemented GeoJSON data with google-maps-ios-utils, but how could I config the rendering styles?
In the documentation of Google Maps APIs, there is seems no example of "GMUStyles" configuration setting.
I tried to setup as following but it's not working on styles change. (geometry features is working well)

----my codes example start here----
geoJsonParser = GMUGeoJSONParser(data: jsonData

[2017-10-13 00:58] mountainvat commented on #153
GeoJSON does not have a concept of styles like KML so you will need to manually associate the style object to a feature. You could loop through geoJsonParser.features and assign it's .style property to the GMUStyle object.

[2017-10-13 04:35] return1225 commented on #153
Thank you @mountainvat, would you help explain how to associate the style object further?
I found that each element in geoJsonParser.feature.style is get-only property which means I cannot assign values to them. e.g. geoJsonParser.features[i].style.strokeColor = UIColor.red
Whether there is a normal style format in geojson text structure so that I can retrieve each .style object directly as the GM

[2017-10-13 04:53] mountainvat commented on #153
The GMUStyle object is immutable but the property GMUGeometryContainer.style is not. You can assign that property to the style object (https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Geometry/Model/GMUGeometryContainer.h#L36). GeoJSON does not support styles in its format (at least at the time of writing the library), that's why you'll have to set them manually.

[2017-10-13 05:19] return1225 commented on #153
Yeah, I got it finally.
It's really good explanation so that I could understand the model more.
Many thanks to @mountainvat.

[2017-10-16 02:01] #153 closed

[2017-10-18 09:32] ivorcho opened #154 "Heatmap is not updated when new data is set"
Hello,

Updating the dataset of coordinates is not updating the heatmap. All my test were on iOS simulator with os version 10.3. Here is the method I use for updating the dataset:
[code]

I read in the documentation that I have to call `[_tileLayer clearTileCache];` but it seems not to work. First time the heatmap is loaded it is rendered, but when I want to update the data and it goes to the else

[2017-10-25 04:59] Riddhi-Bito1 opened #155 "Selected marker color is changed If I Zoom in/Zoom out MapView"
This is the code I am using to Select Marker and change its color. Color is changed if I am tapping on marker, but when I am zooming in/out blue color is changed to red again.

[code]

This is my code for Custom icon generator for Cluster.
[code]

Thanks.

[2017-10-25 12:29] Igorsnaki opened #156 "After update GoogleMaps pod to 2.5.0 project doesn't build"
After update GoogleMaps pod to latest version ( 2.5.0), project doesn't built!
On version 2.3.1 and previous there was no such problem

ld: framework not found GoogleMaps
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2017-10-31 15:09] lolkyfan commented on #122
Cluster manager creates markers for both, cluster items and clusters. It also sets the cluster items and clusters as marker's userData property.
In your renderer(_:, willRenderMarker:) you need to check if renderer is sending you marker for cluster item or cluster:
[code]

[2017-11-06 07:36] hc0405 opened #157 "heat map battery issue"
I put points (around 18 ~ 35 points) in the map every time in different zoom level .
After tested, battery quality from 100% to 82% (18%)  in  45 mins.
and Android vision about 6%.

[2017-11-06 11:31] hc0405 commented on #157
event only 1 point. battery drop quickly too.

[2017-11-07 01:39] domesticmouse commented on #157
I'm curious what your testing protocol here is? Did you have the app open and the screen on for the whole 45 minutes? You might want to look at https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/InstrumentsUserGuide/MeasuringEnergyImpact.html

[2017-11-07 05:58] adapptorsimon opened #158 "GMUDefaultClusterIconGenerator.kGMUBucketBackgroundColors should not be null"
In initWithBuckets:backgroundColors:, kGMUBucketBackgroundColors is used to store the icon colors to be used for this icon generator.

This is a problem if you want to use multiple cluster managers (and therefore multiple icon generators). If you try this (as I just did), all cluster managers end up using the background colours from the most recent call to the initializer, not the ones that were s

[2017-11-07 10:01] hc0405 commented on #157
the test method is :
1. No heat map only cluster and drag map 45 mins (about use 3%)
2. heat map (50 points ) and drag map 45 mins (about 18 %) (every idle will reset heat map data)
3. heat map (1 point)  and drag map 45 mins (about 18 %) (every idle will reset heat map data)

[2017-11-09 06:15] thelittlelankanprince commented on #23
@mountainvat Hey, appreciate all of your work. The instructions were a bit difficult to follow especially since I have never worked with bridging headers before. I needed to manually point to the bridging header file under 'build settings' / 'swift compiler - general' / 'objc bridging header' where i simply entered the file path. I am not sure why it didn't do this automatically, and perhaps its v

[2017-11-10 04:39] domesticmouse commented on #157
Now that I understand your method I can see what is happening. I feel the way you are testing the library is not representative of usage, and if it is you would be best off pre-baking the clustering server side. This isn't a usage style we intend to optimise for.

[2017-11-10 04:39] #157 closed

[2017-11-13 03:58] domesticmouse commented on #152
Please see [Maps URLs](https://developers.google.com/maps/documentation/urls/guide) for a cross platform URL that you can use to launch navigation, amongst other capabilities.

[2017-11-13 03:58] #152 closed

[2017-11-13 04:02] domesticmouse commented on #154
Hey @Tilps, any thoughts?

[2017-11-13 08:27] Tilps commented on #154
As per the documentation on GMUHeatmapTileLayer, properties are only captured when setting the map property.  You can recapture the settings without changing the map by doing _tileLayer.map = _tileLayer.map - this will correctly trigger [self prepare] internally.

[2017-11-13 08:44] Tilps commented on #143
Intensity property of WeightedLatLng is purely relative - it just makes the effect of one point worth more than the effect of another.  The final heatmap is normalized, so changing the intensity of all points  from one value to a different value has no effect.  (You can choose any value you like, 1.0 definitely is not the maximum.)
The heatmap's implementation makes some assumptions about the zoom

[2017-11-17 06:59] hc0405 opened #160 "touch on map when use heat map"
Hi, we are experiencing an event occurance issue on heatmap for iOS devices. Most of the time when we click on the heatmap, we do not receive the didTapAtCoordinate event on some heat point. We are unable to find a pattern to this issue as it occurs randomly
(I use cluster and heat map at the same time.)

[2017-11-17 09:57] hc0405 commented on #157
but, the android version does not have this problem.  and why?

[2017-11-17 10:37] hc0405 commented on #157
If you can see my first comment in this issue, battery usage was about 18% in 45 min for iOS devices. However battery usage was only 6% for android devices. Would you know the reason for the difference in two OS and how we can lower the battery usage to similar android performance?

[2017-11-20 00:20] domesticmouse commented on #157
/cc @Tilps

[2017-11-20 23:10] domesticmouse commented on #160
Can you please put together a minimal reproduction case and put it up on Github? I can't debug something without being able to reproduce it. Thanks!

[2017-11-22 01:04] hc0405 commented on #157
@tilps hi, would you be able to assist in this battery issue for iOS devices? Thanks.

[2017-11-22 13:04] ranjtha20 commented on #38
how to implement GMUClusterRenderer for custom marker icon ?

[2017-12-01 04:05] dstharding commented on #92
Try GMSMarkerAnimation.pop

[2017-12-06 11:32] SiddharthChopra commented on #135
I am also facing the same issue with this as I want to changes style

[2017-12-08 02:12] devcsantiago commented on #135
You should be available to use this:

`let features = geoJsonParse.features as? [GMUFeature]
for features in features {
feature.properties // Return properties
}`

The only problem its that doesn't work :(

[2017-12-13 09:40] chanonly123 commented on #27
This is happening when I am changing position(CLLocationCoordinate2D) of GMUClusterItem that is already added to clusterManager. To fix this I removed old GMUClusterItem and added new one and then called clusterManager.cluster(), and it worked.
Is there a better way to update existing GMUClusterItem?

[2017-12-13 20:46] mountainvat commented on #27
Unfortunately this is the current behaviour. Being able to update existing items would be a non trivial effort.

[2017-12-15 13:33] jschwendt commented on #23
Given how much iOS 11 has been adopted at this point, I think it's safe to move beyond iOS 7 support.  I feel like iOS 9 is a good support floor at this point.

[2017-12-23 17:09] jose46moreno commented on #18
What is the value of  kGMUMaxClusterZoom?

[2017-12-23 19:35] jose46moreno opened #161 "Cluster position on the sea"
How can I improve the position of the cluster?

As you can see, he puts them in the water.

I tried to create a subclass of GMUCluster to be able to set the property position, but I do not get it.

Please, help me.

![simulator screen shot - iphone x - 2017-12-23 at 20 35 23](https://user-images.githubusercontent.com/8105593/34322174-d42e428c-e820-11e7-9a32-15bceb2ecd61.png)

[2018-01-08 05:41] domesticmouse commented on #161
The clustering algorithm is unaware of the geography that it is clustering over, and thus can't fix the problem you are seeking to work around.

[2018-01-08 05:41] #161 closed

[2018-01-08 16:37] miragessee commented on #72
@kalpeshjjethva

[code]

[2018-01-11 01:18] miragessee commented on #96
implementation GMUClusterRendererDelegate

renderer.delegate = self

[2018-01-11 01:20] miragessee commented on #21
@jamesynotnot

If don't call func renderer:

implementation GMUClusterRendererDelegate

renderer.delegate = self

[2018-01-15 19:34] khaptonstall commented on #133
Ran into this same issue. Thanks to @jasperrietrae for leading me towards the solution as I was also a little puzzled at this.

For those looking for a code sample, here is what I ended up doing (Note that the `currentSelectedMarker` is an optional `GMSMarker` I store on my class to keep track of which marker is selected. Also `MyCustomClusterItem` is my own class conforming to `GMUClusterItem` pr

[2018-01-17 16:34] miche-atucha opened #162 "Warning"
on Clustering/View/GMUDefaultClusterIconGenerator.m:195:12: Incompatible pointer types initializing 'UIColor *' with an expression of type 'UIImage *'

[2018-01-17 21:35] mountainvat commented on #162
Good catch. Would you mind creating a PR? on line 35, https://github.com/googlemaps/google-maps-ios-utils/blob/master/src/Clustering/View/GMUDefaultClusterIconGenerator.m#L35, the _backgroundColors should be of type NSArray<UIColor *> * rather than NSArray<UIImage *> *.

Thanks.

[2018-01-18 01:17] mountainvat commented on #162
Fixed by PR https://github.com/googlemaps/google-maps-ios-utils/pull/163

[2018-01-18 01:17] #162 closed

[2018-01-30 03:26] danielVebman opened #164 "Can heat map show average intensity instead of density of points in a bucket?"
Instead of showing the density of points in a bucket, can the heat map color be based on the average intensity of the points in the bucket? Is it possible to do this with the existing framework or with some minor modifications, or is an entirely new tool required? Does Google Maps have such a tool?

Thanks!

[2018-02-01 22:47] #164 closed

[2018-02-08 17:20] fgrios opened #165 "items clustering without call to clusterManager.cluster()"
Hello,

I am using an older version of this lib (2016) and have noticed that when I remove the call to clusterManager.cluster(), the items still cluster!!!??? Is that possible? I have searched my code high and low for a possible second call, but there is just no other call. Here is my code.

`func clusterMarkers () {
        //clear out the marker array
        self.markers.removeAll()

        //

[2018-02-08 20:47] fgrios commented on #165
Actually, I found the answer. clusterManager.clearItems calls requestCluster which calls cluster. Since I call clearItems early on, it appears like commenting out cluster call has no effect on clustering behavior.

[2018-02-08 20:47] #165 closed

[2018-02-08 20:58] fgrios opened #166 "slow clustering or rendering"
I previously (2016) had a problem with slow clustering and determined that I was using very heavy objects as my GMUClusterItems. I solved the problem by creating very lightweight object that only contained a position and an identifier. This improved performance by orders of magnitude and has been working for over a year.

I have recently updated the google-maps-ios-utils library to the current rel

[2018-02-12 18:48] Daxito commented on #140
Hi,
I am also getting this error (File not found, see screenshot) when trying to Build, my pod file has pod 'GoogleMaps', not sure what is still missing, please advice.

![image](https://user-images.githubusercontent.com/16787057/36113519-b2293152-0ff2-11e8-816a-99453e39a8e1.png)

[2018-02-12 20:18] kirkhunter commented on #150
I've created a pull request to address this issue. If a cluster is not to be rendered as a cluster, is partially visible, and the cluster item representative is off the screen then it's possible that the cluster would fail to be rendered even though there may be visible cluster items. This is causing the markers to disappear especially as a result of incremental zoom changes.

[2018-02-13 19:26] kirkhunter commented on #155
For anyone else experiencing this issue, implementing the delegate method renderer:willRenderMarker: in GMUClusterRendererDelegate solved this issue for me

[2018-02-14 04:23] Riddhi-Bito1 commented on #155
Okay, Thank you

[2018-02-18 23:24] domesticmouse commented on #156
The correct place to raise issues about Google Maps SDK for iOS is our [Issue Tracker](https://issuetracker.google.com/savedsearches/5050151). Please review the Issue Tracker for similar issues, and if you can't see one, please create a new bug describing the issue.

This issue tracker on GitHub is for the add on open source Utilities library codebase.

[2018-02-18 23:24] #156 closed

[2018-02-19 20:12] paul-aigue commented on #136
Hello, is your pull request up for this feature ? :)

[2018-02-19 20:17] juvs commented on #136
@paul-aigue No, there isn't a pull request, sorry, no time to do the entire changes for all types of geometry.

[2018-02-26 10:06] Recouse opened #169 "Adding to swift project"
I'm doing as said here https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md
But got an error
<img width="871" alt="screen shot 2018-02-26 at 15 05 21" src="https://user-images.githubusercontent.com/7093328/36664434-7d31edc6-1b06-11e8-8315-dba7129c0a0a.png">

[2018-02-26 10:17] Recouse commented on #169
Sorry, my mistake. I added files without creating groups.

[2018-02-26 10:17] #169 closed

[2018-02-28 06:58] sanghavan commented on #121
I got same issue

[2018-03-12 15:01] AnilkumarRabhasa opened #170 "Google Maps iOS SDK not able to show “LineString” from GeoJson File"
I have installed Google Maps SDK for my Swift application. I run the sample code from google, its working fine. But, If I try to load my GeoJson file on maps, its rendering data, but, not showing anything.
if type is "Ploygon" its loading, but, if type is "LineString" its not showing anything.

Can anyone suggest me, how to show linestring in Google maps for iOS?

[2018-03-13 04:43] domesticmouse commented on #170
Hi @AnilkumarRabhasa,

Can you upload your sample app on GitHub somewhere so I can debug it?

brett

[2018-03-13 05:11] AnilkumarRabhasa commented on #170
Hi, @domesticmouse thanks so much for your quick response, I have already raised query in stackover.  Please check,
https://stackoverflow.com/questions/49236503/google-maps-ios-sdk-not-able-to-show-linestring-from-geojson-file

[2018-03-13 05:13] AnilkumarRabhasa commented on #170
Let me know if you need anymore, but, can you please give the solution for this since I was struck here from 2 days.

[2018-03-13 05:23] #170 closed

[2018-03-13 05:30] AnilkumarRabhasa commented on #170
@domesticmouse Can I know why it is closed?

[2018-03-13 05:51] domesticmouse commented on #170
I've closed this issue because you have (correctly) migrated this issue to StackOverflow.

[2018-03-13 05:52] gerryats opened #171 "Is it possible to zoom marker"
Is their any way to zoom selected marker or Change marker color without changing icon?

[2018-03-13 06:18] AnilkumarRabhasa commented on #170
Oh Okay, Thanks!

[2018-03-22 00:33] domesticmouse commented on #171
The Google Maps iOS SDK is an OpenGL context, and the icons are images uploaded into the OpenGL context. Changing the icons requires uploading new images to the OpenGL context.

[2018-03-22 00:36] domesticmouse commented on #171
With that said, please raise a feature request on our [Issue Tracker](https://developers.google.com/maps/support/#issue_tracker)

[2018-03-22 00:36] #171 closed

[2018-03-22 00:37] #154 closed

[2018-03-22 00:37] #166 closed

[2018-03-22 00:38] #160 closed

[2018-03-22 00:38] #155 closed

[2018-03-22 00:39] domesticmouse commented on #151
Which SwiftDemo are you using?

[2018-03-22 00:42] #150 closed

[2018-03-22 00:43] #144 closed

[2018-03-22 00:43] #142 closed

[2018-03-22 03:12] domesticmouse commented on #140
I'd still appreciate a repro case. Thanks!

[2018-03-22 03:18] domesticmouse commented on #139
This is an open source project. Please feel free to add appropriate extensions to the codebase to enable this capability.

[2018-03-22 03:18] #139 closed

[2018-03-22 03:20] #137 closed

[2018-03-22 04:29] domesticmouse commented on #136
Hey @juvs, I'd like to patch in your change, but I can't until after you have signed the CLA. Please create a pull request and our bot will ask you to fill in a form. Thanks!

[2018-03-22 04:48] domesticmouse commented on #131
Closing this out, as I believe @kirkhunter's PR fixes this issue. Please comment if this isn't the case. Thanks!

[2018-03-22 04:54] domesticmouse commented on #133
Closing this out as not implementable.

[2018-03-22 04:54] #133 closed

[2018-03-22 04:55] #131 closed

[2018-03-27 07:12] wangliguang opened #173 "Whether it can be displayed accurate number in cluster marker ？"
If it is have 225 markers.  the cluster marker show 225，rather than 200+

[2018-03-27 10:42] wangliguang commented on #173
Whether can control when show normal marker by zoomLevel?

[2018-03-27 10:42] wangliguang commented on #173
Whether can control when show normal marker by zoomLevel

[2018-03-28 02:31] domesticmouse commented on #173
The logic that rounds counts down appears to be around https://github.com/googlemaps/google-maps-ios-utils/blob/97abfa78285562ae9522b91dd9d4b89edb717e15/src/Clustering/View/GMUDefaultClusterIconGenerator.m#L113

I'd suggest you clone the repo and adjust it to your needs.

[2018-03-28 02:31] #173 closed

[2018-03-28 10:50] wangliguang opened #174 "I need to switch marker type between normal marker and cluster marker by zoomlevel。"
My project need to switch marker type between normal marker and cluster marker by zoomlevel.
for Example,  I want to show normal marker when the zoomlevel of map > 15 and show show cluster marker when the zoomlevel of  map < 15.

What should I do. Thanks very much

[2018-03-29 22:55] kirkhunter commented on #174
You can change kGMUMaxClusterZoom manually in GMUDefaultClusterRenderer.m
Or you can try subclassing GMUDefaultClusterRenderer and overriding shouldRenderAsCluster

[2018-03-31 01:31] wangliguang commented on #174
thanks

[2018-03-31 01:31] #174 closed

[2018-04-04 11:42] Hendies567 commented on #23
Any updates at all?

[2018-04-11 06:08] mihirpmehta commented on #140
Getting exact same error after updating pods on exact same place

[2018-04-15 05:32] PatoSalazarNascent opened #176 "didTapAtCoordinate not showing selected Marker"
I want to change the icon of my selected marker to a deselected one if the user taps on the map.  I am usign the following delegate method :

[code]

however map.selectedMarker always comes nil. Even when the documentation says ```This is called before deselecting any currently selected marker (the implicit action for tapping on the map) ```
so I was expecting  to be able to see my selected marker

[2018-04-16 06:32] FizzXiaoyu opened #177 "CoreData: annotation: Failed to load optimized model at path"
CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/58C9F157-EE69-4CDD-AE3A-7A7C415D581E/zzp.app/GoogleMaps.bundle/GMSCacheStorage.momd/StorageWithTileProto.omo'

[2018-04-16 06:46] domesticmouse commented on #177
I think you will find the right place to log this issue is actually through the Google Maps SDK for iOS [Issue Tracker](https://developers.google.com/maps/support/#issue_tracker).

[2018-04-16 08:22] FizzXiaoyu opened #178 "CoreData: annotation: Failed to load optimized model at path"
CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/5A7FB194-7AD8-49F2-BA55-461BEED745A1/征仔拍.app/GoogleMaps.bundle/GMSCacheStorage.momd/StorageWithTileProto.omo'

[2018-04-16 08:26] FizzXiaoyu commented on #177
So that's the problem with your demo.

[2018-04-16 11:54] sidlauskaslukas commented on #135
I can confirm that it still doesn't work and "properties" is not available for use.

[2018-04-16 18:08] PatoSalazarNascent commented on #58
Also have the same issue. Could not use the podfile as my app is using  `use_frameworks!`. Will Render is getting called twice for each marker.

For one single marker and a cluster marker (of six clusterItems) if I print inside the willRender method I get

[code]

also calling cluster only once when a promise resolves.

[code]

[2018-04-16 18:40] PatoSalazarNascent opened #179 "marker.iconView toggles back and forth when clustering"
I am adding custom iconViews to ClusterItems and Clusters likes this

[code]

The `getClusterIcon(itemsCount: clusterData.count)` method just gets and icon from a switch statement  and the creates a new image with the count in it (which works)

However if I zoom out, and a single pin needs to merge with a cluster, the will render method kicks in and I see my cluster pin icon toggling from the old

[2018-04-16 18:57] kirkhunter commented on #179
I ran into this issue too. I got past it by setting the marker zIndex property in renderer(_:willRenderMarker:)

[2018-04-16 19:59] PatoSalazarNascent commented on #179
@kirkhunter I am doing this now, but still see the flickering...what am I doing wrong?

[code]

[2018-04-16 20:01] kirkhunter commented on #179
set the zIndex back to 1 for singlePin

[2018-04-16 20:05] PatoSalazarNascent commented on #179
Still, see the issue.... would you mind sharing with me a snippet of your code @kirkhunter ?? Maybe my `getClusterIcon` method is bad...

[2018-04-16 20:06] PatoSalazarNascent commented on #179
btw here is I am generating the Cluster Icon

[code]

[2018-04-16 20:29] #179 closed

[2018-04-17 05:51] FizzXiaoyu opened #180 "Please solve it quickly."
CoreData: annotation: Failed to load optimized model at path '/var/containers/Bundle/Application/5A7FB194-7AD8-49F2-BA55-461BEED745A1/征仔拍.app/GoogleMaps.bundle/GMSCacheStorage.momd/StorageWithTileProto.omo'

[2018-04-17 06:38] domesticmouse commented on #180
Duplicate of https://github.com/googlemaps/google-maps-ios-utils/issues/177 ?

[2018-04-17 06:53] FizzXiaoyu commented on #180
yes,But you didn't solve it.

[2018-04-17 15:37] frios commented on #58
Do you call clusterManager.clearItems() sometime before this? I was looking at this call and saw that it calls clusterManager.algorithm.clearItems() then calls requestCluster(). That seemed to be the issue for me that created the duplicate willRender calls.

I fixed it by calling clusterManager.algorithm.clearItems() directly, bypassing the call to requestCluster().

[2018-04-17 17:14] kirkhunter commented on #176
What worked for me was subclassing GMUClusterItem (or in your case GMUCluster), giving it custom properties like whether it's selected, and icon, and I kept a reference to the selectedMarker in my MapViewController, which I made nil in mapView(_:didTapAt:).

[2018-04-18 14:57] PatoSalazarNascent commented on #176
I do understand the idea, however, I am using the Clustering library and I don't know how to feed a custom subclass of GMUCluster to the clustering manager...

[2018-04-18 14:58] PatoSalazarNascent commented on #176
I'll close the issue as I found a work around. Thanks anyways @kirkhunter

[2018-04-18 14:58] #176 closed

[2018-04-20 21:28] spensko opened #181 "Crash after open/close map multiple times"
I have UIVIew subclass, with GMSMapView and GMUClusterManager inside

[code]

[code]

after open/close controller with map several times (~3-10 times) i get this crash

[2018-04-26 09:30] laurencechengithub commented on #38
Hi, I'm new in Swift, (don't understand obj-c)
after stuck for hours, could somebody be kind enough to give me guideline on how to implement customize marker??
i mean, where to put each func ?
where should create new variable?
and which files should i extension?

anyone please,

[2018-04-30 21:17] michael-mckenna commented on #181
We are having the same problem. Did you ever find a solution?

[2018-05-02 02:55] xkawi commented on #140
was encountering this issue earlier on, would like to share how I found and fix the issue.

Chances are your GoogleMaps dependency is not installed properly during `pod install` process, which you can verify by tapping on the "Pods" project within  your Xcode, then expand "Pods > GoogleMaps", you should see a few folders and files under GoogleMaps. If you don't, that means it's not installed prope

[2018-05-02 15:01] spensko commented on #181
No, but _mapView is always null in
`- (void)dealloc {
  [_mapView removeObserver:self forKeyPath:kGMUCameraKeyPath];
}`

so observer may exist while GMUClusterManager already deallocated

[2018-05-03 16:44] maulik6994 opened #182 "Don't hide custom info window"
when Tape on anywhere in map it disappear the infoWindow of marker

[2018-05-04 08:36] farshadmb commented on #23
please review and send me feedback #183 @domesticmouse @jeffbailey @Hendies567

[2018-05-06 22:47] #181 closed

[2018-05-06 22:48] michael-mckenna commented on #181
@spensko Great, thanks!

[2018-05-09 15:50] maxdea commented on #141
Yosef, it does not work...
Using "the standard for KML files for Heat Maps", at the bottom it says
"... list of Placemark(s)...."

which is the format to specify to insert a set of coordinates with the relative weights in order to be displayed in Google Earth?
Thanks

[2018-05-10 11:50] CristianoCastro commented on #181
I was having the same problem. ClusterManager has weak reference to mapView, so when deallocating, if the mapView is null already, it won't remove itself from observer, leading to crashes

[2018-05-10 15:26] cernym46 opened #184 "Heat map"
I have a problem with heat maps - when there is a big concentration of points in one place and just few points in other place, then the second one is almost totally invisible. I've tried modified all settings like radius, opacity and intensity but nothing helped.

Here ( https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap ) I don't have this problem.

Is it a feature

[2018-05-11 23:11] sajeel opened #185 "Want to show/hide markers based on display priority in case of collision detection"
Hi, is there any way to find the collision detection of markers iconview ? as iconview frame always have x,y as 0. How to find the iconview frame with X and Y

CGPoint markerPointOnView = [[self.mapView projection] pointForCoordinate:marker.position];

 markerPointOnView doesnt give me iconView position on view.

[2018-05-12 09:58] cernym46 commented on #184
I've just found out that it's possible to solve it by setting first gradient value to very low value (~0.001). Sorry for unnecessary issue, but maybe it will help somebody.

[2018-05-12 09:58] #184 closed

[2018-05-14 12:51] dbood opened #187 "CRASH while active zooming map with HEATMAP."
Heatmaps looks like have internal problems while active zooming map which lead to regular crash.
Steps to reproduce:
1) Download google-maps-ios-utils repository.
2) Install pods for Sample project "SwiftDemoApp".
3) Add new function to HeatmapViewController.swift, which zoom map very often:
[code]
4) Add call to this function at the end of viewDidLoad of HeatmapViewController.swift:
`self.randomZ

[2018-05-19 16:28] fongd opened #188 "No custom images for marker items if GMUDefaultClusterRenderer delegate is class instance"
Not sure how to phrase this issue, but hopefully this makes sense. I'm using Swift 4.1, Xcode 9.3.1, Google Maps installed as a CocoaPod, google-maps-ios-utils installed following the instructions here: https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md

I'm trying to customize the marker items by creating a custom cluster renderer using something like this:

[code]

In my vi

[2018-05-22 06:03] Ramani1994 commented on #180
please all member declare how to solve out this problem

[2018-05-22 06:03] Ramani1994 commented on #180
same problem ni my project

"CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/B2FAE4F8-9037-4D83-9644-5153224258C9/VSMotionPanoramaViewExample.app/GoogleMaps.bundle/GMSCacheStorage.momd/Storage.omo' "

[2018-05-22 11:14] sylvan-d-ash commented on #153
Just in case someone else comes across this, I did the following to get it to work:

[code]

[2018-05-23 03:00] PatoSalazarNascent opened #189 "MyLocation Marker is always behind custom markers"
Hi.

When is set the map to display MyLocation `map.isMyLocationEnabled = true`, the blue dot marker always seems to have a lesset zIndex that any other marker. Is there a way to change the ZIndex of the myLocation marker so it always displays above other markers (including cluster ones)

Thanks

[2018-05-23 04:33] domesticmouse commented on #189
This looks like a question for Google Maps SDK for iOS. Please raise the question on this [bug tracker instead](https://developers.google.com/maps/documentation/ios-sdk/support).

[2018-05-23 04:33] #189 closed

[2018-05-24 06:04] navakanth commented on #180
facing with same problem with sample application

[2018-05-24 21:25] kirkhunter commented on #188
Your second implementation is correct. You probably already know this but, generally, the delegate defines a protocol, and some other class implements it. So if you create a custom renderer delegate, you may define a method signature, and your map view controller will extend your custom renderer delegate and implement the method it defined.

[2018-05-25 08:15] pisxid commented on #180
Same problem:

CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/0D400299-C537-4D0B-8D07-19F21E903DE9/MyAPP.app/GoogleMaps.bundle/GMSCacheStorage.momd/StorageWithTileProto.omo'

[2018-05-30 12:13] Hendies567 opened #191 "Constant idle CPU usage on VCs containing a google map"
Hi there, I'm using the Swift version of this clustering SDK within my application (latest google-maps-ios-utils version, GoogleMaps 2.7.0, Swift 4.1, Xcode 9.4 beta). My issue is that google maps doesn't seem to allow the CPU to actually idle when there's no screen interaction.
Via Xcode Instruments' CPU Profiler, numerous symbols are shown to keep firing in the background. I've attached a few sc

[2018-05-30 13:46] vburojevic commented on #63
@mountainvat returning NO still doesn't show the info window. when tapping on the marker in the cluster. What is the proper way to show the info window then?

[2018-05-30 13:53] vburojevic commented on #63
Ok, in combination with `willRenderMarker` solution above and returning NO, I managed to show the info window.

[2018-05-31 01:10] domesticmouse commented on #191
Please raise an issue on the [Google Maps SDK for iOS Issue Tracker](https://developers.google.com/maps/documentation/ios-sdk/support#issue-tracker). This is the issue tracker for the open sourced utility library, not Google Maps SDK for iOS itself.

Thanks!

[2018-05-31 01:10] #191 closed

[2018-06-01 09:10] Cyberbeni opened #192 "Add static framework flag to podspec"
s.static_framework = true

[2018-06-06 05:53] amitbacd commented on #72
if any one have demo of this point please share with me...

thanks in advance.

[2018-06-25 11:17] prashant-andani commented on #127
you can add any styling by adding third parameter like the below
`let clusterOptions = {
 styles: [
  {
            textColor: "green",
            textSize: 14,
            fontFamily: "Open Sans"
          }
        ]
};`

`let clusterer = new window.MarkerClusterer(
       mapInstance,
        markersArray,
       clusterOptions
);`

[2018-06-27 22:53] breakline87 commented on #188
Can you guys please update the documentation and provide samples on how to set custom images for both the cluster images and markers? At the moment it's rather lacking

[2018-06-28 00:47] breakline87 opened #193 "Get all items on map (clusters and/or markers)"
Is this possible? I don't see any method which makes the markers accessible except during rendering.

Consider a scenario like:

1. user taps on a marker
2. all markers and clusters should get an opacity of 0.5
3. user taps on anywhere on the map
4. all markers and clusters should get an opacity of 1.0

My only idea is to redraw the whole thing, but is that economical?

Thanks

[2018-07-04 10:55] slorber commented on #180
same here, using react-native-maps on Expo SDK28 detached. The map appears blank with markers and polylines on it and I get this error on logs.

Anyone has a solution?

[2018-07-11 08:32] return1225 commented on #135
Here is a sample to iterate rendering all features with customized style.
Try it :)
[code]

[2018-07-13 02:54] domesticmouse commented on #180
Quick question, is this set of errors to do with the Google Maps iOS Utility library, or the Google Maps for iOS SDK? Looking at the reported issue, I'm guessing the latter?

[2018-07-13 03:03] domesticmouse commented on #180
A couple of potentially useful links:

- [issuetracker.google.com/64504919](https://issuetracker.google.com/issues/64504919)
- [stackoverflow.com/questions/47236769](https://stackoverflow.com/questions/47236769/failed-to-load-optimized-model-googlemaps-sdk-ios)

[2018-07-13 03:03] #180 closed

[2018-07-17 07:10] dneykov opened #194 "Clustering question"
Hello,

my application is clustering GMSMarker on the map. Now I have to add GMSPolygon and GMSPolyline. My question is - is it possible to cluster GMSPolygon and GMSPolyline too? I don't find anything about that.
Any help will be appreciated.

Thanks

[2018-07-23 08:09] Albinzr commented on #17
why can't I install 'Google-Maps-iOS-Utils' thru pod?
Its still showing error

[2018-07-27 10:37] ravigupta049 commented on #26
Hi,
I have an array of cluster item and i am updating the position of particular cluster item, but the app is getting crashed.
All i want a way is to update position of particular cluster item.

I am doing something like this:
item.position = Some coordinate
clusterManager?.cluster()

Following is the error i got when i updated the position.
Terminating app due to uncaught exception 'NSInternalInc

[2018-08-04 10:37] lexuanquynh commented on #26
the same issues.

[2018-08-04 11:01] lexuanquynh commented on #26
check lat:
 if lat > 85 || lat < -85 {
//don't add clusterManager.add(item)
}
it a little code make app not crash, but
I don't know why it run.

[2018-08-06 20:48] ahmedk92 opened #196 "Heatmap is always green despite using variant intensities"
I use the following code from the docs:

[code]

I create the weighted points like this:

[code]

But this results in the areas all green. What am I doing wrong?

[2018-08-06 21:18] HeshamMohamed92 commented on #196
the same issue here

[2018-08-09 07:36] NaiyerAghaz commented on #17
Thanks i had use this only and working fine
target 'SIPTest' do
    # Comment the next line if you're not using Swift and don't want to use dynamic frameworks

    # Pods for SIPTest
    pod "Swig"
end

[2018-08-09 14:02] alpamys-qanybet opened #197 "how to install it to React Native"
how to install it to React Native? I use react-native-maps and install libraries without cocoa pods.

[2018-08-10 21:27] domesticmouse commented on #197
I’m not up to speed with how to integrate with react native. I’d suggest asking your question on stack overflow.

[2018-08-10 21:27] #197 closed

[2018-08-16 08:58] alpamys-qanybet commented on #197
@domesticmouse, ok, forget about react native, how to install it without cocaopods? I need manual installation.

[2018-08-22 11:52] mrsnax opened #198 "Cocoa pods"
Is there any pods for this repositories?

Thank you

[2018-08-28 07:22] bussalleu2 opened #199 "Adding this library to my swift framework"
I'm developing a framework library in swift, so I can not add the library using pods and I can not follow the solution proposed here: https://github.com/googlemaps/google-maps-ios-utils/blob/d45945c6ff0937568aa7068502b2ad12dcdb0b50/ Swift.md since as I am developing a framework, it is not allowed to put a bridging-header.
How can I include this library in my swift framework?

[2018-08-30 16:59] maxrandolph commented on #136
This would be great to implement :)

Thanks @juvs

[2018-09-05 12:37] wcenGitHub opened #200 "result in specific language"
Hi there,

i wonder if the search address result can ben in a specified language, not going with device language

Thanks
Wayne

[2018-09-11 07:15] Gajalakshmi94 commented on #121
I too have same issue. I don't know how to fix that?
![skype_video](https://user-images.githubusercontent.com/36196391/45344043-56d5ca80-b5c0-11e8-8564-0c9c1524a1ae.gif)

[2018-09-11 10:14] fukemy opened #203 "display very large geojson format?"
hello. I want to display very large geojson file, but it seem the map not smoothly when move, tab, zoom. Can you suggest me someway to solve it?

[2018-09-12 07:03] fukemy commented on #153
[code]
disable fill not working? Plz help

![bf38da462219c2479b08](https://user-images.githubusercontent.com/8202437/45407782-a84f8980-b694-11e8-8055-25d7263c891b.jpg)

[2018-09-12 07:45] fukemy opened #204 "highlight geojson are when clicked"
Hello. I want to highlight geojson when click to position included by geojson area. Plz guild me the way to do it

[2018-09-12 08:44] fukemy commented on #153
hello. I fixed it by modifying GMUGeoJSONParser class, just set default for Polyline fill color. Plz help my question: I want to highlight geojson feature on click. I dont know the way to do it

[2018-09-12 08:48] fukemy opened #205 "get feature clicked?"
hello. I have a question:
 How to get GMUGeometry coordinates when click on map

[2018-10-02 09:52] Tequilag commented on #181
Why issue is closed, if the problem still exist?

[2018-10-06 08:27] crazyjooe commented on #181
Having the same issue, nilling cluster won't help!

[2018-10-12 08:00] ulaserdegor commented on #39
Same problem. Can you share your Bridging-header file and folder structure? @mountainvat  @mdabrarniyazi

[2018-10-17 18:12] dragisaMarkovic opened #207 "Is CLLocationCoordinate2D point in KML loaded areas?"
Hi all, I am facing the problem with check if user entered into KML area. I am using this code to load KML:
let path = Bundle.main.path(forResource: "TEST-HAZARD", ofType: "kml")
        let url = URL(fileURLWithPath: path!)
        let kmlParser = GMUKMLParser(url: url)
        kmlParser.parse()

        let renderer = GMUGeometryRenderer(map: self.mapView,

[2018-10-19 00:08] domesticmouse commented on #177
This issue is a problem with the Google Maps SDK for iOS, not the utils library.

[2018-10-19 00:08] #177 closed

[2018-10-24 09:48] takeshi-akutsu commented on #121
How did you guys solve this problem??

[2018-10-31 10:49] nastassia-kavaliova commented on #178
Have the same issue.
The log is
CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/.../My.app/GoogleMaps.bundle/GMSCacheStorage.momd/StorageWithTileVersionID.omo'

[2018-10-31 21:36] domesticmouse commented on #178
This is an issue with Google Maps SDK for iOS, not this utility library. Please file an issue on the [Google Maps SDK for iOS tracker](https://issuetracker.google.com/issues/new?component=188833&template=789005).

[2018-10-31 21:36] #178 closed

[2018-11-02 01:18] dev-sawd opened #208 "Can I select GMUClusterItem after add in manager?"
Thx for your clustering lib.

I wanna show marker info window after add in manager.

When I use GMSMarker, I implement like this.

[code]

How can I select marker using GMUClusterItem?

[2018-11-09 08:00] Thanhnc85 commented on #121
// At zooms above this level, clusters will be expanded.
// This is to prevent cases where items are so close to each other than they are always grouped.
static const float kGMUMaxClusterZoom = 20;

I have changed kGMUMaxClusterZoom = 21. If markers have same location then they are always grouped. And I show makers in collectionView below bottom map when tap on cluster :)

[2018-11-21 10:05] sonxurxo opened #209 "GMUGeometryRenderer is not applying the external styles when no styleMaps are specified"
Currently, when using the following constructor:

[code]

the `styles` parameter is not forwarded to the inner constructor call, so those styles are lost.

I'll submit a PR along the day.

[2018-11-26 02:08] rene-dohan commented on #17
Any update on this ?  Your cocoa pods support is just useless, you can remove it to stop confusing people. use_frameworks! is just necessity nowdays...

[2018-11-26 02:40] domesticmouse commented on #17
I have two options here. One, mark this project as no longer supported, the other is accept PRs from the community without much in the way of review. I'm no longer proficient in ObjC, for instance.

Preferences?

[2018-11-26 05:42] rene-dohan commented on #17
Just remove that podspec and fix bugs if you like by review or not st all,
works quite good for me... Somebody can fork and continue, if you make it
clear to people...

On Sun, Nov 25, 2018, 8:40 PM Brett Morgan <notifications@github.com wrote:

[2018-11-29 23:32] rene-dohan commented on #23
So we don't have to use_frameworks! in cocoapods anymore... I switched to static libraries with use_modular_headers! enabled and this library is working well like that. I had it until now copied directly to sources.

[2018-12-17 11:21] muhammadalkhalaf commented on #100
Is there any full guide for that ????

[2018-12-17 11:25] muhammadalkhalaf opened #211 "install manual without CocoaPods"
As a new iOS developer, it took me a few hours of messing with ObjectiveC headers to make it work in the end but most of them does't work :(
 The guide "https://github.com/googlemaps/google-maps-ios-utils/blob/master/Swift.md" is very basic and doesn't mention the need to change almost all header files
Is there any full guid for that please

[2018-12-19 01:11] kwilk83 commented on #26
I ran into this issue too and it was due to using invalid lat long values.

[2018-12-19 11:15] Scarnet opened #212 "KMLParser returns empty array"
Hello,
I tried parsing the KML string but it returns an empty array of place marks and styles

[SwiftDemoApp.zip](https://github.com/googlemaps/google-maps-ios-utils/files/2694588/SwiftDemoApp.zip)

[2018-12-19 17:44] lassana commented on #208
I'm also looking for this feature. @dev-sawd Have you managed to do it?

[2018-12-20 01:20] dev-sawd commented on #208
@lassana
unfortunately not yet.

[2018-12-20 09:41] lassana commented on #208
I found a way how to do it. This is C# code, it can be easily converted to ObjC/Swift. `ClusterItem` is a custom data class which contains `Id` property; it's being set as a `UserData` of each marker:

[code]

[2018-12-24 07:38] dev-sawd commented on #208
Thx for your solution.
I'll check my issue as soon as possible :)

[2018-12-30 17:55] rodmaz commented on #86
This is still an ongoing issue as far as I can tell. We have a  framework, which uses other libraries.
This is fully supported by Apple through private modules.

So we created a private module w/ all the headers making up this module:

    module GoogleMapsUtils {
      header "../../Vendor/google-maps-ios-utils/src/Clustering/GMUCluster.h"
      header "../../Vendor/google-maps-ios-utils/src/Clus

[2019-01-08 06:03] Prathapreddy26 commented on #86
I am done with the clustering. but the cluster count is not showing for me. Any help will be appreciable.

[2019-01-08 06:19] Prathapreddy26 commented on #21
@mountainvat Can you help with my problem? I am done with the clustering. The markers are clustered. but, it is not showing the Cluster count. Any help will be appreciable.

[2019-01-08 10:50] eldarkk opened #213 "2 POItems at 1 point don't clustering"
Good day. Im developing for Ios Swift Project.
I have 2 POItems (2 markers) which have same(identical) coordinates, but they dont clustering. I see 1 POItem(marker) on map. By tapping i see 1 infoWindow of them. For next tap on this POItem i see infoWindow of second POItem. I want make 2 POItems clustering in 1 cluster with 2 items in it.
I added buckets to my cod like so:

        let iconGenerat

[2019-01-09 14:05] DancingWind commented on #213
Same issue - if 3 point in same coordiante + 1 nearby POI nearby they group and all points at some distance will cluster and can be selected by custom list. But if zoom in on thsoe 3 at exact same coordinates then random POI is on top and only that one is selectable.

[2019-01-10 00:31] mumphus opened #214 "Small Scale Heatmaps Nearly Useless"
I am working on an app that takes measurements along with coordinates and I wanted to map areas where the measurements are high in certain areas so people could visualize this as well as coming back to the area to find why the measurements were high. My issue comes when zooming in on the map, the points are just shadows and have no representation of intensity. It seems the more you zoom out the be

[2019-01-10 07:08] Prathapreddy26 commented on #63
Hello Guys,
delegate methods are not called when I was debug. Anyone know how to do this?

        id<GMUClusterAlgorithm> algorithm = [[GMUNonHierarchicalDistanceBasedAlgorithm alloc] init];
        id<GMUClusterRenderer> renderer = [[GMUDefaultClusterRenderer alloc] initWithMapView:self.mapView clusterIconGenerator:iconGenerator];
        ((GMUDefaultClusterRenderer *)renderer).delegate = self;

[2019-01-10 18:55] aliakhtar49 commented on #181
Can someone look into this , it's related to this issue

https://stackoverflow.com/questions/54129679/random-kvo-block-crashes-when-allocating-mapview-happens-only-when-open-close-s

[2019-01-11 05:13] aliakhtar49 opened #215 "Random KVO block crashes when allocating mapView, happens only when open/close screen several times"
App is crashing on a map screen when it open and close several times. (Mostly on 6th attempt)
Class that inherits from GMSMapView

[code]

[2019-01-11 05:21] aliakhtar49 commented on #215
App is crashing on a map screen when it open and close several times. (Mostly on 6th attempt)
**Class that inherits from `GMSMapView`**

In ViewController viewDidLoad I am calling init method of mapView

[2019-01-11 20:34] kwilk83 opened #216 "StyleUrl for GMUPlacemark not matching up with any GMUStyle within the _styles property of GMUGeometryRenderer."
I have found that when the below kml document is parsed by GMUKMLParser, the resulting GMUPlacemark object does not have a valid string within the StyleUrl property that references a GMUStyle object.  Thus no style is applied to the given placemark despite being set and exported via Google Earth Pro desktop Mac app.

[code]

[2019-01-18 06:57] Usman4Github opened #217 "Lexical or processor issue"
<img width="256" alt="screen shot 2019-01-18 at 11 56 39 am" src="https://user-images.githubusercontent.com/5094671/51370249-4ad2ba00-1b18-11e9-98af-44d7d9585dcb.png">
issue arises while achieve. works fine for normal run.

[2019-01-23 15:47] kwilk83 commented on #205
You want to use the GMSProjection object within the GMSMapView object.  It should be able to translate lat/long to a CGPoint referencing the screen coords.

[2019-01-24 05:54] shantaramk opened #218 "Misssing address component"
I have been using the google map sdk but in geo code sdk api i am not able to get the proper postal code as compare the the web api.

My Latitude Longitude are 38.720630, -9.152830
Getting following postal code in response for GeoCode SDK API and Web API:

GeoCode SDK API :  1250
Web API :  1250-012

[2019-01-26 09:36] avadeshgoibibo commented on #19
@nagender04031989 Did you find any solution? Same problem for me.

[2019-02-13 23:17] zhuxinyu2468 opened #219 "no count number after customize cluster marker"
I'm new to Objective-c and I'm trying to get the count number of the item marker after customized the cluster marker icon. Can anyone give me some help please? Thanks.

here is the code that I used for customize the cluster marker icon

- (void)renderer:(id<GMUClusterRenderer>)renderer willRenderMarker:(GMSMarker *)marker {

    if ([marker.userData conformsToProtocol:@protocol(GMUCluster)]) {

[2019-02-14 18:47] amphib commented on #216
I am having same problem. It looks like GMUKMLParser is not properly parsing the <Pair> tag in <StyleMap>

[2019-02-19 23:22] nnhubbard commented on #219
[code]

Then you can use `count` for whatever you need.

[2019-02-20 12:57] KingOlami opened #221 "Getting Toll spots"
I have gone through the entire documentation but could not get anything. how can I get where tolls exists on and where on the current map to determine if a user has passed any